{% set id = random() %}
<li data-accordion-item>
    <a href="#!" class="geb-accordion-b__title" aria-controls="environmental-impact-{{id}}-accordion" role="tab" id="environmental-impact-{{id}}-accordion-label" aria-expanded="false" aria-selected="false">{{ params.title }}</a>
    <div class="geb-accordion-b__content" data-tab-content="" role="tabpanel" aria-labelledby="environmental-impact-{{id}}-accordion-label" aria-hidden="true" id="environmental-impact-{{id}}-accordion" name="environmental-impact-item" custom:title="{{ params.title }}">
        {{ content|raw }}
    </div>
</li>