<li data-accordion-item="">
    <a href="#!" class="geb-accordion-a__title" id="owerlg-accordion-label" aria-expanded="false" aria-selected="false">{{ params.title }}</a>
    <div class="geb-accordion-a__content u-p-0" data-tab-content="" role="tabpanel" aria-labelledby="owerlg-accordion-label" aria-hidden="true" id="owerlg-accordion" style="display: none;">
        <ul class="geb-accordion-b" data-accordion="" data-multi-expand="true" data-allow-all-closed="true" role="tablist" data-n="4cr4pt-n">
            {{ content|raw }}
        </ul>
    </div>
</li>
