{% set identTab = 'tab_item'~ random() %}
<ul class="nav nav-tabs" id="tabs-{{identTab}}" role="tablist">
 
</ul>
<div class="tab-content" id="tabs-tabContent">

    {{content|replace({'tab_item': identTab })|raw }}
</div> 
<script  type="application/javascript">
  (function(val) {
    const codeTab = '<li class="nav-item" role="presentation">'+
     '<a href="#idTab" class="nav-link active" id="idTab-tab"'+ 
      'data-bs-toggle="pill" data-bs-target="#idTab" role="tab" aria-controls="idTab"'+
		  'aria-selected="true">title</a>'+
	  '</li>'
    const childs =  document.getElementsByClassName('{{identTab}}');
    for (let i = 0; i < childs.length ; i++) {
      var title = childs.item(i).dataset.title;
      var insertTab = codeTab.replace("title",title)
      if(i == 0){
        document.getElementById(titleToId(title)).className += " active" ;
      }
      if(i == 1){
        insertTab = codeTab.replace("nav-link active","nav-link")
      }
      insertTab = insertTab.replaceAll("idTab",titleToId(title));
      document.getElementById('tabs-{{identTab}}').innerHTML += insertTab;
    }
  })('app');
  function titleToId(title){
      return title.replace(/ /g, "").normalize("NFD").replace(/[^a-zA-Z0-9 ]/g, "")
  }
  </script> 
