{% set id = params.title|replace({' ': ''}) %}
 <div class="tab-pane fade show" id="{{id}}" role="tabpanel" aria-labelledby="{{id}}-tab">
  {{content|raw}}
   <div class = "tab_item" data-title= "{{params.title}}" style="display:none !important;"></div>
</div>  