<li data-accordion-item class>
    <a href="#" class="geb-accordion-c__title" id="owerlg-accordion-label" aria-expanded="false" aria-selected="false">{{ params.title }}</a>
    <div class="geb-accordion-c__content u-p-4" data-tab-content role="tabpanel" aria-labelledby="owerlg-accordion-label" aria-hidden="true" id="owerlg-accordion" style="display: none;">
        {{ content|raw }}
    </div>
</li>