{# @todo: handle the unit of the fileSize (si operator in legacy template engine) #}
{% block ezbinaryfile_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set download_route = ez_route('ez_content_download', {
            'content': content,
            'fieldIdentifier': field.id,
            'fieldIdentifier': 'file',
            'version': contentInfo.currentVersionNo
        }) %}
        {% set fileClass = ""  %}
        {% if attr.class is defined %}
    	    {% set fileClass = attr.class %}
        {% endif %} 
        <a href="{{ ez_path(download_route) }}" class="{{ fileClass }}" title="{{ ez_content_name( content ) }}">
            <span class="geb-list-archive__item-icon" data-icon="arrow-down-circle"></span> 
            <span class="geb-list-archive__item-content">
                {{ ez_content_name( content ) }}
            </span>
        </a>
    {% endif %}
{% endapply %}
{% endblock %}