{% extends "@EzPublishCore/content_fields.html.twig" %}

{% block ezmedia_field %}
{% if not ez_field_is_empty( content, field ) %}
{% apply spaceless %}
    {% set type = fieldSettings.mediaType %}
    {% set value = field.value %}
    {% set download = ez_route('ez_content_download', {
        'content': content,
        'fieldIdentifier': field.id,
        'fieldIdentifier': 'file',
        'version': contentInfo.currentVersionNo
    }) %}
    {% set width = value.width > 0 ? 'width="' ~ value.width ~ '"' : "" %}
    {% set height = value.height > 0 ? 'height="' ~ value.height ~ '"' : "" %}

    <div {% if attr is defined %}{{ block( 'field_attributes' ) }}{% endif %}>
    {% autoescape false %}
    {% if type == "html5_video"
        or type == "quick_time"
        or type == "windows_media_player"
        or type == "real_player" %}
    {% elseif type == "html5_audio" %}
        <audio src="{{ ez_path(download) }}"
            {{ value.autoplay ? 'autoplay="autoplay"' : "" }}
            {{ value.hasController ? 'controls="controls"' : "" }}
            {{ value.loop ? 'loop="loop"' : "" }}
            preload="none">
            Your browser does not support html5 audio.
        </audio>
    {% else %}
        {# This is the same for html5 video but system is getting type as flash #}
        {% set valueThumbnail =  ez_field_value( content, 'thumbnail' ) %}
        {% if valueThumbnail is defined and valueThumbnail is not null and valueThumbnail.uri is defined and valueThumbnail.uri is not null %}
          <video controls  {% if id is defined and id is not empty %} data-gallery-player id="gallery-item-{{id}}"{% endif %} preload="none" width="100%" height="100%" poster="{% if valueThumbnail.uri != "" %}{{ asset( valueThumbnail.uri ) }}{% elseif params.poster is defined %}{{ params.poster }}{% endif %}">
              <source src="{{ ez_path(download) }}" type="video/mp4"/>
          </video>
        {% else %}
          <video controls  {% if id is defined and id is not empty %} data-gallery-player id="gallery-item-{{id}}"{% endif %} preload="none" width="100%" height="100%" poster="">
              <source src="{{ ez_path(download) }}" type="video/mp4"/>
          </video>
        {% endif %}
    {% endif %}
    {% endautoescape %}
    </div>
{% endapply %}
{% endif %}
{% endblock %}
