{% extends "EzPublishCoreBundle::content_fields.html.twig" %}
{% block ezobjectrelation_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty( content, field ) %}
            {{ render( controller( "ez_content:viewAction", {'contentId': field.value.destinationContentId, 'viewType': 'text', 'noLayout': 1} ) ) }}
        {% endif %}
    {% endapply %}
{% endblock %}