{% extends "EzPublishCoreBundle::content_fields.html.twig" %}
{% block ezselection_field %}
    {% apply spaceless %}
        {% if not fieldSettings.isMultiple %}
            {{ fieldSettings.options[field.value.selection.0] }}
        {% endif %}
    {% endapply %}
{% endblock %}