{% block ezimage_field %}
    {% set data = '' %}
    {% if parameters.dataHTML is defined and parameters.dataHTML %}
        {% set data = parameters.dataHTML %}
    {% endif %}
    {% set imageAlias = ez_image_alias( field, versionInfo, alias ) %}
    {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
        {% set src_image = imageAlias.uri ? asset(imageAlias.uri) : "" %}
        <img src='{{ src_image }}'  {% if zoomable is defined and zoomable is not empty %} data-zoomable={{zoomable}} title="Zoom" {% endif %}  {% if imageAlias.width is not empty %} width='{{ imageAlias.width }}' {% endif %} {% if imageAlias.height is not empty %} height='{{ imageAlias.height }}' {% endif %} {% if class is defined and class %} class='{{class}}' {% endif %} alt='{{ field.value.alternativeText }}' {{ data|raw }}/>
    {% endif %}
{% endblock %}