{% block ezimage_field %}
	{% set imageAlias = ez_image_alias( field, versionInfo, alias ) %}
    {% set imageClass = ""  %}
    {% set title = ""  %}

    {% if class is defined %}
    	{% set imageClass = class %}
    {% endif %}
    {% if name is defined %}
    	{%  set title = name %}
    {% elseif versionInfo.contentInfo.name is not null %}
        {%  set title = ez_content_name(versionInfo.contentInfo) %}
    {% endif %}
    {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
        {% set src_image = imageAlias.uri ? asset(imageAlias.uri) : "" %}
		<img src="{{ src_image }}" class="{{ imageClass }}" alt='{% if field.value.alternativeText != "" %}{{ field.value.alternativeText }}{% else %}{{ field.value|replace({'.png': '', '.jpg': ''}) }}{% endif %}' />
    {% endif %}
{% endblock %}