{% block ezimage_field %}
    {% if not ez_field_is_empty(content, "image") %}
        {% set image = ez_field_value(content, "image") %}
        {% set alt_text = (image.alternativeText is defined and image.alternativeText != "") ? image.alternativeText : image|replace({'.png': '', '.jpg': ''}) %}
        {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias ) %}

        {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
            {% set src_image = imageAlias.uri ? asset(imageAlias.uri) : "" %}
            <img src="{{ src_image }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" style="{{ inline_style }}" class="{{ imageClass }}" alt="{{ alt_text }}" />
        {% endif %}
    {% endif %}
{% endblock %}