
{% import "@Transmision/Macros/validation.html.twig" as validation %}

<footer class="geb-footer">
  <div class="row">
    <div class="columns small-12 medium-6 large-4 u-mb-3">
      {% if content.fields['title'] is defined and not ez_field_is_empty(content, 'title') %}
      <h6>{{ ez_field_value( content, 'title' ) }}</h6>
      {% endif %}
      {% if content.fields['description'] is defined and not ez_field_is_empty(content, 'description') %}
        <div class="u-pr-4">
          {{ ez_render_field(content, 'description')}}
        </div>  
      {% endif %}
    </div>
    <nav class="columns small-6 medium-6 large-3">
      {% if columns.second_column is defined %}
        <ul class="geb-flat-list">
          {% for itemSecond in columns.second_column %}
          <li>
            <a href="#">
            {# <a href="{{ path(itemSecond.location) }}"> #}
              {{ ez_content_name(itemSecond.location.contentInfo) }}
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </nav>
    <div class="columns small-12 medium-6 large-5 u-mt-10-below-tablet u-center-below-tablet">
      <ul class="geb-flat-list">
        <li class="footer__logo main">
          {% if validation.has_content(content, 'image_footer') %}
          {{ ez_render_field(content, 'image_footer', {
                    'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                    'logo_footer' } ) 
                  }}
          {% else %}
            <img src="{{ asset('images/logo_bvc.png','transmision') }}" alt="bvc">
          {% endif %}
        </li>
        <li class="footer__logo">
          <img src="{{ asset('images/logo_member.png','transmision') }}" alt="SAM">
        </li>
      </ul>
    </div>
  </div>
</footer>