{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% if contentsSlides|length > 0 %}
    <div class="geb-layout-home__slider-wrapper">
        <div class="geb-slider master-slider ms-skin-default" data-masterslider='{"width": 2000, "height": 613, "layout": "autofill"}'>
            {% for contentSlide in contentsSlides  %}
                {% set url = '' %}
                {% set isUrlExternal = false %}

                {% if validation.has_content(contentSlide, 'internal_link') %}
                    {% set url = path( "ez_urlalias", {"contentId": ez_field_value(contentSlide, 'internal_link').destinationContentId } ) %}
                {% elseif validation.has_content(contentSlide, 'external_link') %}
                    {% set url = ez_field_value(contentSlide, 'external_link') %}
                    {% set isUrlExternal = true %}
                {% endif %}

                <div class="ms-slide">
                    {% if validation.has_content(contentSlide, 'image') %}
                        {{ ez_render_field( contentSlide, 'image', {
                                'template':'@ezdesign/Fields/gallery/ezimage_alias.html.twig', 'alias':
                                'slider' } ) }}
                    {% endif %}

                    <div class="ms-layer ms-caption" data-effect="bottom(480)" data-duration="2000" data-ease="easeOutQuart">
                        <div class="geb-slider__content">
                            <div class="geb-slider__content-inner geb-slider__content-inner--padded">
                                <h1 class="geb-heading-slider">{{ ez_field_value(contentSlide, 'name') }}</h1>
                                {% if validation.has_content(contentSlide, 'description') %}
                                    {{ ez_render_field(contentSlide, 'description') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% if url %}
                        <div class="ms-layer ms-caption" data-effect="bottom(600)" data-duration="3500" data-ease="easeOutQuart">
                            <div class="geb-slider__footer">
                                <div class="button btn-secondary">
                                    <a class="u-iblock" {% if isUrlExternal %} target="_blank" {% endif %} href="{{url}}">
                                        <strong>VER MÁS</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
