{% import "@Transmision/Macros/validation.html.twig" as validation %}

    <main class="geb-page-main column small-12">
        <section class="u-bg-neutral u-mt-8 u-p-8">
            <div class="media-object">
                <div class="media-object-section">
                    <div class="thumbnail">
                        {% if content.fields['image_promo'] is defined and validation.has_content(content, 'image_promo') %}
                            {{ ez_render_field(content, 'image_promo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'children_promo'} ) }}
                        {% elseif content.fields['image'] is defined and validation.has_content(content, 'image') %}
                             {{ ez_render_field(content, 'image', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'children_promo'} ) }}
                         {% elseif content.fields['photo'] is defined and validation.has_content(content, 'photo') %}
                             {{ ez_render_field(content, 'photo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'children_promo'} ) }}
                        {% endif %}
                    </div>
                </div>
                <div class="media-object-section">
                    <h3>{{ez_content_name(content)}}</h3>
                    {% if content.fields['subtitle'] is defined and validation.has_content(content, 'subtitle') %}
                        {{ ez_render_field( content, 'subtitle' ) }}
                    {% elseif content.fields['short_description'] is defined and validation.has_content(content, 'short_description') %}
                        {{ ez_render_field( content, 'short_description' ) }}
                    {% endif %}
                    <p>
                        <a class="u-move-right-on-hover u-iblock " href="{{ path( "ez_urlalias", {"contentId": content.versionInfo.contentInfo.id} ) }}">
                            <strong>VER MÁS</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 13 13" class="u-ml-1"
                                width="1em" height="1em" data-icon="arrow-right">
                                <path d="M6.475 0l-.542.55 5.576 5.5H0v.773h11.513l-5.581 5.543.544.548L13 6.435z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </main>
