<footer class="bg-geb-dark-900">
	<div class="pt-11 pb-28 pl-11.5 pr-5 lg:px-4 lg:pt-33.5 lg:pb-26 lg:mb-0.5 xl:container xl:mx-auto flex flex-col lg:block">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-11 mt-1 mb-11.5 md:m-0">
            {% if footerMainNav is defined and footerMainNav is not empty %}
                {% for mainItem in footerMainNav %}
                    <div class="flex flex-col">
                        {% if mainItem.content.contentType.identifier == 'gebweb_mega_menu' %}
                            {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::megaMenuAction", { 'megaMenuContent': mainItem.content, 'isHeader': false } ) ) }}
                        {% else %}
                            {% if mainItem.content.contentType.identifier == 'gebweb_page' %}
                            <a href="{{ path( "ez_urlalias", {"contentId": mainItem.content.versionInfo.contentInfo.id} ) }}" class="text-white text-xl font-medium mb-3.5 hover:underline">
                            {% else %}
                            <a href="{{ axp_has_content(mainItem.content, "url") ? ez_field_value(mainItem.content, 'url' ) : '#' }}" class="text-white text-xl font-medium mb-3.5 hover:underline" target="_blank">
                            {% endif %}
                            {% if axp_has_content(mainItem.content, "promo_title") %}
                                {{ ez_field_value(mainItem.content, "promo_title") }}
                            {% elseif axp_has_content(mainItem.content, "name") %}
                                {{ ez_field_value(mainItem.content, "name") }}
                            {% endif %}
                            </a>
                            <ul class="flex flex-col gap-3.5">
                                {% if mainItem.children is defined and mainItem.children is not empty %}
                                    {% for mainItemChild in mainItem.children %}
                                        <li class="text-2xs leading-4 text-geb-link hover:underline">
                                            {% if mainItemChild.contentType.identifier == 'gebweb_page' or mainItemChild.contentType.identifier == 'gebweb_article' %}
                                                <a href="{{ path( "ez_urlalias", {"contentId": mainItemChild.versionInfo.contentInfo.id} ) }}">
                                            {% elseif mainItemChild.contentType.identifier == 'gebweb_custom_link' %}
                                                <a href="
                                                    {{ axp_has_content(mainItemChild, "linked_content") ? ez_path( ez_field_value(mainItemChild, 'linked_content').destinationContentId.contentInfo ) : axp_has_content(mainItemChild, "url") ? ez_field_value(mainItemChild, 'url' ) : '#' }}"
                                                    {{ axp_has_content(mainItemChild, "linked_content") ? 'target="_self"' : axp_has_content(mainItemChild, "url") ? 'target="_blank"' : '' }}>
                                            {% endif %}
                                                    {% if axp_has_content(mainItemChild, "promo_title") %}
                                                        {{ ez_field_value(mainItemChild, "promo_title") }}
                                                    {% elseif axp_has_content(mainItemChild, "name") %}
                                                        {{ ez_field_value(mainItemChild, "name") }}
                                                    {% endif %}
                                                </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
		</div>
		<hr class="hidden lg:block border-0 border-b border-white border-opacity-15 my-14 py-2 lg:mt-13 lg:mb-16">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-0.5 lg:gap-14 mb-13 lg:mb-0">
            {# Main text #}
			<div class="flex">                       
				<address class="text-4xxs leading-relaxed-alt text-white text-opacity-45 not-italic">
                    {% if axp_has_content(footerContent, "main_text") %}
                        {{ ez_render_field(footerContent, 'main_text') }}
                    {% endif %}
				</address>
			</div>
            {# Secondary Menu #}
            <div class="flex flex-col pt-10 pb-8 lg:pt-1">
                {% if footerUtilityNav is defined and footerUtilityNav is not empty %}
                    <ul class="flex flex-col gap-2.5">
                        {% for utilityItem in footerUtilityNav %}
                            <li class="text-4xxs leading-tight tracking-tight text-geb-link hover:underline">
                                {% if utilityItem.content.contentType.identifier == 'gebweb_page' or utilityItem.content.contentType.identifier == 'gebweb_article' %}
                                    <a href="{{ path( "ez_urlalias", {"contentId": utilityItem.content.versionInfo.contentInfo.id} ) }}">
                                {% elseif utilityItem.content.contentType.identifier == 'gebweb_custom_link' %}
                                    <a href="
                                        {{ axp_has_content(utilityItem.content, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(utilityItem.content, 'linked_content').destinationContentId }) : axp_has_content(utilityItem.content, "url") ? ez_field_value(utilityItem.content, 'url' ) : '#' }}"
                                        {{ axp_has_content(utilityItem.content, "linked_content") ? 'target="_self"' : axp_has_content(utilityItem.content, "url") ? 'target="_blank"' : '' }}>
                                {% endif %}
                                {% if axp_has_content(utilityItem.content, "promo_title") %}
                                    {{ ez_field_value(utilityItem.content, "promo_title") }}
                                {% elseif axp_has_content(utilityItem.content, "name") %}
                                    {{ ez_field_value(utilityItem.content, "name") }}
                                {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
			</div>
            {# Second text #}
			<div class="flex">
				<div class="text-4xxs leading-relaxed-alt pt-0.5 tracking-tight text-white text-opacity-45">
                    {% if axp_has_content(footerContent, "secondary_text") %}
                         {{ ez_render_field(footerContent, 'secondary_text') }}
                    {% endif %}
                </div>
			</div>
		</div>
		<hr class="hidden lg:block border-0 border-b border-white border-opacity-15 mt-14 mb-12 lg:mt-11.5 lg:mb-11 lg:pt-px">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10.5 lg:gap-0 -ml-13 -mr-5 lg:m-0">
            {# Año automatico #}
			<div class="flex lg:col-span-2">
				<p class="text-2sm leading-relaxed tracking-wide text-white text-opacity-45 text-center lg:text-left flex-1">
                    © {{ 'now'|date('Y')|striptags }} {{ 'Grupo energía Bogotá. All Rights Reserved'|trans({}, "gebweb") }}
                </p>
			</div>
            {# Socials #}
			<div class="flex justify-center lg:justify-end mt-px lg:-mt-3">
				{% include '@ezdesign/components/social_media.html.twig' with {
                    'socialNetworks': footerSocialsContent,
                    isHeader: false
                } %}
			</div>
		</div>
	</div>
</footer>
