<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png', 'gebweb') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png', 'gebweb') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png', 'gebweb') }}">
<link rel="icon" href="{{ asset('favicon.svg', 'gebweb') }}" type="image/svg+xml">
<link rel="icon" href="{{ asset('favicon.ico', 'gebweb') }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ asset('assets/css/main.css', 'gebweb') }}">
