<header id="header" class="sticky inset-x-0 top-0 z-20">
    <v-header :placeholder-search="'{{ 'Search'|trans({}, "gebweb") }}'">
        {# Header Logo #}
        <template v-slot:logo>
        {% set routeReference = ez_route("ez_urlalias", { 'locationId': rootLocation.id }) %}
            {% if axp_has_content(headerContent, "image") %}
                {% set imgAlias = ez_image_alias( headerContent.getField( "image" ), headerContent.versionInfo, 'original' ) %}
                <a
                    href="{{ ez_path(routeReference) }}"
                    class="flex flex-shrink-0 items-start md:items-center mt-0 -ml-1.75 md:-mt-5 md:ml-0 header-logo"
                    style="background-image: url({{ imgAlias.uri }})"
                >
                </a>
            {% endif %}
        </template>
        <template v-slot:social-media>
            {# Social Media #}
            {% if headerSocialsContent is defined and headerSocialsContent is not empty %}
                {% include '@ezdesign/components/social_media.html.twig' with {
                    'socialNetworks': headerSocialsContent,
                    isMobile: false,
                    isHeader: true
                } %}
            {% endif %}
            <ul class="flex list-none gap-4">
                {# Language Selection #}
                {% if location is defined and location.id is not null and currentPath is defined %}
                    {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::languageSwitcherAction", { 'location': location, 'isMobile': false })) }}
                {% endif %}
                {# Search #}
                <li class="flex items-center mr-px">
                    <header-search :placeholder-search="'{{ 'Search'|trans({}, "gebweb") }}'">
                        <template v-slot:search-main-title>{{ 'See all results for'|trans({}, "gebweb") }}</template>
                        <template v-slot:search-topic-title><h4 class="font-medium text-2lg leading-4tighter">{{ 'Topics'|trans({}, "gebweb") }}</h4></template>
                    </header-search>
                </li>
            </ul>
        </template>
        {# Main Menu #}
        <template v-slot:primary-list>
            {% if headerMainNav is defined and headerMainNav is not empty %}
                <ul class="ml-4 flex gap-1.5">
                    {% for mainItem in headerMainNav %}
                        {% if mainItem.content.contentType.identifier == 'gebweb_mega_menu' %}
                            {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::megaMenuAction", { 'megaMenuContent': mainItem.content, 'isMobile': false } ) ) }}
                        {% elseif mainItem.location.id == mediaLocationId %}
                            {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::mediaMenuAction", { 'mainItem': mainItem } ) ) }}
                        {% else %}
                            <li class="header-nav__item--link header-nav__item--link-primary text-geb-dark-800 inline-flex px-3 pt-2 text-sm font-semibold tracking-1.5wider">
                                {% if mainItem.content.contentType.identifier == 'gebweb_page' or mainItem.content.contentType.identifier == 'gebweb_article' %}
                                        <a href="{{ path( "ez_urlalias", {"contentId": mainItem.content.versionInfo.contentInfo.id} ) }}" class="uppercase border-b-5 border-transparent group-hover:border-geb-blue-secondary">
                                {% elseif mainItem.content.contentType.identifier == 'gebweb_custom_link' %}
                                    <a href="
                                        {{ axp_has_content(mainItem.content, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(mainItem.content, 'linked_content').destinationContentId }) : axp_has_content(mainItem.content, "url") ? ez_field_value(mainItem.content, 'url' ) : '#' }}"
                                        class="uppercase border-b-5 border-transparent group-hover:border-geb-blue-secondary"
                                        {{ axp_has_content(mainItem.content, "linked_content") ? 'target="_self"' : axp_has_content(mainItem.content, "url") ? 'target="_blank"' : '' }}>
                                {% endif %}
                                {% if axp_has_content(mainItem.content, "promo_title") %}
                                    {{ ez_field_value(mainItem.content, "promo_title") }}
                                {% elseif axp_has_content(mainItem.content, "name") %}
                                    {{ ez_field_value(mainItem.content, "name") }}
                                {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </template>
        {# Secondary Menu #}
        <template v-slot:secondary-list>
            {% if headerUtilityNav is defined and headerUtilityNav is not empty %}
                <ul class="hidden lg:ml-6 lg:flex lg:justify-end lg:mr-1.5 lg:gap-1.5">
                    {% for utilityItem in headerUtilityNav %}
                        <li class="header-nav__item--link header-nav__item--link-secondary inline-flex px-1.5 pt-2 text-sm font-semibold tracking-widest group">
                            {% if utilityItem.content.contentType.identifier == 'gebweb_page' or utilityItem.content.contentType.identifier == 'gebweb_article' %}
                                <a href="{{ path( "ez_urlalias", {"contentId": utilityItem.content.versionInfo.contentInfo.id} ) }}" class="uppercase border-b-5 border-transparent hover:border-gray-400">
                            {% elseif utilityItem.content.contentType.identifier == 'gebweb_custom_link' %}
                                <a href="
                                    {{ axp_has_content(utilityItem.content, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(utilityItem.content, 'linked_content').destinationContentId }) : axp_has_content(utilityItem.content, "url") ? ez_field_value(utilityItem.content, 'url' ) : '#' }}"
                                    class="uppercase border-b-5 border-transparent hover:border-gray-400"
                                    {{ axp_has_content(utilityItem.content, "linked_content") ? 'target="_self"' : axp_has_content(utilityItem.content, "url") ? 'target="_blank"' : '' }}>
                            {% endif %}
                            {% if axp_has_content(utilityItem.content, "promo_title") %}
                                {{ ez_field_value(utilityItem.content, "promo_title") }}
                            {% elseif axp_has_content(utilityItem.content, "name") %}
                                {{ ez_field_value(utilityItem.content, "name") }}
                            {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </template>
        {# Main Menu Mobile#}
        <template v-slot:mobile-primary-list>
            {% if headerMainNav is defined and headerMainNav is not empty %}
                <ul class="flex flex-col mt-0.5">
                    {% for mainItem in headerMainNav %}
                        {% if mainItem.content.contentType.identifier == 'gebweb_mega_menu' %}
                            {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::megaMenuAction", { 'megaMenuContent': mainItem.content, 'isMobile': true } ) ) }}
                        {% else %}
                            <li class="font-medium text-base leading-none tracking-tighter text-geb-link border-b border-geb-link border-opacity-30" v-collapsible>
                                <div class="flex flex-grow justify-between items-center h-13.5 uppercase px-4 pt-0.5 cursor-pointer">
                                    {% if mainItem.content.contentType.identifier == 'gebweb_page' %}
                                        <a href="{{ path( "ez_urlalias", {"contentId": mainItem.content.versionInfo.contentInfo.id} ) }}" class="hover:underline">
                                    {% else %}
                                        <a href="{{ axp_has_content(mainItem.content, "url") ? ez_field_value(mainItem.content, 'url' ) : '#' }}" class="hover:underline">
                                    {% endif %}
                                    {% if axp_has_content(mainItem.content, "promo_title") %}
                                        {{ ez_field_value(mainItem.content, "promo_title") }}
                                    {% elseif axp_has_content(mainItem.content, "name") %}
                                        {{ ez_field_value(mainItem.content, "name") }}
                                    {% endif %}
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </template>
        {# Secondary Menu Mobile #}
        <template v-slot:mobile-secondary-list>
            {% if headerUtilityNav is defined and headerUtilityNav is not empty %}
                <ul class="flex flex-col mt-3.5 mb-6.5">
                    {% for utilityItem in headerUtilityNav %}
                        <li class="font-medium text-2sm leading-none tracking-tighter pt-3 pb-2 text-geb-link opacity-50" v-collapsible>
                            {% if utilityItem.content.contentType.identifier == 'gebweb_page' %}
                            <a href="{{ path( "ez_urlalias", {"contentId": utilityItem.content.versionInfo.contentInfo.id} ) }}" class="uppercase px-4 cursor-pointer hover:underline">
                            {% else %}
                            <a href="{{ axp_has_content(utilityItem.content, "url") ? ez_field_value(utilityItem.content, 'url' ) : '#' }}" class="uppercase px-4 cursor-pointer hover:underline">
                            {% endif %}
                            {% if axp_has_content(utilityItem.content, "promo_title") %}
                                {{ ez_field_value(utilityItem.content, "promo_title") }}
                            {% elseif axp_has_content(utilityItem.content, "name") %}
                                {{ ez_field_value(utilityItem.content, "name") }}
                            {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </template>
        {# Language switch Mobile #}
        <template v-slot:mobile-language>
            {# Language Selection #}
            {% if location is defined and location.id is not null and currentPath is defined %}
                {{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::languageSwitcherAction", { 'location': location, 'isMobile': true })) }}
            {% endif %}
        </template>
        {# Social Media Mobile #}
        <template v-slot:mobile-social-media>
            <div class="flex justify-center lg:justify-end mt-5">
                {% include '@ezdesign/components/social_media.html.twig' with {
                    'socialNetworks': headerSocialsContent,
                    isMobile: true,
                    isHeader: true
                } %}
            </div>
        </template>
    </v-header>
</header>