<!DOCTYPE html>
<html lang="es">
	<head>
        {% block metadata %}
			{{ render( controller( "App\\GEBWebBundle\\Controller\\LayoutController::metadataAction", { 'location': location, 'rootLocation': ezplatform.rootLocation } ) ) }}
		{% endblock %}
        {% block head_style %}
            {{ include('@ezdesign/layout/head_style.html.twig') }}
        {% endblock %}
		{% block head_analytics %}
			{{ include('@ezdesign/layout/analytics.html.twig') }}
		{% endblock %}
	</head>
	<body>
		<div id="app" class="min-h-screen flex flex-col {{ ezplatform.siteaccess.name }}">
			{% block header %}
				{% set currentPath = app.request.uri %}
                {{ render(controller("App\\GEBWebBundle\\Controller\\LayoutController::headerAction", { 'location': location, 'currentPath': currentPath, 'rootLocation': ezplatform.rootLocation })) }} 
			{% endblock %}
			<main id="main" class="flex-grow overflow-hidden">
				{% block content %}{% endblock %}
			</main>
			{% block footer %}
                {{ render( controller("App\\GEBWebBundle\\Controller\\LayoutController::footerAction")) }}
			{% endblock %}
		</div>
		{% block footer_script %}
			{{ include('@ezdesign/layout/footer_script.html.twig') }}
		{% endblock %}
	</body>
</html>
