{% if isHeader %}
    {% if isMobile %}
        <li class="font-medium text-base leading-none tracking-tighter text-geb-link border-b border-geb-link border-opacity-30" v-collapsible>
            {# Main Link #}
            {% if mainLinkContent is defined and mainLinkContent is not empty %}
                <div class="flex flex-grow justify-between items-center h-13.5 uppercase px-4 pt-0.5 cursor-pointer">
                    <a href="{{ path( "ez_urlalias", {"location": mainLinkContent.location} ) }}" class="hover:underline">
                    {% if axp_has_content(mainLinkContent.content, "promo_title") %}
                        {{ ez_field_value(mainLinkContent.content, "promo_title") }}</span>
                    {% elseif axp_has_content(mainLinkContent.content, "name") %}
                        {{ ez_field_value(mainLinkContent.content, "name") }}</span>
                    {% endif %}
                    </a>
                    <i class="arrow flex-shrink w-6 h-6 -mt-2.5 -mr-px fill-none" v-icon:chevron-down></i>
                </div>
            {% endif %}
            <div data-collapsible class="hidden bg-black bg-opacity-20">
                <ul class="flex flex-col pl-7 pr-8 pt-4.5 pb-2.5 border-t border-geb-link border-opacity-30">
                    {# Secondary Link #}
                    {% if secondaryLinksContent is defined and secondaryLinksContent is not empty %}
                        {% for secondaryLink in secondaryLinksContent %}
                            <li class="text-2sm font-medium leading-tighter tracking-tight mb-3.5">
                                {% if secondaryLink.content.contentType.identifier == 'gebweb_page' %}
                                <a href="{{ path( "ez_urlalias", {"contentId": secondaryLink.content.versionInfo.contentInfo.id} ) }}" class="hover:underline">
                                {% else %}
                                <a href="{{ axp_has_content(secondaryLink.content, "url") ? ez_field_value( secondaryLink.content, 'url' ) : '#' }}" class="hover:underline">
                                {% endif %}
                                    {% if axp_has_content(secondaryLink.content, "promo_title") %}
                                        {{ ez_field_value(secondaryLink.content, "promo_title") }}
                                    {% elseif axp_has_content(secondaryLink.content, "name") %}
                                        {{ ez_field_value(secondaryLink.content, "name") }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <hr class="mx-4 border-geb-link border-opacity-30">
                {# Featured Content #}
                {% if featuredContent is defined and featuredContent is not empty %}
                    {% for featuredItem in featuredContent %}
                        <div class="flex flex-wrap px-4 py-7">
                            <h1 class="w-full text-white text-sm tracking-tight leading-normal font-semibold mb-3">
                                {% if axp_has_content(featuredItem.content, "promo_title") %}
                                    {{ ez_render_field(featuredItem.content, "promo_title") }}
                                {% elseif axp_has_content(featuredItem.content, "name") %}
                                    {{ ez_render_field(featuredItem.content, "name") }}
                                {% endif %}
                            </h1>
                            <div class="flex gap-3.5">
                                <picture class="w-33.5 flex-shrink-0">
                                    {% if axp_has_content(featuredItem.content, "promo_image") %}
                                        {{ ez_render_field(featuredItem.content, 'promo_image', {
                                            template: '@ezdesign/fields/ez_image.html.twig',
                                            parameters: {
                                                    alias: 'featured_image',
                                                    class: 'rounded-2sm w-full h-22.5 pr-px pb-px object-cover object-center'
                                            }}) 
                                        }}
                                    {% endif %}
                                </picture>
                                <div class="w-auto">
                                    <div class="text-white text-2xxs leading-4 tracking-tight font-normal mb-2.5">
                                        {% if axp_has_content(featuredItem.content, "promo_description") %}
                                            {{ ez_render_field(featuredItem.content, "promo_description") }}
                                        {% endif %}
                                    </div>
                                    <a href="{{ path( "ez_urlalias", {"contentId": featuredItem.content.versionInfo.contentInfo.id} ) }}" class="text-geb-link text-xxs-2alt tracking-tight flex items-center gap-1">
                                        <span class="w-5 text-geb-link pr-1" v-icon:arrow-right-link></span>
                                        {{ 'See more'|trans({}, "gebweb") }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </li>
    {% else %}
        <li class="header-nav__item--link header-nav__item--link-primary text-geb-dark-800 inline-flex px-3 pt-2 text-sm font-semibold tracking-1.5wider group">
            {# Main Link #}
            {% if mainLinkContent is defined and mainLinkContent is not empty %}
                <a href="{{ path( "ez_urlalias", {"location": mainLinkContent.location} ) }}" class="uppercase border-b-5 border-transparent group-hover:border-geb-blue-secondary">
                    {% if axp_has_content(mainLinkContent.content, "promo_title") %}
                        {{ ez_field_value(mainLinkContent.content, "promo_title") }}</span>
                    {% elseif axp_has_content(mainLinkContent.content, "name") %}
                        {{ ez_field_value(mainLinkContent.content, "name") }}</span>
                    {% endif %}
                </a>
            {% endif %}
            <mega-menu>
                <div class="flex gap-10">
                    <ul class="w-1/3 lg:w-77.5 flex-shrink-0">
                        {# Main Link #}
                        {% if mainLinkContent is defined and mainLinkContent is not empty %}
                            <li class="border-b border-white border-opacity-30 pb-1 -mt-px mb-1.5">
                                <a href="{{ path( "ez_urlalias", {"location": mainLinkContent.location} ) }}" class="font-medium text-geb-link text-2base leading-loose tracking-3tight hover:underline flex items-center gap-2 pb-px">
                                    {% if axp_has_content(mainLinkContent.content, "promo_title") %}
                                        {{ ez_field_value(mainLinkContent.content, "promo_title") }}</span>
                                    {% elseif axp_has_content(mainLinkContent.content, "name") %}
                                        {{ ez_field_value(mainLinkContent.content, "name") }}</span>
                                    {% endif %}
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M2 1H11V10" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {# Secondary Links #}
                        {% if secondaryLinksContent is defined and secondaryLinksContent is not empty %}
                            {% for secondaryLink in secondaryLinksContent %}
                                {% if secondaryLink.children is defined and secondaryLink.children is not empty %}
                                    <li v-collapsible class="flex flex-col py-2 border-b border-white border-opacity-20 cursor-pointer">
                                        <div class="flex justify-between items-center text-geb-link hover:text-white">
                                            {% if secondaryLink.content.contentType.identifier == 'gebweb_page' %}
                                            <a href="{{ path( "ez_urlalias", {"contentId": secondaryLink.content.versionInfo.contentInfo.id} ) }}" class="font-medium text-geb-link text-sm">
                                            {% else %}
                                            <a href="{{ axp_has_content(secondaryLink.content, "url") ? ez_field_value( secondaryLink.content, 'url' ) : '#' }}" class="font-medium text-geb-link text-sm">
                                            {% endif %}
                                            {% if axp_has_content(secondaryLink.content, "promo_title") %}
                                                {{ ez_field_value(secondaryLink.content, "promo_title") }}
                                            {% elseif axp_has_content(secondaryLink.content, "name") %}
                                                {{ ez_field_value(secondaryLink.content, "name") }}
                                            {% endif %}
                                            </a>
                                            <i class="arrow flex-shrink w-4 h-4 fill-none" v-icon:chevron-down></i>
                                        </div>
                                        <ul data-collapsible class="hidden pl-5 pr-7 w-full space-y-3 pt-4 pb-3.5">
                                            {% for secondaryLinkChild in secondaryLink.children %}
                                                <li class="font-medium text-geb-link text-2.5xs tracking-normal leading-none py-px hover:underline">
                                                    {% if secondaryLinkChild.contentType.identifier == 'gebweb_page' or secondaryLinkChild.contentType.identifier == 'gebweb_article' %}
                                                        <a href="{{ path( "ez_urlalias", {"contentId": secondaryLinkChild.versionInfo.contentInfo.id} ) }}">
                                                    {% elseif secondaryLinkChild.contentType.identifier == 'gebweb_custom_link' %}
                                                        <a href="
                                                            {{ axp_has_content(secondaryLinkChild, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(secondaryLinkChild, 'linked_content').destinationContentId }) : axp_has_content(secondaryLinkChild, "url") ? ez_field_value(secondaryLinkChild, 'url' ) : '#' }}"
                                                            {{ axp_has_content(secondaryLinkChild, "linked_content") ? 'target="_self"' : axp_has_content(secondaryLinkChild, "url") ? 'target="_blank"' : '' }}>
                                                    {% endif %}
                                                    {% if axp_has_content(secondaryLinkChild, "promo_title") %}
                                                        {{ ez_field_value(secondaryLinkChild, "promo_title") }}
                                                    {% elseif axp_has_content(secondaryLinkChild, "name") %}
                                                        {{ ez_field_value(secondaryLinkChild, "name") }}
                                                    {% endif %}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="py-2 border-b border-white border-opacity-20">
                                        {% if secondaryLink.content.contentType.identifier == 'gebweb_page' or secondaryLink.content.contentType.identifier == 'gebweb_article' %}
                                            <a href="{{ path( "ez_urlalias", {"contentId": secondaryLink.content.versionInfo.contentInfo.id} ) }}" class="font-medium text-geb-link text-sm tracking-normal hover:underline">
                                        {% elseif secondaryLink.content.contentType.identifier == 'gebweb_custom_link' %}
                                            <a href="
                                                {{ axp_has_content(secondaryLink.content, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(secondaryLink.content, 'linked_content').destinationContentId }) : axp_has_content(secondaryLink.content, "url") ? ez_field_value(secondaryLink.content, 'url' ) : '#' }}"
                                                class="font-medium text-geb-link text-sm tracking-normal hover:underline"
                                                {{ axp_has_content(secondaryLink.content, "linked_content") ? 'target="_self"' : axp_has_content(secondaryLink.content, "url") ? 'target="_blank"' : '' }}>
                                        {% endif %}
                                        {% if axp_has_content(secondaryLink.content, "promo_title") %}
                                            {{ ez_field_value(secondaryLink.content, "promo_title") }}
                                        {% elseif axp_has_content(secondaryLink.content, "name") %}
                                            {{ ez_field_value(secondaryLink.content, "name") }}
                                        {% endif %}
                                        </a>
                                    </li>
                                {% endif %}   
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {# Featured Content #}
                    {% if featuredContent is defined and featuredContent is not empty %}
                        <div class="flex items-start flex-wrap gap-9">
                            {% for featuredItem in featuredContent %}
                                <a href="{{ path( "ez_urlalias", {"contentId": featuredItem.content.versionInfo.contentInfo.id} ) }}" class="flex flex-col lg:flex-row gap-9 flex-grow ml-px">
                                    <picture class="w-full lg:w-1/2 lg:max-w-megamenu-image lg:flex-shrink-0 flex justify-center">
                                        {% if axp_has_content(featuredItem.content, "promo_image") %}
                                            {{ ez_render_field(featuredItem.content, 'promo_image', {
                                                template: '@ezdesign/fields/ez_image.html.twig',
                                                parameters: {
                                                        alias: 'featured_image',
                                                        class: 'rounded-xl w-full h-megamenu-image object-cover object-center'
                                                }}) 
                                            }}
                                        {% endif %}
                                    </picture>
                                    <div class="w-full">
                                        <h1 class="text-white hover:text-geb-gray-25 text-xl leading-2tighter tracking-normal font-semibold mb-4.5">
                                            {% if axp_has_content(featuredItem.content, "promo_title") %}
                                                {{ ez_render_field(featuredItem.content, "promo_title") }}
                                            {% elseif axp_has_content(featuredItem.content, "name") %}
                                                {{ ez_render_field(featuredItem.content, "name") }}
                                            {% endif %}
                                        </h1>
                                        <div class="text-white text-2xs leading-relaxed font-normal tracking-normal mb-10">
                                            {% if axp_has_content(featuredItem.content, "promo_description") %}
                                                {{ ez_render_field(featuredItem.content, "promo_description") }}
                                            {% endif %}
                                        </div>
                                        <div class="text-geb-link hover:text-geb-blue-primary flex items-end gap-2.5">
                                            <span class="w-6.5 pl-px pt-0.5" v-icon:arrow-right-link></span>
                                            <span class="text-2xs leading-none tracking-normal font-normal">
                                                {{ 'See more'|trans({}, "gebweb") }}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </mega-menu>
        </li>
    {% endif %}
{% else %}
    {% if mainLinkContent is defined and mainLinkContent is not empty %}
        <a href="{{ path( "ez_urlalias", {"location": mainLinkContent.location} ) }}" class="text-white text-xl font-medium mb-3.5 hover:underline">
            {% if axp_has_content(mainLinkContent.content, "promo_title") %}
                {{ ez_field_value(mainLinkContent.content, "promo_title") }}</span>
            {% elseif axp_has_content(mainLinkContent.content, "name") %}
                {{ ez_field_value(mainLinkContent.content, "name") }}</span>
            {% endif %}
        </a>
        <ul class="flex flex-col gap-3.5">
            {% if secondaryLinksContent is defined and secondaryLinksContent is not empty %}
                {% for secondaryLink in secondaryLinksContent %}
                    <li class="text-2xs leading-4 text-geb-link hover:underline">
                        {% if secondaryLink.content.contentType.identifier == 'gebweb_page' or secondaryLink.content.contentType.identifier == 'gebweb_article' %}
                            <a href="{{ path( "ez_urlalias", {"contentId": secondaryLink.content.versionInfo.contentInfo.id} ) }}">
                        {% elseif secondaryLink.content.contentType.identifier == 'gebweb_custom_link' %}
                            <a href="
                                {{ axp_has_content(secondaryLink.content, "linked_content") ? path('ez_urlalias', {'contentId': ez_field_value(secondaryLink.content, 'linked_content').destinationContentId }) : axp_has_content(secondaryLink.content, "url") ? ez_field_value(secondaryLink.content, 'url' ) : '#' }}"
                                {{ axp_has_content(secondaryLink.content, "linked_content") ? 'target="_self"' : axp_has_content(secondaryLink.content, "url") ? 'target="_blank"' : '' }}>
                        {% endif %}
                            {% if axp_has_content(secondaryLink.content, "promo_title") %}
                                {{ ez_field_value(secondaryLink.content, "promo_title") }}
                            {% elseif axp_has_content(secondaryLink.content, "name") %}
                                {{ ez_field_value(secondaryLink.content, "name") }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% endif %}