{% set content_exists = (content is defined and content is not empty) %}
{% set logo = asset('images/geb_logo.png', 'gebweb') %}
{% set page_title = ezplatform.rootLocation %}
{% set isRoot = ezplatform.rootLocation.id == location.id %}
{% set imageUrl = content_exists and axp_has_content(content, 'promo_image') ? ez_render_field(content, 'promo_image', { parameters: {alias: 'promo_card'} } )|striptags('<img>')|split('"').1 : logo %}
{% set page_title = (content_exists ? "#{axp_has_content(content, 'promo_title') ? ez_field_value(content, 'promo_title').text : ( isRoot ? 'Home'|trans({}, "gebweb") : ez_content_name(content) )} - ") ~ metadata.title_suffix %}
{% set description = content_exists and axp_has_content(content, 'promo_description') ? ez_render_field(content, 'promo_description')|striptags|trim('\n')  %}

{# website/og and twitter metadata #}
<title>{{ page_title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Grupo Energía Bogotá"/>
<meta property="og:image" content="{{ imageUrl }}">
<meta property="twitter:image" content="{{ imageUrl }}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ page_title }}"/>
<meta property="og:title" content="{{ page_title }}"/>
{% if description is not empty %}
	<meta name="description" content="{{ description }}"/>
	<meta property="og:description" content="{{ description }}"/>
	<meta name="twitter:description" content="{{ description }}"/>
{% endif %}

{# structured data seo #}
{% set sdType = (content_exists and content.contentType.identifier == 'gebweb_article') ? 'NewsArticle' : 'WebPage' %}
<script type="application/ld+json">
	{
		"mainEntityOfPage": {{ "https://www.grupoenergiabogota.com/"|json_encode|raw }},
		"name": {{ page_title|json_encode|raw }},
		"image": [{{ imageUrl|json_encode|raw }}],
		{%- if content_exists ~%}
			"description": {{ description|json_encode|raw }},
			"url": {{ absolute_url(ez_path(content))|json_encode|raw }},
			{%- if sdType == 'NewsArticle' ~%}
				"headline": {{ (ez_field_value(content, 'promo_title').text ?? ez_content_name(content))|json_encode|raw  }},
				"datePublished": {{ content.contentType.creationDate|date|json_encode|raw }},
				"dateModified": {{ content.versionInfo.modificationDate|date|json_encode|raw }},
				"publisher": {
					"@type": "Organization",
					"name": "Grupo Energía Bogotá",
					"logo": {{ absolute_url(logo)|json_encode|raw }}
				},
				"author": "Grupo Energía Bogotá",
			{%- endif ~%}
		{%- endif ~%}
		"@context": "https://schema.org",
		"@type": "{{ sdType }}"
	}
</script>

