{% if content.contentType.identifier == "file" and not ez_field_is_empty(content, "file") %}
    {{ include('@Transmision/tags/file_inline.html.twig') }}
{% else %}
    <span>No está soportado el contenido especificado, por favor comuníquese con el administrador</span>
{% endif %}