{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% if validation.has_content(content, 'file') %}
    {% set download_route = ez_route('ez_content_download', {
        'content': content,
        'fieldIdentifier': 'file'
    }) %}

    <ul class="geb-list-archive u-pl-2">
        <li>
            <a href="{{ ez_path(download_route) }}">
            <span class="geb-list-archive__item-icon" data-icon="arrow-down-circle"></span> 
            <span>
                {{ ez_field_value(content, 'file').fileName }}
            </span>
            </a>
        </li>
    </ul>
{% endif %}