<div class="content-view-embed">
    <div class="class-image">
        <div class="attribute-image">
            {{ ez_render_field(content, 'image', {
                'template': '@ezdesign/Fields/image_embed.html.twig',
                'parameters': {
                    'alias': (objectParameters.size is defined) ? objectParameters.size : 'large' 
                }
            }) }}
        </div>

        {% if not ez_field_is_empty(content, "caption") %}
            <div class="attribute-caption" style="width: 100%">
                {{ ez_render_field(content, "caption") }}
            </div>
        {% endif %}
    </div>
</div>