{% import "@Transmision/Macros/validation.html.twig" as validation %}
<div data-gallery-item>
    <iframe data-yt-player id="gallery-item-{{content.versionInfo.contentInfo.id}}" src="{{ez_field_value(content,'url_video')}}?enablejsapi=1" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% if validation.has_content(content, 'caption') %}
        <div class="gallery__item-desc">
            {{ez_render_field(content, 'caption')}} 
        </div>
    {% endif %}
</div>

