{% import "@Transmision/Macros/validation.html.twig" as validation %}
<figure data-gallery-item>
    {% if validation.has_content(content, 'image') %}
        {{ ez_render_field( content, 'image', {
            'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'gallery_image' } ) }}
    {% endif %}
    {% if validation.has_content(content, 'caption') %}
        <figcaption class="gallery__item-desc">
            {{ez_render_field(content, 'caption')}} 
        </figcaption>
     {% endif %}
</figure>