{% import "@Transmision/Macros/validation.html.twig" as validation %}

<div data-gallery-item>
    {{ ez_render_field(content, 'file', 
        { "template": "@ezdesign/Fields/ez_media.html.twig", 
        "id":content.versionInfo.contentInfo.id} ) }}
    {% if validation.has_content(content, 'caption') %}
        <div class="gallery__item-desc">
            {{ez_render_field(content, 'caption')}} 
        </div>
    {% endif %}
</div>