{% set background_color = background_color == 'default' ? 'secondary_green' : background_color %}
{% set text_color = background_color == 'transparent' or background_color == 'white' ? 'text-geb-dark-900' : 'text-white' %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="md:w-banner flex rounded-lg px-7 py-9 md:px-11.5 md:pt-20 md:pb-12 {{ text_color }} {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="flex flex-col">
                {% if title %}
                <div class="mb-2">
                    <h1 class="font-semibold text-2xl md:text-4.5xl leading-7 md:leading-4xl-alt tracking-2tight md:tracking-normal">
                        {{title|striptags('<b>')|replace({'<b>': '<span class="text-geb-bahia">', '</b>': '</span>'})|raw}}
                    </h1>
                </div>
                {% endif %}
                {% if description and description|string_xml_to_html5 is not empty %}
                <div class="mb-6 font-medium text-4xxs md:text-lg leading-relaxed-alt md:leading-relaxed">
                    {{description|string_xml_to_html5}}
                </div>
                {% endif %}
                {% if cta %}
                    <div class="flex">
                        <a href="{{cta.url}}" {{ cta.isExternal ? 'target="_blank"' }} class="flex flex-grow justify-center md:flex-grow-0 px-3 py-2 md:px-9 md:py-3.5 rounded-sm md:rounded-2sm border-2 border-geb-bahia text-geb-bahia text-xs md:text-2xxs md:leading-6 font-bold hover:bg-white hover:bg-opacity-5 hover:shadow-md uppercase tracking-2widest text-center">{{cta.label|default('Conoce más')}}</a>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
