{% set listed_content = listed_content ? listed_content|filter(content => content.contentType.identifier != "gebweb_indicator") %}
{% set columns = columns == 'default' ? '2' : columns %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
	{% block content %}
		<section class="flex flex-col force-full-width {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
			<div class="full-container">
				<div class="flex pt-11 pb-10 md:pt-18.5 md:pb-32 md:-mx-1">
					<div class="flex flex-col md:flex-row md:flex-nowrap gap-7.5 md:gap-6">
						<div class="w-full md:w-1/3 flex flex-col text-geb-dark-900 gap-2 md:gap-5.25">
							<h1 class="text-2xl-3alt leading-6xl md:text-4xl-2alt md:leading-4xl-2alt font-semibold">{{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'})|raw }}</h1>
							{% if description|string_xml_to_html5 is not empty %}
								<div class="text-base leading-relaxed font-medium md:text-lg">{{ description|string_xml_to_html5 }}</div>
							{% endif %}
						</div>
						{% if listed_content is not empty %}
							<div class="w-full md:w-2/3 grid grid-cols-1 md:grid-cols-{{ columns }} gap-6.5 md:gap-12.5">
								{% for item_content in listed_content %}
									{% if loop.index <= 4 %}
										{% set isCustomLink = item_content.contentType.identifier == 'gebweb_custom_link' %}
										{% set isExternal = isCustomLink and not axp_has_content(item_content, 'linked_content') %}
										{% if isCustomLink %}
											{% set item_url = not isExternal ? path("ez_urlalias", {"contentId": ez_field_value(item_content, 'linked_content').destinationContentId}) : ez_field_value(item_content, 'url') %}
										{% else %}
											{% set item_url = ez_url(item_content) %}
										{% endif %}
										{% set has_description = axp_has_content(item_content, 'promo_description') %}
										{% set has_image = axp_has_content(item_content, 'promo_image') and ez_field_value(item_content, 'promo_image').alternativeText is defined %}
										<article class="flex flex-col text-geb-dark-900">
											<a href="{{ item_url }}" class="group">
												{% if has_image %}
													{% set imageId = ez_field_value(item_content, 'promo_image').destinationContentId %}
													{{ render( controller( "ez_content::viewAction", {
														'contentId': imageId, 
														'viewType': 'line',
														'params':{
															alias: 'promo_card',
															figureClass: 'w-full',
															class: 'rounded-2lg w-full h-54 md:h-67 md:pb-px object-cover object-center'
														}
													} )) }}
												{% endif %}
											</a>
											<div class="w-full {{ has_image ? 'pt-7.5' }}">
												<a href="{{ item_url }}" class="group" {{ isExternal ? 'target="_blank"' }}>
													<h4 class="text-lg leading-2tighter md:text-2lg md:leading-2tighter font-medium mb-2.5 md:mb-4 group-hover:text-geb-dark-600">
														{{ axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title').text : ez_content_name(item_content) }}
													</h4>
													{% if has_description %}
														<div class="text-xs md:text-2xs leading-5">
															{{ ez_field_value(item_content, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
														</div>
													{% endif %}
												</a>
												<div class="{{ has_description ? 'pt-4'}}">
													{% include '@ezdesign/components/social_media_card.html.twig' with { content: item_content }%}
												</div>
											</div>
											
										</article>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
{% endembed %}
