
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
{% set columns = columns == 'default' ? '3' : columns %}
    {% block content %}
        <section class="flex flex-col force-full-width {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="full-container">
                <div class="flex pt-11 pb-10 md:pt-18.5 md:pb-32 md:-mx-1">
                    <div class="flex flex-col gap-7.25 md:gap-14.75">
                        <div class="flex flex-col gap-2 md:gap-5.25 text-geb-dark-900">
                            {% if title %}
                            <h1 class="text-2xl-3alt leading-6xl md:text-4xl-2alt md:leading-4xl-2alt font-semibold">
                                {{title}}
                            </h1>
                            {% endif %}
                            {% if description and description|string_xml_to_html5|trim is not empty %}
                                <div class="text-base leading-relaxed font-medium md:text-lg">
                                    {{description|string_xml_to_html5}}
                                </div>
                            {% endif %}
                        </div>
                        {% if listed_content %}
                        <div class="grid grid-cols-1 md:grid-cols-{{ columns }} gap-6.5 md:gap-12.5 px-px">
                            {% for item in listed_content %}
                                {% if item %}
                                <article class="flex flex-col text-geb-dark-900">
                                    {% set url = ez_path(item) %}
                                    {% set isExternal = false %}
                                    {% if item.contentType.identifier == 'gebweb_custom_link' %}
                                            {% if axp_has_content(item, 'linked_content') %}
                                                {% set url = path( "ez_urlalias", {"contentId": ez_field_value(item, 'linked_content').destinationContentId } ) %}
                                            {% elseif axp_has_content(item, 'url') %}
                                                {% set url = ez_field_value(item, 'url').link %}
                                                {% set isExternal = true %}
                                            {% endif %}
                                    {% endif %}
                                    <a href="{{url}}" {{ isExternal ? 'target="_blank"' }} class="flex flex-col gap-5 md:gap-7">
                                        {% if axp_has_content(item, 'promo_image') %}
                                            {% set imageId = ez_field_value(item, 'promo_image').destinationContentId%}
                                            {{ render( controller( "ez_content::viewAction", {
                                                'contentId': imageId, 
                                                'viewType': 'line',
                                                'params':{
                                                    'alias': 'promo_sustainability',
                                                    'figureClass': 'w-full pb-0.5 md:pb-0',
                                                    'class': 'rounded-2lg md:rounded-xl w-full h-auto object-cover object-center'
                                                }
                                            } )) }}
                                        {% endif %}
                                        <div class="w-full">
                                            {% if item.fields.tags is defined and not ez_field_is_empty(item, 'tags') %}
                                            <label class="block text-2xxs md:text-xs leading-loose font-medium tracking-2wider uppercase mb-2.5 md:mb-5 md:pb-0.5 cursor-pointer">
                                                {{ez_field_value(item, 'tags')}}
                                            </label>
                                            {% endif %}
                                            <h3 class="text-lg leading-2tighter md:text-xl md:leading-2tighter font-medium md:font-semibold mb-1 md:mb-6 hover:text-geb-dark-600">
                                                {{ axp_has_content(item, 'promo_title') ? ez_field_value(item, 'promo_title') : ez_content_name(item) }}
                                            </h3>
                                            {% if axp_has_content(item, 'promo_description') %}
                                            <div class="text-xs md:text-2xs leading-5">
                                                {{ ez_field_value(item, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </article>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}
