{% set columns = columns == 'default' ? '3' : columns %}
{% set heading_position = heading_position == 'default' ? 'top' : heading_position %}
{% if cta %}
    {% set ctaHTML = (
        '<div class="flex ' ~ (cta_position == 'below_block' ? 'md:justify-center md:pl-10 mt-8 md:mt-16') ~ '">' ~
            '<a href="' ~ cta.url ~ '" ' ~ (cta.isExternal ? 'target="_blank" ') ~ 'class="w-full md:w-auto ' ~ (cta_position == 'below_heading' ? 'md:w-full ') ~ ' bg-geb-green-secondary hover:bg-geb-green-800 px-5 md:px-15 py-5 rounded-3sm shadow-2md outline-none uppercase leading-3 text-center">' ~
                '<span class="text-2xs text-white font-extrabold md:font-semibold tracking-2widest px-0.5 py-px">' ~ cta.label|default('Conoce más'|trans({}, "gebweb")) ~ '</span>' ~
            '</a>' ~
        '</div>'
    ) %}
{% endif %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="flex flex-col force-full-width {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="full-container pt-11 pb-10 md:pt-26.5 md:pb-32 md:-mx-1">
                <div class="flex">
                    <div class="flex flex-col {{ heading_position == 'left' ? 'md:flex-row md:flex-nowrap md:gap-10.5': 'gap-7.25 md:gap-14.75' }}">
                        <div class="w-full flex flex-col text-geb-dark-900 {{ heading_position == 'left' ? 'gap-2.5 md:gap-5 md:w-1/3 mb-7.5 md:mb-10': 'gap-2 md:gap-5.25' }}">
                            {% if subtitle %}
                            <label class="text-geb-dark-600 text-xxs-alt leading-4 md:text-sm font-medium md:font-semibold md:tracking-wide uppercase">
                                {{subtitle}}
                            </label>                            
                            {% endif %}                         
                            {% if title %}
                            <h2 class="text-2xl-3alt leading-6xl md:text-4xl-2alt md:leading-4xl-2alt font-semibold">
                                {{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'})|raw }}
                            </h2>
                            {% endif %}
                            {% if description and description|string_xml_to_html5|trim is not empty %}
                                <div class="text-base leading-relaxed font-medium md:text-lg">
                                    {{description|string_xml_to_html5}}
                                </div>
                            {% endif %}
                            {% if cta and cta_position == "below_heading" %}
                                {{ ctaHTML|raw }}
                            {% endif %}
                        </div>
                        {% if listed_content is not empty %}
                        <div class="w-full grid grid-cols-1 md:grid-cols-{{ columns }} gap-6.5 md:gap-12.5 {{ heading_position == 'left' ? 'md:w-2/3': 'px-px' }}">
                            {% for item in listed_content %}
                                {% set card_rendered = render(
                                    controller(
                                        "ez_content::viewAction", {
                                            "contentId": item.id, 
                                            "viewType": "card",
                                            "params": { 
                                                "card_options": cards_options|split(','),
                                                "bullet_type": bullets_type
                                            }
                                        }
                                    )
                                ) %}
                                {{ 'link' in cards_options ? card_rendered|raw : card_rendered|replace({'flex flex-col hover:text-geb-dark-600"': 'flex flex-col" style="cursor:default; outline:0"'})|raw }}
                            {% endfor %}
                            {% if cta and cta_position == "below_items" %}
                                {{ ctaHTML|raw }}
                            {% endif %}
                        </div>
                        {% endif %}          
                    </div>
                </div>
                {% if cta and cta_position == "below_block" %}
                    {{ ctaHTML|raw }}
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
