{% set columns = columns == 'default' ? '2' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "pale_blue" : background_color %}
        <section class="flex py-4 mb-8 md:mb-0 md:pt-31 md:pb-21.5 md:-mt-10.5 force-full-width md:{{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
            <div class="flex flex-col full-container">

                <div class="flex flex-col gap-2 mb-7.5 md:mb-13 md:pb-px md:pl-1.5">
                    {% if title %}
                        <h1 class="text-geb-dark-900 font-semibold text-2xl-alt leading-3tighter tracking-1.5tight md:text-4xl-2alt md:leading-tighter md:tracking-normal">{{ title }}</h1>
                    {% endif %}
                    {% if description and description|string_xml_to_html5 %}
                        <div class="text-geb-dark-900 font-medium text-2base md:text-xl">{{description|string_xml_to_html5}}</div>
                    {% endif %}
                </div>
                
                {% if listed_content %}
                    <ul class="grid grid-cols-1 md:grid-cols-{{ columns }} gap-7 space-y-px md:space-y-px md:gap-x-24 md:gap-y-24 mb-9.5 md:mb-18 text-geb-dark-900">
                        {% for item_content in listed_content %}
                            {% set item_title = axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title') : ez_field_value(item_content, 'name') %}
                            {% set item_cta = item_content|get_link("gebweb_custom_link", "linked_content", "url") %}
                            <li>
                                <a href="{{ item_cta.url }}" {{ item_cta.isExternal ? 'target="_blank"' }} class="flex">
                                    {% if axp_has_content(item_content, 'promo_icon') %}
                                        <div class="flex flex-shrink-0 w-13 md:w-22">
                                            <i class="flex items-start w-10 h-10 md:w-15 md:h-15 -mt-0.5 text-geb-blue-primary fill-none" v-icon:{{ ez_field_value(item_content, 'promo_icon') }}></i>
                                        </div>
                                    {% endif %}
                                    <div class="flex flex-col gap-px md:gap-1.5 md:space-y-px">
                                        <h3 class="text-base leading-2tighter tracking-1.5tight md:text-xl md:leading-2tighter md:tracking-normal font-semibold hover:text-geb-dark-600">{{ item_title }}</h3>
                                        {% if axp_has_content(item_content, 'promo_description') %}
                                            <div class="text-4xxs leading-relaxed-alt tracking-1.5tight md:text-2xs md:leading-5tighter">
                                                {{ ez_field_value(item_content, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if cta %}
                    <div class="flex md:justify-center md:pl-10">
                        <a href="{{ cta.url }}" {{ cta.isExternal ? 'target="_blank"' }} class="w-full md:w-auto bg-geb-green-secondary hover:bg-geb-green-800 px-5 md:px-15 py-5 rounded-3sm shadow-2md outline-none uppercase leading-3 text-center">
                            <span class="text-2xs text-white font-extrabold md:font-semibold tracking-2widest px-0.5 py-px">{{ cta.label|default('información sobre negocios') }}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
