{% set columns = columns == 'default' ? '2' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="force-full-width  {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="full-container flex flex-col md:flex-row gap-7.25 md:gap-5 pt-9 pb-11 md:pt-26.5 md:pb-35 ">
                <div class="w-full md:w-1/3 flex flex-col gap-1.75 md:gap-5.25 text-geb-dark-900">
                    {% if title %}
                    <h2 class="text-3xl-alt leading-tighter md:text-4xl-2alt md:leading-tighter font-semibold tracking-1.25tighter md:tracking-normal">
                        {{title}}
                    </h2>
                    {% endif %}
                    {% if description and description|string_xml_to_html5|trim is not empty %}
                    <div class="text-2sm leading-relaxed-alt tracking-1.8tight font-medium md:text-lg md:leading-relaxed md:tracking-normal">
                        {{description|string_xml_to_html5}}
                    </div>
                    {% endif %}
                </div>

                {% if listed_content %}
                <div class="w-full md:w-2/3 grid grid-cols-1 md:grid-cols-{{ columns }} gap-7 md:gap-13.5">
                    {% for item in listed_content %}
                        {% if item and item.contentType.identifier == 'gebweb_contact' %}
                        <article class="flex gap-4.5 text-gray-900">
                            {% if axp_has_content(item, 'promo_image') %}
                                {% set imageId = ez_field_value(item, 'promo_image').destinationContentId%}
                                {{ render( controller( "ez_content::viewAction", {
                                    'contentId': imageId, 
                                    'viewType': 'line',
                                    'params':{
                                        'alias': 'promo_contacto',
                                        'figureClass': 'flex-shrink-0',
                                        'class': 'rounded-full w-15 h-15 md:w-20 md:h-20 object-cover object-center'
                                    }
                                } )) }}
                            {% endif %}

                            <ul class="flex flex-col pl-0.5 md:pl-0.75 gap-2 md:gap-3">
                                <li>
                                    <div class="font-semibold text-sm leading-2tighter md:text-2lg md:leading-4tighter md:font-semibold">
                                        <p>{{ ez_content_name(item) }}</p>
                                    </div>
                                </li>
                                {% if axp_has_content(item, 'position') %}
                                <li>
                                    <div class="font-medium text-2xs leading-2tighter md:text-base md:leading-4tighter text-geb-green-secondary">
                                        <p>{{ez_field_value(item, 'position')}}</p>
                                    </div>
                                </li>
                                {% endif %}

                                {% if axp_has_content(item, 'email') %}
                                <li>
                                    <a href="mailto:{{ez_field_value(item, 'email')}}" class="flex items-center text-2xs leading-3tighter hover:text-geb-link break-all">
                                        <i v-icon:mail class="flex items-center w-3.5 h-3.5 md:w-4 md:h-4 fill-none mr-2 md:mr-3"></i>
                                        <span>{{ez_field_value(item, 'email')}}</span>
                                    </a>
                                </li>
                                {% endif %}
                                
                                {% if axp_has_content(item, 'phone') %}
                                <li>
                                    <a href="tel:{{ez_field_value(item, 'phone')}}" class="flex items-center text-2xs leading-3tighter hover:text-geb-link">
                                        <i v-icon:phone class="flex items-center w-3.5 h-3.5 md:w-4 md:h-4 fill-none mr-2 md:mr-3"></i>
                                        <span>{{ez_field_value(item, 'phone')}}</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </article>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
