{% set columns = columns == 'default' ? '3' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="force-full-width bg-geb-blue-50">
            <div class="full-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-11 gap-6 pt-14.25 pb-8 md:pt-39.5 md:pb-12.5">
                <div class="flex flex-col gap-6.5 md:gap-10.5 lg:col-span-4 md:pr-10 lg:pr-14 text-geb-dark-900">
                    <div class="flex flex-col gap-1.75 md:gap-5.25">
                        {% if title %}
                        <h2 class="text-3xl-alt leading-tighter md:text-4xl-2alt md:leading-tighter font-semibold tracking-1.25tighter md:tracking-normal">
                            {{title}}
                        </h2>
                        {% endif %}
                        {% if description and description|string_xml_to_html5 is not empty %}
                        <div class="text-2sm leading-relaxed-alt tracking-1.8tight font-medium md:text-lg md:leading-relaxed md:tracking-normal">
                            {{description|string_xml_to_html5}}
                        </div>
                        {% endif %}
                    </div>
                    {% if cta %}
                    <a href="{{cta.url}}" {{ cta.isExternal ? 'target="_blank"' }} class="flex items-center justify-center uppercase font-semibold text-2xs tracking-2widest h-13.25 p-2 rounded-3sm text-white bg-geb-green-secondary hover:bg-geb-green-800">
                        {{cta.label|default('Conoce más')}}
                    </a>
                {% endif %}
                </div>

				{% if listed_content %}
                <div class="flex flex-col lg:col-span-7">
                    <div class="grid grid-cols-2 lg:grid-cols-{{ columns }} gap-x-3.75 gap-y-4 lg:gap-y-15">
                    {% for item in listed_content %}
                        {% if item and axp_has_content(item, 'promo_image') %}
                            {% if item.contentType.identifier == 'gebweb_custom_link' or item.contentType.identifier == 'gebweb_page' %}
                                {% set url = ez_path(item) %}
                                {% set isExternal = false %}
                                {% set withUrl = true %}
                                
                                {% if item.contentType.identifier == 'gebweb_custom_link' %}
                                    {% if axp_has_content(item, 'linked_content') %}
                                        {% set url = path( "ez_urlalias", {"contentId": ez_field_value(item, 'linked_content').destinationContentId } ) %}
                                    {% elseif axp_has_content(item, 'url') %}
                                        {% set url = ez_field_value(item, 'url').link %}
                                        {% set isExternal = true %}
                                    {% else %}
                                        {% set withUrl = false %}
                                    {% endif %}
                                {% endif %}
                                
                                {% if withUrl %}
                                <a href="{{url}}" {{ isExternal ? 'target="_blank"' }} class="group w-full flex-col flex justify-center">
                                {% else %}
                                <div class="w-full flex-col flex justify-center">
                                {% endif %}
                                    {% set imageId = ez_field_value(item, 'promo_image').destinationContentId %}
                                    {{ render( controller( "ez_content::viewAction", {
                                        'contentId': imageId, 
                                        'viewType': 'line',
                                        'params':{
                                            'alias': 'promo_imagenes_only',
                                            'figureClass': '',
                                            'class': 'group-hover:shadow-md w-auto h-auto max-w-full max-h-full'
                                        }
                                    } )) }}
                                {% if withUrl %}
                                </a>
                                {% else %}
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
