{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="force-full-width flex pt-7 pb-16 md:pb-49.5 {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="full-container flex flex-col gap-4.5 md:gap-22 text-geb-dark-900">
                <div class="flex flex-col">
                    {% if title %}
                    <h2 class="font-semibold text-2xl-2alt md:text-4xl-2alt leading-tighter md:leading-tighter tracking-tight md:tracking-normal">
                        {{title}}
                    </h2>
                    {% endif %}
                    {% if description and description|string_xml_to_html5|trim is not empty %}
                    <div class="text-base leading-relaxed font-medium md:mb-7">
                        {{description|string_xml_to_html5}}
                    </div>
                    {% endif %}
                </div>

                <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-3 md:gap-14">
				{% if listed_content %}
                    <ul class="flex flex-col gap-4.5 md:gap-5.5 mb-8 md:mb-0 md:col-span-4 lg:col-span-1">
                    {% for item in listed_content %}
                        {% if item %}
                        <li>
                            {% set url = ez_path(item) %}
                            {% set isExternal = false %}
                            {% if item.contentType.identifier == 'gebweb_custom_link' %}
                                {% if axp_has_content(item, 'linked_content') %}
                                    {% set url = path( "ez_urlalias", {"contentId": ez_field_value(item, 'linked_content').destinationContentId } ) %}
                                {% elseif axp_has_content(item, 'url') %}
                                    {% set url = ez_field_value(item, 'url').link %}
                                    {% set isExternal = true %}
                                {% endif %}
                            {% endif %}
                            <a href="{{url}}" {{ isExternal ? 'target="_blank"' }} class="flex gap-5.75 md:gap-7">
                                <div class="w-10.25 h-10.25 md:w-12.5 md:h-12.5 flex-shrink-0 flex items-center justify-center bg-geb-blue-primary rounded-3sm text-white text-sm md:text-base font-semibold">
                                    <p>{{ loop.index }}</p>
                                </div>
                                <div class="font-medium text-2xs md:text-base leading-normal tracking-1.5tight md:tracking-normal -mt-0.5 md:-mt-1 hover:text-geb-dark-600">
                                    <p>{{ axp_has_content(item, 'promo_title') ? ez_field_value(item, 'promo_title') : ez_content_name(item) }}</p>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}

				{% if featured_content %}
                    {% if featured_content[0] is defined and axp_has_content(featured_content[0], 'promo_image') %}
                        {% set url_featured = ez_path(featured_content[0]) %}
                        {% set isExternal_featured = false %}
                        {% if featured_content[0].contentType.identifier == 'gebweb_custom_link' %}
                            {% if axp_has_content(featured_content[0], 'linked_content') %}
                                {% set url_featured = path( "ez_urlalias", {"contentId": ez_field_value(featured_content[0], 'linked_content').destinationContentId } ) %}
                            {% elseif axp_has_content(featured_content[0], 'url') %}
                                {% set url_featured = ez_field_value(featured_content[0], 'url').link %}
                                {% set isExternal_featured = true %}
                            {% endif %}
                        {% endif %}
                        
                        <a href="{{url_featured}}" {{ isExternal_featured ? 'target="_blank"' }} class="w-full h-auto xl:w-100 xl:flex-shrink-0 mb-6.5 md:mb-0 group md:col-span-2 lg:col-span-1">
                            <div class="relative">
                                {% set imageId = ez_field_value(featured_content[0], 'promo_image').destinationContentId%}
                                {{ render( controller( "ez_content::viewAction", {
                                    'contentId': imageId, 
                                    'viewType': 'line',
                                    'params':{
                                        'alias': 'promo_destacado_central_list',
                                        'figureClass': 'w-full h-auto has-gradient group-hover:shadow-lg rounded-2lg md:rounded-xl',
                                        'class': 'w-full h-full object-cover object-center'
                                    }
                                } )) }}
                                <div class="absolute inset-x-0 bottom-0 w-full h-auto mx-auto px-7.75 pt-6.5 pb-8.5 md:px-9.25 md:pb-12 md:pt-6 md:-mt-px overflow-hidden">
                                    <div class="flex flex-col gap-2 justify-end h-full relative">
                                        <label class="text-geb-green-500 text-3xxs tracking-wide md:text-xs md:tracking-2wider uppercase">
                                            {{ axp_has_content(featured_content[0], 'promo_title') ? ez_field_value(featured_content[0], 'promo_title') : ez_content_name(featured_content[0]) }}
                                        </label>
                                        {% if axp_has_content(featured_content[0], 'promo_description') %}
                                        <h3 class="text-white hover:text-geb-dark-600 font-semibold md:text-xl md:leading-2tighter">
                                            {{ ez_field_value(featured_content[0], 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                        </h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}

                    <div class="flex flex-col gap-7.25 md:gap-13.5 md:col-span-2 lg:col-span-1">
                        {% for item_featured in featured_content %}
                            {% if item_featured and loop.index < 4 and loop.index > 1 %}
                                {% set url_featured = ez_path(item_featured) %}
                                {% set isExternal_featured = false %}
                                {% if item_featured.contentType.identifier == 'gebweb_custom_link' %}
                                    {% if axp_has_content(item_featured, 'linked_content') %}
                                        {% set url_featured = path( "ez_urlalias", {"contentId": ez_field_value(item_featured, 'linked_content').destinationContentId } ) %}
                                    {% elseif axp_has_content(item_featured, 'url') %}
                                        {% set url_featured = ez_field_value(item_featured, 'url').link %}
                                        {% set isExternal_featured = true %}
                                    {% endif %}
                                {% endif %}

                                <a href="{{url_featured}}" {{ isExternal_featured ? 'target="_blank"' }} class="flex flex-col gap-1.25 md:gap-2 bg-geb-blue-50 rounded-lg shadow-md hover:shadow-lg px-7.5 py-6.25 md:pl-12 md:pr-10 md:pt-10 md:pb-10.5">
                                    {% if item_featured.fields.tags is defined and not ez_field_is_empty(item_featured, 'tags') %}
                                    <label class="text-xxs leading-loose md:text-xs md:leading-loose md:font-medium md:tracking-2wider uppercase">
                                        {{ez_field_value(item_featured, 'tags')}}
                                    </label>
                                    {% endif %}
                                    <h3 class="hover:text-geb-dark-600 text-2xs font-semibold tracking-1.8tight md:text-xl md:leading-2tighter md:font-semibold">
                                        {{ axp_has_content(item_featured, 'promo_title') ? ez_field_value(item_featured, 'promo_title') : ez_content_name(item_featured) }}
                                    </h3>
                                </a>

                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}
