{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
    <section class="force-full-width bg-geb-dark-800">
        <div class="full-container flex flex-col pt-8.75 pb-10.75 md:pt-20 md:pb-27 text-white">
            {% if subtitle %}
            <div class="flex mb-3">
                <label class="w-full font-medium text-xs tracking-2wider text-center uppercase">{{ subtitle }}</label>
            </div>
            {% endif %}
            <div class="flex flex-col gap-3 md:gap-10 mb-5.75 md:mb-13.5">
                {% if title %}
                <h2 class="font-semibold text-2xl leading-4tighter md:text-4xl-2alt md:leading-tighter text-center">
                    {{ title }}
                </h2>
                {% endif %}
                {% if description and description|string_xml_to_html5 is not empty %}
                <div class="text-4xxs tracking-tight leading-2relaxed md:text-lg md:leading-5tighter md:font-medium md:tracking-normal md:pl-1 md:w-183 md:flex-shrink-0 md:mx-auto">
                    {{description|string_xml_to_html5}}
                </div>
                {% endif %}
            </div>
            {% if featured_content and featured_content[0] is defined and featured_content[0].contentType.identifier == 'image'%}
                {% if axp_has_content(featured_content[0], 'caption') %}
                <div class="italic font-semibold text-4xxs leading-relaxed md:text-base py-0.5 pl-4 mb-9.5 md:pl-5 border-l-4 border-geb-bahia md:w-183 md:flex-shrink-0 md:mx-auto">
                    {{ez_render_field(featured_content[0], 'caption')}}
                </div>
                {% endif %}

                {% if axp_has_content(featured_content[0], 'image')%}
                <div class="flex flex-col justify-center self-center gap-3 md:gap-4.5 max-w-82 md:max-w-none md:w-183 md:flex-shrink-0 md:mx-auto">
                    {{ ez_render_field(featured_content[0], 'image', {
                        template: '@ezdesign/fields/ez_image.html.twig',
                        parameters: {
                            alias: 'promo_destacado_central',
                            figureClass: 'w-full px-px md:pl-px md:pr-0',
                            class: 'rounded-2lg md:rounded-xl w-full h-auto object-cover object-center'
                    }}) }}
                    {% if ez_field_value(featured_content[0], 'image').alternativeText is not empty %}
                    <div class="text-3xxs md:text-sm tracking-tight md:tracking-normal">
                        {{ ez_field_value(featured_content[0], 'image').alternativeText }}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {% endblock %}
{% endembed %}
