{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "transparent" : background_color %}
        <section class="force-full-width md:{{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}" >
            <div class="full-container pt-7.5 pb-4 md:pt-22.75 md:pb-8.5 text-geb-dark-900">
                <div class="flex flex-col gap-2 {{ description and description|string_xml_to_html5 ? 'mb-8' : 'mb-10 md:mb-14.5' }}">
                    {% if title %}
                        <h2 class="block text-2xl-3alt tracking-2tighter md:tracking-normal md:text-4xl-2alt leading-tighter font-semibold">{{ title }}</h2>
                    {% endif %}
                    {% if description and description|string_xml_to_html5 %}
                        <div class="text-base"><p>{{ description|string_xml_to_html5 }}</p></div>
                    {% endif %}
                </div>
                <div class="grid md:grid-cols-3 gap-4 md:gap-13 w-full">
                    <div class="{{ listed_content ? 'md:col-span-2' : 'md:col-span-3' }} mb-5 md:mb-0">
                        <emissions endpoint="/bvc_daily_geb"></emissions>
                    </div>
                    {% if listed_content %}
                        <div class="md:col-span-1 space-y-4.75 md:space-y-9.25">
                            {% for item_content in listed_content %}
                                {% set item_title = axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title') : ez_field_value(item_content, 'name') %}
                                {% set item_cta = item_content|get_link("gebweb_custom_link", "linked_content", "url") %}
                                <a href="{{ item_cta.url }}" {{ item_cta.isExternal ? 'target="_blank"' }} class="flex flex-grow justify-center bg-geb-green-secondary hover:bg-geb-green-800 text-white text-center rounded-3sm shadow-2md font-semibold text-2xs leading-none tracking-widest md:tracking-2widest uppercase py-5 px-4">{{ item_title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}