{% set columns = columns == 'default' ? '2' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "pale_blue" : background_color %}
        <section class="force-full-width flex">
            <div class="full-container">
                <div class="flex flex-col pt-7.5 mb-4 md:pt-16.75 md:mb-8 {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }} rounded-lg md:rounded-xl text-geb-dark-900">
                    {% if title %}
                        <div class="flex flex-col gap-3 md:gap-10 pb-5.25 md:pb-11.5">
                            <h2 class="text-2xl-alt leading-tight md:text-4xl-2alt md:leading-tighter font-semibold text-center">{{ title }}</h2>
                        </div>
                        <hr class="border-t border-geb-gray-300" />
                    {% endif %}

                    <div class="grid grid-cols-1 {{ featured_content ? 'md:grid-cols-12 lg:grid-cols-11' : 'col-span-full' }} pt-6 md:pt-0 gap-6.25">
                        <div class="flex flex-col md:col-span-7 xl:col-span-8 px-7.25 md:px-12 md:pt-16 md:pb-12 gap-6.5 md:gap-9.5">
                            <div class="flex flex-col gap-3.5 md:gap-6.5">
                                {% if subtitle %}
                                    <h3 class="text-base leading-2tighter tracking-tight md:text-xl md:leading-2tighter md:tracking-normal font-semibold">{{ subtitle }}</h3>
                                {% endif %}
                                {% if description and description|string_xml_to_html5 %}
                                    <div class="text-4xxs leading-relaxed-alt md:text-2xs md:leading-5tighter">
                                        {{description|string_xml_to_html5}}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="flex flex-col gap-2.5 md:gap-8.5">
                                <div class="flex items-center gap-4">
                                    <h4 class="text-geb-blue-primary text-xs leading-5tighter tracking-wider md:text-sm md:leading-tighter md:tracking-wide font-semibold uppercase">{{ 'Included in the report'|trans({}, "gebweb") }}</h4>
                                    <hr class="w-13 flex-grow" />
                                </div>
                                {% if listed_content %}
                                    <ul class="grid grid-cols-1 md:grid-cols-{{ columns }} gap-1.75 md:gap-x-15.75 md:gap-y-5">
                                        {% for item in listed_content %}
                                            {% if axp_has_content(item, "file") %}
                                                <li>
                                                    <a href="{{ ez_path(ez_route('ez_content_download', { 'content': item, 'fieldIdentifier': 'file'})) }}" class="flex items-center gap-2.75 text-geb-green-secondary hover:text-geb-dark-600">
                                                    <div class="w-5 h-5 -ml-0.5 flex items-center flex-shrink-0">
                                                        <i class="w-full h-full rounded-full" v-icon:check-circle></i>
                                                    </div>
                                                    <div class="text-4xxs leading-5tighter tracking-1.5tight md:text-2xs md:leading-5tighter md:tracking-normal">
                                                        <p>{{ axp_has_content(item, "promo_title") ? ez_field_value(item, "promo_title") : ez_content_name(item) }}</p>
                                                    </div>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        {% if featured_content and axp_has_content(featured_content.0, "file") %}
                            <document-viewer class="flex flex-col md:col-span-5 lg:col-span-4 xl:col-span-3 gap-2.75 px-7 pt-8 pb-10.75 md:px-12 md:pt-11.5 md:pb-12 bg-geb-blue-150 md:rounded-br-xl">
                                <template v-slot:default="{ handlerDocClicked }">
                                    <h3 class="text-base leading-2tighter md:text-xl md:leading-2tighter text-center font-semibold text-geb-gray-900">{{ axp_has_content(featured_content.0, "promo_title") ? ez_field_value(featured_content.0, "promo_title") : ez_content_name(featured_content.0) }}</h3>
                                    <div class="flex flex-col gap-2.75 md:gap-5">
                                        <div class="flex flex-col gap-4.25 md:gap-5.75">
                                            <div class="text-4xxs leading-relaxed md:text-2xs md:leading-5tighter text-center">
                                                <p>{{ 'Download it or check it online'|trans({}, "gebweb") }}</p>
                                            </div>
                                            <div>
                                                {% set download_route = ez_route('ez_content_download', {
                                                    'content': featured_content.0,
                                                    'fieldIdentifier': 'file'
                                                }) %}
                                                <a href="{{ ez_path(download_route) }}" class="w-full h-13.25 flex items-center justify-center px-2 py-1 text-xs md:text-2xs font-bold tracking-2widest bg-geb-green-secondary hover:bg-geb-green-800 rounded-3sm text-white uppercase">{{ 'Download'|trans({}, "gebweb") }}</a>
                                            </div>
                                        </div>

                                        <a
                                            href="javascript:"
                                            @click="handlerDocClicked('{{ ez_url(download_route)|url_encode }}', 500, 500)"
                                            class="flex flex-col gap-4.25 md:gap-5.75"
                                        >
                                            <div class="text-4xxs leading-relaxed md:text-2sm md:leading-normal text-center text-geb-gray-500">
                                                <p>{{ ez_field_value(featured_content.0, 'file').mimeType|split('/')|last|upper }} ({{ ez_field_value(featured_content.0, 'file').fileSize|convert_bytes('MB') }} MB)</p>
                                            </div>
                                            <div>
                                                <div class="w-full h-13.25 flex items-center justify-center px-2 py-1 text-xs md:text-2xs font-bold tracking-2widest bg-geb-green-secondary hover:bg-geb-green-800 rounded-3sm text-white uppercase">{{ 'Watch online'|trans({}, "gebweb") }}</div>
                                            </div>
                                        </a>
                                    </div>
                                </template>
                            </document-viewer>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}