{% set listed_content = listed_content ? listed_content|filter(content => content.contentType.identifier == "gebweb_article" or content.contentType.identifier == "gebweb_page") %}
{% set jsonContent = listed_content|map(item_content => {
  "imageUrl": axp_has_content(item_content, 'promo_image') ? ez_render_field(item_content, 'promo_image', { parameters: {alias: 'promo_gallery'} } )|striptags('<img>')|split('"').1,
  "imageAlt": axp_has_content(item_content, 'promo_image') ? ez_field_value(item_content, 'promo_image').alternativeText,
  "text": axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title').text : ez_content_name(item_content),
  "icon": axp_has_content(item_content, 'promo_icon') ? ez_field_value(item_content, 'promo_icon').text,
  "description":  axp_has_content(item_content, 'promo_description') ? ez_render_field(item_content, 'promo_description')
}) %}
{% set has_description = description and description|string_xml_to_html5 %}
{% set title = title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'}) %}
{% set background_color = background_color == "default" ? "bg-geb-blue-100" : axp_get_key_value('background_color', background_color) %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
		<section class="force-full-width {{ background_color }} {{ apply_gradient ? 'has-gradient' }}">
			<div class="full-container flex flex-col gap-5.75 md:gap-15.25 pt-6 pb-8.5 md:pt-30.5 md:pb-40">
				<div class="flex flex-col text-geb-dark-900">
					{% if title is not empty %}
						<h2 class="block text-2xl-alt leading-3tighter tracking-tight md:text-4xl-2alt md:leading-tighter md:tracking-normal font-semibold">
							{{ title|raw }}
						</h2>
					{% endif %}
					{% if has_description %}
						<div class="text-base font-medium">
							{{ description|string_xml_to_html5 }}
						</div>
					{% endif %}
				</div>
				{% if jsonContent is not empty %}
					<gallery :items="{{ jsonContent|json_encode }}"></gallery>
				{% endif %}
			</div>
		</section>
	{% endblock %}
{% endembed %}
