{% set columns = columns == 'default' ? '3' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "bg-transparent" : axp_get_key_value('background_color', background_color) %}
        <section class="force-full-width {{ background_color }} {{ apply_gradient ? 'has-gradient' }}">
            <div class="full-container flex flex-col gap-7.75 md:gap-11 mt-6.25 mb-10.75 md:my-63.5 text-center text-geb-dark-900"> 
                <div class="flex flex-col gap-1.75 md:gap-2.5">
                    {% if title %}
                        <h2 class="font-bold text-3xl leading-3tighter tracking-3tight md:text-4xl-2alt md:leading-tighter md:tracking-normal">{{ title }}</h2>
                    {% endif %}
                    {% if subtitle %}
                        <div class="text-geb-blue-primary text-4xxs leading-5tighter md:text-2xl-3alt md:tracking-1.5tight">
                            <p>{{ subtitle }}</p>
                        </div>
                    {% endif %}
                </div>
                {% if listed_content %}
                <ul class="grid grid-cols-1 lg:grid-cols-{{ columns }} gap-6.5 md:gap-8">
                    {% for item_content in listed_content %}
                        <li>
                            <div class="flex flex-col gap-1.75 md:gap-3">
                                {% if axp_has_content(item_content, 'figure') %}
                                    <div class="text-5xl leading-tighter tracking-2tight md:text-6xl-6alt font-semibold">
                                        <p>{{ ez_field_value(item_content, 'figure') }}</p>
                                    </div>
                                {% endif %}

                                {% if axp_has_content(item_content, 'promo_description') %}
                                    <div class="text-4xxs leading-relaxed-alt md:text-2sm md:leading-relaxed px-5">
                                        {{ ez_field_value(item_content, 'promo_description')|string_xml_to_html5 }}
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
