{% set columns = columns == 'default' ? '3' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "transparent" : background_color %}
        <section class="force-full-width md:{{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
            <div class="full-container pt-4 flex flex-col gap-6 md:gap-13.75 pb-2.5 md:pb-13.5">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-x-12.5 md:gap-y-11.5">
                    {% if featured_content %}
                        <v-axis 
                            v-for="item in {{ featured_content|get_basic_fields|json_encode }}" 
                            :title="item.title"
                            :url="'{{ path('content_api') }}/' + item.content_id"
                            :icon="item.promo_icon"
                        ></v-axis>
                    {% endif %}
                </div>
                {% if listed_content %}
                    <div class="grid grid-cols-1 md:grid-cols-{{ columns }} gap-4 md:gap-12.75">
                        {% for item_content in listed_content %}
                            {% set item_title = axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title') : ez_field_value(item_content, 'name') %}
                            {% set item_cta = item_content|get_link("gebweb_custom_link", "linked_content", "url") %}
                            <div class="flex">
                                <a href="{{ item_cta.url }}" {{ item_cta.isExternal ? 'target="_blank"' }} class="flex flex-grow justify-center items-center bg-geb-green-secondary hover:bg-geb-green-800 text-white rounded-3sm shadow-2md font-semibold text-center text-2xs leading-none tracking-widest md:tracking-2widest uppercase py-5 px-4">{{ item_title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
