
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "bg-transparent" : axp_get_key_value('background_color', background_color) %}
        <section class="force-full-width {{ background_color }} {{ apply_gradient ? 'has-gradient' }}">
            <div class="full-container flex flex-col pt-10 pb-0.75 md:pt-35.25 md:pb-32 text-geb-dark-900">
                {% if title %}
                    <div class="flex flex-col gap-4 mb-3.75 md:mb-9">
                        <h1 class="text-1.5xl-alt md:text-4xl-2alt md:leading-tighter font-semibold">{{ title }}</h1>
                    </div>
                {% endif %}
                <div class="grid grid-cols-1 2md:grid-cols-2 gap-14.25 md:content-between">
                    <div class="flex flex-col gap-7 md:gap-9.5 pl-1">
                        {% if subtitle %}
                            <h4 class="text-sm tracking-tight md:text-xl md:leading-tighter md:tracking-normal font-semibold">{{ subtitle }}</h4>
                        {% endif %}

                        {% if listed_content %}
                        <ul class="grid grid-cols-1 gap-4.75 md:gap-8">
                            {% for item_content in listed_content %}
                                {% set item_title = axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title') : ez_field_value(item_content, 'name') %}
                                {% set item_cta = item_content|get_link("gebweb_custom_link", "linked_content", "url") %}
                                
                                <li>
                                    <a href="{{ item_cta.url }}" {{ item_cta.isExternal ? 'target="_blank"' }} class="flex group">
                                        <div class="flex w-5.25 md:w-7.25 flex-shrink-0">
                                            <i class="w-2.5 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:arrow-right-link-alt></i>
                                        </div>
                                        <div class="flex flex-col">
                                            <h4 class="text-xs leading-normal md:text-2lg md:leading-2lg md:tracking-3tight font-medium text-geb-gray-700 hover:text-geb-dark-600">{{ item_title }}</h4>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="flex flex-col gap-7.5 md:gap-14 md:ml-5">
                        <div class="flex flex-col pt-9.25 pb-7 pl-7.5 pr-6.5 md:pl-12 md:pr-10.25 md:pt-11.5 md:pb-13.75 shadow-2md">
                            <div class="text-xs tracking-1.8tight leading-normal md:tracking-normal md:text-2xs flex flex-col gap-y-0.5 mb-4.25 md:mb-14.25">
                                {% if description and description|string_xml_to_html5 %}
                                    {{ description|string_xml_to_html5 }}
                                {% endif %}
                            </div>

                            <form class="flex flex-col gap-5 md:gap-8 text-geb-dark-750">
                                <div class="flex flex-wrap gap-x-3.75 sm:gap-x-4.25 gap-y-4.25">
                                    <div class="w-17.5 sm:w-20.5 md:w-17.5 lg:w-2/12 h-10 sm:h-10.5 custom-select">
                                        <select name="type_id" id="type_id" class="cursor-pointer w-full h-full px-2 outline-none border border-geb-gray-50 focus:border-geb-dark-900 focus:border-opacity-50 bg-gray-50 rounded-1.5sm text-3xxs leading-4tighter tracking-1.8tight">
                                            <option value="cc">CC</option>
                                            <option value="nit">NIT</option>
                                        </select>
                                    </div>

                                    <div class="w-10 sm:w-5/12 md:w-10 lg:w-5/12 h-10 sm:h-10.5 flex-grow lg:flex-grow-0">
                                        <input placeholder="79.600.568" type="text" name="id" id="id" class="w-full h-full px-2 outline-none border border-geb-gray-50 focus:border-geb-dark-900 focus:border-opacity-50 bg-gray-50 rounded-1.5sm text-3xxs leading-4tighter tracking-1.8tight">
                                    </div>

                                    <div class="w-full sm:w-4/12 md:w-full lg:w-4/12 h-10 sm:h-10.5 custom-select">
                                        <select name="year" id="year" class="cursor-pointer w-full h-full px-2 outline-none border border-geb-gray-50 focus:border-geb-dark-900 focus:border-opacity-50 bg-gray-50 rounded-1.5sm text-3xxs leading-4tighter tracking-1.8tight">
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>

                                    <div class="w-full sm:w-5/12 md:w-full lg:w-5/12 h-10 sm:h-10.5">
                                        <input placeholder="# {{ 'Investor Account'|trans({}, "gebweb") }}" type="text" name="account" id="account" class="w-full h-full px-2 outline-none border border-geb-gray-50 focus:border-geb-dark-900 focus:border-opacity-50 bg-gray-50 rounded-1.5sm text-3xxs leading-4tighter tracking-1.8tight">
                                    </div>

                                    <div class="w-full sm:w-1/2 flex justify-center sm:flex-grow">
                                        <img src="https://via.placeholder.com/268x38?text=Re+C+a+p+t+c+h+a" class="border border-geb-gray-50 focus:border-geb-dark-900 focus:border-opacity-50 bg-gray-50 rounded-1.5sm">
                                    </div>
                                </div>

                                <button type="submit" class="flex items-center justify-center w-full h-11.5 md:h-13.50 font-semibold text-3xxs tracking-2widest text-geb-green-secondary uppercase px-4.5 rounded-3sm border-2 border-geb-green-secondary hover:bg-geb-green-secondary hover:text-white hover:shadow">{{ 'Request'|trans({}, "gebweb") }}</button>
                            </form>
                        </div>

                        <div class="flex flex-col px-7 pt-9.25 pb-7.75 md:pl-12 md:pr-10.25 md:pt-10.75 md:pb-12.5 shadow-2md">
                            <section class="flex">
                                <div class="flex flex-col flex-grow gap-0 md:gap-3.25 z-10">
                                    <div class="flex justify-center mb-1.5 md:mb-0 md:flex-grow">
                                        <h2 class="w-full font-semibold text-lg leading-3tighter tracking-tight md:text-xl md:tracking-normal md:leading-3tighter text-geb-dark-900">GEB {{ 'Newsletter'|trans({}, "gebweb") }}</h2>
                                    </div>

                                    <news-letter url="{{ path('gebweb_newsletter_subscription') }}" :is-investor="true">
                                        <template v-slot:form="{ onSubmit, isSending }">
                                            <form @submit.prevent="onSubmit" class="order-2">
                                                <div class="relative flex items-center w-full h-10.5 md:h-12.5 rounded-sm border border-geb-gray-50 bg-trueGray-50">
                                                    <input required :disabled="isSending" name="email" type="email" placeholder="{{ 'Email address'|trans({}, "gebweb") }}" class="w-full h-full bg-transparent border-0 text-gray-500 text-xxs-2alt md:text-xs leading-none pl-3 pr-30 md:pr-34 py-2 outline-none rounded-sm disabled:bg-gray-50" />
                                                    <input type="hidden" name="form_id" value="85b7d82b-c46f-4862-9a0f-7a946f15de01">
                                                    <input type="hidden" name="input_name" value="ma-form-element-yui_3_18_1_1_1640798160108_3108">
                                                    <button :disabled="isSending" type="submit" class="absolute right-1.25 md:right-2 flex flex-shrink-0 items-center justify-center mt-px font-semibold text-xs leading-7 text-geb-green-secondary hover:text-white w-26 h-7.25 md:w-30.25 md:h-8.5 bg-white hover:bg-geb-green-secondary border-2 border-geb-green-secondary disabled:opacity-70 disabled:pointer-events-none rounded-3sm">
                                                        <i class="animate-spin -ml-1 mr-3 h-5 w-5 text-white fill-none" v-icon:tw-spin v-if="isSending"></i>
                                                        {{ 'Subscribe'|trans({}, "gebweb") }}
                                                    </button>
                                                </div>
                                            </form>
                                        </template>

                                        <template v-slot:privacy-policy>
                                            <div class="flex flex-col order-1 mb-5 md:mb-6">
                                                <div class="text-4xxs tracking-wide font-medium leading-relaxed-alt md:text-xs md:tracking-wide md:-ml-0.5 text-geb-gray-700">
                                                    <p>{{ 'Find'|trans({}, "gebweb") }} <a href="#" class="text-geb-green-secondary">{{ 'Here'|trans({}, "gebweb")|lower }}</a> {{ 'Our personal data protection policy'|trans({}, "gebweb")|lower }}</p>
                                                </div>
                                            </div>
                                        </template>
                                    </news-letter>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}
