{% set featured_content = featured_content ? featured_content|filter(content => content.contentType.identifier == "image") %}
{% set listed_content = listed_content ? listed_content|filter(content => content.contentType.identifier == "gebweb_indicator") %}
{% set background_color = background_color == 'default' ? 'secondary_green' : background_color %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
		<section class="flex flex-col force-full-width">
			<div class="full-container pb-5 md:pb-12.5">
				<div class="relative flex flex-wrap md:flex-nowrap gap-5.5 md:gap-12 overflow-hidden text-white rounded-lg md:rounded-xl px-7 pt-7.5 pb-10 md:px-12 md:pt-19.5 md:pb-12.75 {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
					<div class="absolute inset-x-0 mx-auto bottom-0 w-56 h-50 md:left-40 md:-bottom-6 md:-ml-0.5 md:w-92 md:h-90 opacity-6 pointer-events-none">
						<span v-icon:sostenibilidad></span>
					</div>
					<div class="flex w-full md:w-1/2 pt-px md:pt-0 md:ml-px md:mt-2.5 z-10">
						{% if featured_content is not empty %}
							{{ ez_render_field(featured_content[0], 'image', {
								template: '@ezdesign/fields/ez_image.html.twig',
								parameters: {
									alias: 'promo_sustainability',
									figureClass: 'w-full',
									class: 'rounded-md md:rounded-xl w-full h-auto object-cover object-center'
								}}) }}
						{% endif %}
					</div>
					<div class="w-full md:w-1/2 flex flex-col z-10">
						<div class="flex flex-col mb-4 md:mb-21 gap-4 md:gap-8.5">
							<h2 class="text-2xl-alt leading-tight tracking-tight md:text-4xl-2alt md:leading-tighter md:tracking-normal font-semibold md:pt-px">
								{{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'})|raw }}
							</h2>
							{% if description|string_xml_to_html5 is not empty %}
								<div class="text-4xxs leading-relaxed-alt md:text-lg md:leading-relaxed font-medium">
									{{ description|string_xml_to_html5 }}
								</div>
							{% endif %}
						</div>
						{% if listed_content is not empty %}
							<div class="flex flex-wrap justify-center lg:justify-between gap-3 lg:gap-x-2 lg:gap-y-5 text-geb-aquamarine text-center lg:text-left mb-6 md:mb-11.5">
								{% for indicator in listed_content %}
									{% if loop.index <= 3 %}
										<div class="flex flex-col w-full lg:w-auto">
											<label class="text-6xl font-semibold">{{ ez_field_value(indicator, 'figure') }}</label>
											<span class="text-xs leading-snug tracking-tight md:tracking-wider lg:max-w-47.75 uppercase font-semibold">{{ ez_field_value(indicator, 'name') }}</span>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
						{% if cta %}
							<div class="flex mt-0.5">
								<a href="{{ cta.url }}" {{ cta.isExternal ? 'target="_blank"' }} class="flex flex-grow justify-center md:flex-grow-0 px-4 pt-3.5 pb-3 mb-px md:mb-px md:ml-0.5 md:px-4.5 md:pt-4 md:pb-3.5 rounded-sm md:rounded-2sm border md:border-2 border-geb-turquoise-bright text-geb-turquoise-bright text-3xxs leading-none font-bold md:text-4xxs md:leading-2lg md:font-semibold hover:bg-white hover:bg-opacity-5 hover:shadow-md uppercase tracking-wider md:tracking-2widest text-center">{{ cta.label|default('Conoce más sobre sostenibilidad') }}</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
{% endembed %}
