{% set listed_content = listed_content ? listed_content|filter(content => content.contentType.identifier == "gebweb_file" and axp_has_content(content, 'file')) %}
{% set featured_content = featured_content ? featured_content|filter(content => content.contentType.identifier == "gebweb_file" and axp_has_content(content, 'file')) %}
{% set background_color = background_color == 'default' ? 'bg-geb-blue-50' : axp_get_key_value('background_color', background_color) %}
{% set has_description = description|string_xml_to_html5 is not empty %}
{% set columns = columns == 'default' ? '2' : columns %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
	{% block content %}
		<section class="force-full-width {{ background_color }}">
			<div class="full-container text-geb-dark-900 word-break">
				<document-viewer class="flex flex-col 2md:flex-row gap-7 2md:gap-13 pt-3.75 2md:pt-8.5 pb-12">
					<template v-slot:default="{ handlerDocClicked }">
						{% if listed_content is not empty  or title is not empty or has_description %}
							<div class="flex flex-col md:w-full gap-5 md:gap-8 px-8 py-6.5 md:px-12 md:pt-10.25 md:pb-8.25 bg-white border border-geb-green-secondary rounded-lg md:rounded-xl">
								{% if title is not empty %}
									<h2 class="font-semibold text-2xs md:text-xl leading-normal md:leading-snug tracking-1.5tight md:tracking-normal">{{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'}) }}</h2>
								{% endif %}
								{% if has_description %}
									<div class="text-geb-dark-900 font-medium text-base md:text-lg">
										{{ description|string_xml_to_html5 }}
									</div>
								{% endif %}
								<ul class="grid grid-cols-1 sm:grid-cols-{{ columns }} gap-4.25 md:gap-x-10.25 md:gap-y-8.75">
									{% for item_content in listed_content %}
										<li>
											<a href="{{ ez_path(ez_route('ez_content_download', {'content': item_content, 'fieldIdentifier': 'file',})) }}" class="flex gap-1.25 md:gap-3 cursor-pointer">
												<div class="flex pt-1">
													<i class="w-3 h-2.75 md:w-4 md:h-4 text-geb-green-secondary hover:text-geb-link flex" v-icon:doc></i>
												</div>
												<div class="flex flex-col gap-1.5 md:gap-1.5">
													<h3 class="text-4xxs md:text-lg md:font-medium leading-normal tracking-wide hover:text-geb-link">
														{{ axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title').text : ez_content_name(item_content) }}
													</h3>
													<div class="text-2xxs md:text-sm leading-normal md:leading-tighter tracking-tight"><p>{{ ez_field_value(item_content, 'file').mimeType|split('/')|last|upper }} ({{ (ez_field_value(item_content, 'file').fileSize / 1000)|number_format(2) }} KB)</p></div>
												</div>
											</a>
										</li>
									{% endfor %}
								</ul>
								{% if cta %}
									<div class="flex flex-grow items-end justify-end pt-0.5 md:pt-0 lg:-mt-3">
										<a href="{{ cta.url }}" {{ cta.isExternal ? 'target="_blank"' }} class="text-geb-green-secondary hover:text-geb-dark-800 text-xxs md:text-xs tracking-wide md:tracking-2wider leading-loose uppercase">{{ cta.label|default('más resultados financieros') }}</a>
									</div>
								{% endif %}
							</div>
						{% endif %}
						{% if featured_content is not empty %}
							<div class="grid grid-cols-1 sm:grid-cols-2 2md:grid-cols-1 2md:flex-grow 2md:w-78 lg:w-100 2md:flex-shrink-0 gap-7 2md:gap-14.75">
								{% for item_content in featured_content %}
									{% if loop.index <= 2 %}
										<a
											href="javascript:"
											@click="handlerDocClicked('{{ ez_path(ez_route('ez_content_download', {'content': item_content, 'fieldIdentifier': 'file',})) }}', 500, 500)"
											class="flex flex-col gap-2 md:gap-3 px-8 py-6.5 md:pl-12 md:pr-10 md:pt-10 md:pb-9.75 bg-white border border-geb-green-secondary rounded-lg cursor-pointer hover:shadow-md"
										>
											{% if axp_has_content(item_content, 'promo_description') %}
												<div class="text-1.25xxs md:text-xs md:tracking-wider leading-none uppercase pt-0.75">
													{{ ez_render_field(item_content, 'promo_description')|striptags }}
												</div>
											{% endif %}
											<div class="flex gap-1.75 md:gap-2.75">
												<div class="flex pt-1.25 md:pt-2 md:-ml-0.5">
													<i class="w-3 h-2.75 md:w-4 md:h-4 text-geb-green-secondary hover:text-geb-link flex" v-icon:doc></i>
												</div>
												<div class="flex flex-col gap-1 md:gap-1.25">
													<h3 class="font-medium md:font-semibold text-sm md:text-2lg leading-5tighter tracking-tight md:tracking-wide hover:text-geb-link">
														{{ axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title').text : ez_content_name(item_content) }}
													</h3>
													<div class="text-2xxs md:text-2xs leading-normal tracking-tight"><p>{{ ez_field_value(item_content, 'file').mimeType|split('/')|last|upper }} ({{ (ez_field_value(item_content, 'file').fileSize / 1000)|number_format(2) }} KB)</p></div>
												</div>
											</div>
										</a>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</template>
				</document-viewer>
			</div>
		</section>
	{% endblock %}
{% endembed %} 
