{% set columns = columns == 'default' ? '1' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="flex flex-col pt-7.5 pb-10 md:pt-25.5 md:pb-41 mb-px md:mb-0 md:-ml-0.5 force-full-width {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="flex flex-wrap md:flex-nowrap gap-6 md:gap-40 md:-ml-px full-container">
                <div class="flex w-full lg:w-121 lg:flex-shrink-0 mb-0.5 lg:mb-0 lg:mr-1.5">
                    <div class="w-full pr-2 md:pt-0.5">
                        {% if subtitle %}
                        <label class="text-geb-dark-600 text-xxs-alt leading-4 md:text-sm font-medium md:font-semibold md:tracking-wide uppercase">{{subtitle}}</label>                            
                        {% endif %}                    
                        {% if title %}
                        <h1 class="text-geb-dark-900 font-semibold text-3xl-alt tracking-tighter leading-none mb-2.5 md:text-6xl md:leading-tighter md:tracking-normal md:mb-3.5 md:-ml-0.75">
                            {{title}}
                        </h1>
                        {% endif %}
                        {% if description and description|string_xml_to_html5|trim is not empty %}
                        <div class="text-geb-dark-900 font-medium text-2sm leading-relaxed-alt tracking-1.5tight md:text-lg md:leading-relaxed md:tracking-normal">
                            {{description|string_xml_to_html5}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-col gap-6.5 md:gap-15 w-full md:w-1/2 pt-0.5 mt-0 md:mt-8.5 md:ml-0">
                    {% if listed_content %}
                    <ul class="grid grid-cols-1 md:grid-cols-{{ columns }} flex flex-col gap-6 md:gap-15 md:mt-px">
                    {% for item in listed_content %}
                    {% if item %}
                        {% set url = ez_path(item) %}
                        {% set isExternal = false %}
                        {% if item.contentType.identifier == 'gebweb_custom_link' %}
                            {% if axp_has_content(item, 'linked_content') %}
                                {% set url = path( "ez_urlalias", {"contentId": ez_field_value(item, 'linked_content').destinationContentId } ) %}
                            {% elseif axp_has_content(item, 'url') %}
                                {% set url = ez_field_value(item, 'url').link %}
                                {% set isExternal = true %}
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="{{url}}" {{ isExternal ? 'target="_blank"' }} class="flex">
                                <div class="flex w-8.5 md:w-10 flex-shrink-0">
                                    <i class="mt-1.5 md:mt-2 md:pt-px w-5 md:w-6 text-geb-dark-600" v-icon:arrow-right-link></i>
                                </div>
                                <div class="flex flex-col gap-2 md:gap-3.5">
                                    <h3 class="text-geb-dark-900 hover:text-geb-link text-base leading-6 md:text-xl md:leading-2tighter font-semibold pb-px">{{ axp_has_content(item, 'promo_title') ? ez_field_value(item, 'promo_title') : ez_content_name(item) }}</h3>
                                    {% if axp_has_content(item, 'promo_description') %}
                                    <div class="text-4xxs md:text-2xs leading-relaxed-alt md:leading-relaxed tracking-normal font-normal text-geb-dark-900"> 
                                        {{ ez_field_value(item, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                    </div>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% if cta %}
                        <div class="flex md:pl-10">
                            <a href="{{cta.url}}" {{ cta.isExternal ? 'target="_blank"' }} class="w-full md:w-auto bg-geb-green-secondary hover:bg-geb-green-800 px-5 py-5 md:px-17 rounded-3sm shadow-2md outline-none uppercase leading-3 text-center">
                                <span class="text-2xs leading-none text-white font-semibold tracking-widest px-1 py-px md:px-1.5">
                                    {{cta.label|default('Conoce más')}}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>                
            </div>
        </section>
    {% endblock %}
{% endembed %}
