{% set columns = columns == 'default' ? '2' : columns %}
{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        <section class="flex py-6 md:pb-36 md:pt-26 mb-7 md:mb-0 md:-mt-2.5 force-full-width {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient and apply_gradient == '1' ? 'relative has-gradient' }}">
            <div class="flex flex-col gap-5 md:gap-18 full-container">
                <div class="flex flex-col gap-5.5 text-geb-dark-900 md:-ml-1">
                    {% if subtitle %}
                    <label class="text-geb-dark-600 text-xxs-alt leading-4 md:text-sm font-medium md:font-semibold md:tracking-wide uppercase">{{subtitle}}</label>                            
                    {% endif %}                 
                    {% if title %}
                    <h2 class="font-semibold text-2xl-alt leading-3tighter tracking-2tight md:text-4xl-2alt md:leading-tighter md:tracking-normal">
                        {{title}}
                    </h2>
                    {% endif %}
                    {% if description and description|string_xml_to_html5|trim is not empty %}
                    <div class="text-sm leading-2relaxed md:text-lg md:leading-5tighter font-medium">
                        {{description|string_xml_to_html5}}
                    </div>
                    {% endif %}
                </div>

				{% if listed_content %}
                <ul class="grid grid-cols-1 md:grid-cols-{{ columns }} gap-6.5 md:gap-x-20.5 md:gap-y-12 pt-px">
                    {% for item in listed_content %}
                    {% if item %}
                    <li>
                        {% set url = ez_path(item) %}
                        {% set isExternal = false %}
                        {% if item.contentType.identifier == 'gebweb_custom_link' %}
                                {% if axp_has_content(item, 'linked_content') %}
                                    {% set url = path( "ez_urlalias", {"contentId": ez_field_value(item, 'linked_content').destinationContentId } ) %}
                                {% elseif axp_has_content(item, 'url') %}
                                    {% set url = ez_field_value(item, 'url').link %}
                                    {% set isExternal = true %}
                                {% endif %}
                        {% endif %}
                        <a href="{{url}}" {{ isExternal ? 'target="_blank"' }} class="flex group text-geb-dark-900">
                            <div class="flex w-6 md:w-7.25 flex-shrink-0">
                                <i class="w-3 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:arrow-right-link-alt></i>
                            </div>
                            <div class="flex flex-col">
                                <label class="text-xxs-alt md:text-xs md:leading-loose font-medium tracking-widest uppercase mb-3 md:mb-3.5 cursor-pointer">{{ axp_has_content(item, 'publication_date') ? ez_field_value(item, 'publication_date').date|date('M j, Y')|upper : item.versionInfo.creationDate|date('M j, Y')|upper }}</label>
                                <h4 class="text-sm md:text-2lg md:leading-2lg font-medium mb-3 pb-px md:mb-4.5 hover:text-geb-dark-600">{{ axp_has_content(item, 'promo_title') ? ez_field_value(item, 'promo_title') : ez_content_name(item) }}</h4>
                                {% if axp_has_content(item, 'promo_description') %}
                                <div class="text-4xxs leading-relaxed-alt md:text-2xs md:leading-5tighter font-normal">
                                    {{ ez_field_value(item, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                </div>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </section>
    {% endblock %}
{% endembed %}
