{% set featured_content = featured_content ? featured_content|filter(content => content.contentType.identifier == "image") %}
{% set background_color = background_color == 'default' ? 'primary_blue' : background_color %}
{% set columns = columns == 'default' ? '2' : columns %}

{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
		<section class="flex flex-col force-full-width">
			<div class="full-container pb-4.5 md:pb-10">
				<div class="relative flex flex-wrap md:flex-nowrap md:flex-row-reverse gap-5.5 md:gap-7 overflow-hidden text-white rounded-lg md:rounded-xl px-7 pt-7.5 pb-9 md:px-12 md:pt-17.75 md:pb-17.25 {{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
					<div class="absolute inset-x-0 -bottom-1.5 w-70 h-56 mx-auto md:left-auto md:right-35 md:-bottom-2 md:-ml-1 md:-mt-0.5 md:w-92 md:h-90 lg:w-100.5 lg:h-89.5  lg:right-34 lg:-bottom-px opacity-6 pointer-events-none">
						<span class="block md:hidden" v-icon:inversionistas-mobile></span>
						<span class="hidden md:block" v-icon:inversionistas></span>
					</div>
					<div class="flex md:flex-wrap w-full md:w-1/2 pt-px md:pt-0 z-10">
						{% if featured_content is not empty %}
							{{ ez_render_field(featured_content[0], 'image', {
								template: '@ezdesign/fields/ez_image.html.twig',
								parameters: {
									alias: 'promo_sustainability',
									figureClass: 'w-full px-px',
									class: 'rounded-md md:rounded-xl w-full h-auto object-cover object-center'
								}}) }}
						{% endif %}
						<div class="hidden md:flex w-full items-end">
							<p class="text-3xl lg:text-5xl xl:text-5xl-alt leading-tight font-semibold pb-24 md:pb-24.5 md:pl-0.5">
								<bvc-stats endpoint="/bvc_daily_geb"></bvc-stats>
							</p>
						</div>
					</div>
					<div class="w-full md:w-1/2 xl:w-149 xl:flex-shrink-0 flex flex-col z-10">
						<div class="flex flex-col mb-5.5 md:mb-18 gap-4 md:gap-8.5">
							<h2 class="text-2xl-alt leading-tight tracking-tight md:text-4xl-2alt md:leading-tighter md:tracking-normal font-semibold">
								{{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'})|raw }}
							</h2>
							{% if description|string_xml_to_html5 is not empty %}
								<div class="text-4xxs leading-relaxed-alt md:text-lg md:leading-5tighter font-medium -mt-px">
									{{ description|string_xml_to_html5 }}
								</div>
							{% endif %}
						</div>
						{% if listed_content is not empty %}
							<ul class="grid grid-cols-1 md:grid-cols-{{ columns }} mb-26 md:mb-14 md:ml-1 gap-y-6 md:gap-x-10.5 md:gap-y-17.5">
								{% for item_content in listed_content %}
									{% set isCustomLink = item_content.contentType.identifier == 'gebweb_custom_link' %}
									{% set isExternal = isCustomLink and not axp_has_content(item_content, 'linked_content') %}
									{% if isCustomLink %}
										{% set item_url = axp_has_content(item_content, 'linked_content') ? path("ez_urlalias", {"contentId": ez_field_value(item_content, 'linked_content').destinationContentId}) : ez_field_value(item_content, 'url') %}
									{% else %}
										{% set item_url = ez_url(item_content) %}
									{% endif %}
									{% set item_title = axp_has_content(item_content, 'promo_title') ? ez_field_value(item_content, 'promo_title') : ez_content_name(item_content) %}
									{% set item_description = axp_has_content(item_content, 'promo_description') ? ez_field_value(item_content, 'promo_description') : null %}
									{% if loop.index <= 4 %}
										<li>
											<a href="{{ item_url }}" class="flex flex-col gap-1" {{ isExternal ? 'target="_blank"' }}>
												<h3 class="text-2base leading-6 md:text-xl font-semibold hover:text-geb-dark-800">
													{% if axp_has_content(item_content, 'promo_image') %}
														{% set imageId = ez_field_value(item_content, 'promo_image').destinationContentId %}
														{{ render( controller( "ez_content::viewAction", {
															'contentId': imageId, 
															'viewType': 'line',
															'params':{
																alias: 'promo_right_listed',
																figureClass: 'w-full ml-0.5 mb-1.5 group',
																class: 'rounded-xl h-9 pb-0.5 group-hover:opacity-80'
															}
														} )) }}
													{% endif %}
													{{ item_title }}
												</h3>
												{% if item_description %}
													<div class="text-4xxs leading-relaxed-alt md:text-2xs md:leading-5tighter mt-px md:mt-0.5">
														{{ item_description|string_xml_to_html5 }}
													</div>
												{% endif %}
											</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
						{% if featured_content is not empty %}
							<div class="flex md:hidden w-full items-end justify-center">
								<p class="text-3xl leading-none tracking-1.5tight md:text-5xl-alt font-semibold pb-6 md:pb-21">
									<bvc-stats endpoint="/bvc_daily_geb"></bvc-stats>
								</p>
							</div>
						{% endif %}		
						{% if cta %}
							<div class="flex w-full mt-1 md:mt-1.5 md:pt-px md:-ml-0.5">
								<a href="{{ cta.url }}" {{ cta.isExternal ? 'target="_blank"' }} class="flex flex-grow justify-center md:flex-grow-0 px-4 pt-3.5 pb-3 mb-px md:mb-0 md:px-5.5 md:pt-4.5 md:pb-4 rounded-sm md:rounded-2sm border md:border-2 border-geb-link text-geb-link text-2xxs leading-none font-semibold md:text-4xxs md:leading-tighter md:font-semibold hover:bg-white hover:bg-opacity-5 hover:shadow-md uppercase tracking-widest md:tracking-2widest text-center">{{ cta.label|default('Portal inversionistas') }}</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
{% endembed %} 
