{% extends "@ezdesign/layout/layout.html.twig" %}

{% block content %}
    {% if axp_has_content(content, 'page_builder') %}
        {{ ez_render_field(content, 'page_builder') }}
    {% endif %}
{% endblock %}