{% extends "@ezdesign/layout/layout.html.twig" %}

{% block content %}
    {% if axp_has_content(content, 'page_builder') %}
        {{ ez_render_field(content, 'page_builder') }}
    {% endif %}
    {{ render(controller("App\\GEBWebBundle\\Controller\\SearchController::showComponentAction", { 'currentContent': content })) }}
{% endblock %}