{% set title = axp_has_content(content, 'promo_title') ? ez_field_value(content, 'promo_title') : ez_field_value(content, 'name') %}

<div class="px-4 pt-7.5 xl:container xl:mx-auto relative">
    <div class="grid grid-cols-1">
        <div class="flex flex-col text-geb-dark-900">
            <div class="flex flex-col gap-2 mb-6">
                <h1 class="text-3xl-2alt leading-10 md:text-6xl md:leading-tighter font-semibold tracking-3tight md:tracking-normal">{{ title }}</h1>
                {% if axp_has_content(content, 'promo_description') %}
                    <div class="text-base leading-relaxed md:text-lg font-medium w-full">{{ ez_render_field(content, 'promo_description') }}</div>
                {% endif %}
            </div>

            {% if axp_has_content(content, 'content') %}
                <div class="content_rich flex justify-center">
                    <div class="richtext-content flex flex-col w-full md:w-3/4 mb-7.5 md:mb-26">
                        {{ ez_render_field(content, 'content') }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="flex flex-wrap" data-ez-zone-id="{{ zones[0].id }}">
            {% if zones[0].blocks %}
                {% for block in zones[0].blocks %}
                    <div class="w-full {{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<block-menu></block-menu>
