{% set hide_heading = ez_field_value(content, 'hide_heading') %}
{% set classes = 'pt-36 mt-0.5 md:mt-0 md:pt-34' %}

{% if hide_heading == '1' %}
    {% set classes = 'pt-84 md:pt-31' %}
{% endif %}
<div class="px-4 xl:container xl:mx-auto relative pt-36 mt-0.5 md:mt-px md:pt-34 {{ classes }}">
    <div class="grid grid-cols-1">
        {% if axp_has_content(content, 'background_image') %}
        <div class="landing-page__background-image absolute inset-0 full-width-image">
            {{ ez_render_field(content, 'background_image', {
                'template': '@ezdesign/fields/page/background_image.html.twig',
                'parameters': {
                    'alias': 'background_image'
                }
            }) }}
        </div>
        {% endif %}

        {% if hide_heading != '1' %}
            {% set title = axp_has_content(content, 'promo_title') ? ez_field_value(content, 'promo_title') : ez_field_value(content, 'name') %}
            <div class="flex flex-col mb-8 md:mb-26">
                <div class="{{ axp_has_content(content, 'background_image') ? 'text-white' }} mt-0.5 md:-mt-0.5">
                    <h1 class="text-1.75xl leading-none md:text-7xl-alt md:leading-7xl-alt font-semibold tracking-3tight md:tracking-2.5tighter mb-1.5 md:mb-5">{{ ez_content_name(content) }}</h1>
                    {% if axp_has_content(content, 'promo_description') %}
                        <div class="text-xs leading-1.5sm md:text-2xl-2alt md:leading-relaxed tracking-wide md:tracking-tight font-medium md:font-semibold w-full md:w-7/12">{{ ez_render_field(content, 'promo_description') }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="flex flex-wrap" data-ez-zone-id="{{ zones[0].id }}">
            {% if zones[0].blocks %}
                {% for block in zones[0].blocks %}
                    <div class="w-full {{ block.type }}" data-ez-block-id="{{ block.id }}">
                        {{ render_esi(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                            'contentId': contentInfo.id,
                            'blockId': block.id,
                            'versionNo': versionInfo.versionNo,
                            'languageCode': field.languageCode
                        })) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<block-menu></block-menu>
