<div class="column small-12 geb-header__eyebrow">
    <a class="geb-eyebrow-logo" href="https://www.grupoenergiabogota.com" target="_blank">
        <img src="{{ asset('images/geb_logo.png','transmision') }}" alt="Grupo Energía de Bogotá">
    </a>
    <button class="geb-header__eyebrow-toggle" id="geb-top-menu-btn">
        <span>TOP MENU</span>
        <span class="icon is-small">
            <span data-icon="arrow-c-down" class=""></span>
        </span>
    </button>
    <div class="geb-header__eyebrow-social">
        {% if socialNetworks is defined and socialNetworks|length > 0 %}
            {% for itemSocial in socialNetworks %}
                {% if not ez_field_is_empty(itemSocial, 'link') %}
                    <a href="{{ ez_field_value(itemSocial, "link" ) }}" target="_blank" class="button is-small">
                        <span class="icon is-small">
                            <span data-icon="{% apply spaceless %}{{ ez_render_field(itemSocial, "icon_type" , { "template": '@ezdesign/Fields/ez_selection.html.twig' } ) }}{% endapply %}" class=""></span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <nav class="geb-header__eyebrow-nav" id="geb-top-menu-nav">
        {% if headerEyebrow is defined and headerEyebrow|length > 0 %}
            {% for link in headerEyebrow %}
                {% if link.content.fields['external_link'] is defined and not ez_field_is_empty(link.content, 'external_link') %}
                    <a href="{{ ez_field_value(link.content, "external_link" ) }}"
                        title="{{ ez_content_name(link.location.contentInfo) }}" target="_blank">
                        {{ ez_content_name(link.location.contentInfo) }}
                    </a>
                {% else %}
                    <a href="{{ez_path(link.location)}}" title="{{ez_content_name(link.content)}}">
                        {{ ez_content_name(link.content) }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </nav>
    <div class="geb-header__eyebrow-search">
        <form action="{{path('transmision_search')}}" method="GET">
            <div class="input-group">
                <input class="input-group-field" type="text" name="SearchText" placeholder="Buscar" aria-label="Buscar">
                <button class="button input-group-button">
                    <span class="icon is-small">
                        <span data-icon="search" class=""></span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>