<div class="geb-header__mobile-menu" id="mobile-menu-wrapper" style="display: none">
    <nav class="geb-mobile-menu">
        <ul>
        {% if headerMenu is defined %}
          {% for menuItem in headerMenu %}
            <li>
                {% if menuItem.content.fields['external_link'] is defined and not ez_field_is_empty(menuItem.content, 'external_link') %}
                  <a href="{{ ez_field_value(menuItem.content, "external_link" ) }}" title="{{ ez_content_name(menuItem.location.contentInfo) }}" target="_blank">
                    {{ ez_content_name(menuItem.location.contentInfo) }}
                  </a> 
                {% else %}
                  <a href="{{ ez_path(menuItem.location) }}" title="{{ ez_content_name(menuItem.location.contentInfo) }}">
                    {{ ez_content_name(menuItem.location.contentInfo) }}
                  </a> 
                {% endif %}
                {{ render( controller("App\\TransmisionBundle\\Controller\\HeaderController::submenuMobileAction", { 'locationId': menuItem.location.id })) }} 
            </li>
          {% endfor %}
        {% endif %}
        </ul>
    </nav>
  </div>
