<div class="column small-12 large-10 geb-header__menu">
  <nav class="geb-menu">
    <ul>
      {% if headerMenu is defined %}
        {% for menuItem in headerMenu %}
          <li data-submenu="#submenu-{{loop.index}}">
             {% if menuItem.content.fields['external_link'] is defined and not ez_field_is_empty(menuItem.content, 'external_link')%}
              <a href="{{ ez_field_value(menuItem.content, "external_link" ) }}"
                title="{{ ez_content_name(menuItem.location.contentInfo) }}" target="_blank">
                {{ ez_content_name(menuItem.location.contentInfo) }}
              </a>
            {% else %}
              <a href="{{ ez_path(menuItem.location) }}" title="{{ ez_content_name(menuItem.location.contentInfo) }}">
                {{ ez_content_name(menuItem.location.contentInfo) }}
              </a>
            {% endif %} 
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
</div>

<div class="column geb-header__submenus">
  <div class="geb-header__submenus-inner">
    {% for menuItem in headerMenu %}
      {% if menuItem.content.fields['mega_menu'] is defined and not ez_field_is_empty(menuItem.content, 'mega_menu') %}
        {{ render( controller( "ez_content:viewAction", {'contentId': ez_field_value(menuItem.content, 'mega_menu').destinationContentId, 'viewType': 'megamenu', 'params': {'indexIdTag': loop.index } } ) ) }}
      {% endif %}
    {% endfor %}
  </div>
</div>
