{% import "@Transmision/Macros/validation.html.twig" as validation %}

<header class="geb-header">
  <div class="row">
    {{ include('@Transmision/Header/eyebrow.html.twig') }}
    <div class="column small-10 large-2 geb-header__logo">
      <a class="geb-logo" href="{{ path('ez_urlalias', { 'locationId': ezplatform.rootLocation.id }) }}">
        {% if validation.has_content(content, 'logo') %}
          {{ ez_render_field(content, 'logo', {'template':'@ezdesign/Fields/ezimage_alias.html.twig', 'alias':'medium' } ) }}
        {% else %}
          <img src="{{ asset('images/logo_transmision.svg','transmision') }}" alt="Grupo Energía de Bogotá">
        {% endif %}
        </a>
    </div>
    <div class="column small-2 geb-header__hamb">
      <button class="geb-hamb-button" id="mobile-menu-triggerer">
        <span data-icon="hamburguer" class="on-closed"></span>
        <span data-icon="x" class="on-open" style="display: none"></span>
      </button>
    </div>
    {{ include('@Transmision/Header/menu.html.twig') }}
  </div>
  {{ include('@Transmision/Header/menu_mobile.html.twig') }}
</header>
 