{% if submenu_location is defined and submenu_location|length > 0  %}
  <span data-icon="plus" class="on-closed geb-mobile-menu__submenu-triggerer"></span>
  <span data-icon="minus" class="on-open geb-mobile-menu__submenu-triggerer" style="display: none"></span>
  <ul>
    {% for menulocation in submenu_location %}
      <li>
          <a href="{{ ez_path(menulocation) }}">
            {{ ez_content_name(menulocation.contentInfo) }}
          </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

