{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-banner">
        <div class="geb-banner-bg">
            {% if validation.has_content(content,'header_image') %}
                {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'transmision_header' } ) }}
            {% endif %}
        </div>
        <div class="geb-banner-content u-pt-10">
            <div class="grid-container">
                <div class="cell">
                    <div class="u-pb-5">
                        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                    </div>
                    {% if regions is defined and regions | length > 0 %}
                        <ul class="menu expanded geb-banner-menu">
                            {% for region in regions %}
                                <li class="{% if id_region == region.id %}is-active {% endif %}geb-banner-menu--active">
                                    <a href="{% if parent_location %}{{ ez_path(parent_location) }}?region={{region.id}}{% else %}?region={{region.id }}{% endif %}">
                                        {{ ez_content_name( region ) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <h3 class="u-mt-4 u-medium">
                            {% for region in regions %}
                                {% if region.id == id_region %}
                                    {% if region.fields['subtitle'] is defined and not ez_field_is_empty(region, 'subtitle')%}
                                        {{ ez_field_value( region, 'subtitle' ) }}
                                    {% elseif region.fields['title'] is defined and not ez_field_is_empty(region, 'title')%}
                                        {{ ez_field_value( region, 'title' ) }}
                                    {% endif %}
                                    {% if region.fields['description'] is defined and not ez_field_is_empty(region, 'description')%}
                                        {{ ez_render_field(region,'description')}}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    {% endif %}

                    {% if projects_landingpages is defined and projects_landingpages | length > 0 %}
                        <ul class="menu align-center geb-banner-link">
                            {% for itemLocation in projects_landingpages %}
                                <li class="{% if itemLocation.id == location.id or (parent_location and itemLocation.id == parent_location.id) %} is-active{% endif %}">
                                    <a href="{{ez_path(itemLocation)}}">
                                        {{ itemLocation.contentInfo.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="row u-my-23">
        {% set nameTypes = {'proyectos': 'Proyectos', 'lineas_transmision': 'Líneas de transmisión',  'subestaciones': 'Subestaciones'} %}
        <aside class="geb-page-aside column small-12 large-3 u-mb-14">
            {% for type, project in region_projects %}
                <section class="u-mb-5">
                    <h3>
                        {{nameTypes[type]}}
                    </h3>
                    <nav class="geb-list u-fs-14">
                        <ul>
                            {% if project is defined and project | length > 0 %}
                                {% for location_project in project %}
                                    <li>
                                        <a href="{{ez_path(location_project.location)}}">
                                            {% if validation.has_content(location_project.content, 'title') and validation.has_content(location_project.content, 'subtitle') %}
                                                <strong>
                                                    <span class="color_title">
                                                        {{ ez_field_value(location_project.content, 'title')~'-' }}
                                                    </span>
                                                    {{ ez_field_value(location_project.content, 'subtitle') }}
                                                </strong>
                                            {% elseif validation.has_content(location_project.content, 'title') and ez_field_is_empty(location_project.content, 'subtitle') %}
                                                <strong>
                                                    <span class="color_title">
                                                        {{ez_field_value(location_project.content,'title')}}
                                                    </span>
                                                </strong>
                                            {% else %}
                                                <strong>
                                                    {{location_project.location.contentInfo.name}}
                                                </strong>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </nav>
                </section>
            {% else %}
                <p>No hay proyectos en esta región</p>
            {% endfor %}
        </aside>

        {% if region_projects is defined and region_projects|length > 0 %}
            {% if  location.contentInfo.id != INFRAESTRUCTURE_OPERATION_CONTENT_ID %}

                <main class="projects-boxes column small-12 large-9">
                    <div class="row">
                        {% for projects in region_projects %}
                            {% if projects is defined and projects| length > 0 %}
                                {% for project in projects %}
                                    <div class="column small-12 medium-6 large-4 u-pb-5">
                                        <a href="{{ez_path(project.location)}}">
                                            <article class="project-item project-item">
                                                <figure class="project-item__image">
                                                    {% if validation.has_content(project.content, 'image_promo') %}
                                                        {{ ez_render_field(project.content, 'image_promo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xmedium'} ) }}
                                                    {% else %}
                                                        <img src="https://via.placeholder.com/500" alt="">
                                                    {% endif %}
                                                </figure>
                                                <div class="project-item__content">
                                                    <h3 class="project-item__title">
                                                        {{ project.location.contentInfo.name }}
                                                    </h3>
                                                    {% if project.content.fields['short_description'] is defined and not ez_field_is_empty(project.content, 'short_description')%}
                                                        <p>
                                                            {{ ez_render_field( project.content, 'short_description' ) }}
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </article>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <p>No hay proyectos en esta región</p>
                        {% endfor %}
                    </div>
                    {% if validation.has_content(content, 'map') %}
                        {{ ez_render_field(content, 'map', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xlarge_map', 'zoomable':'configA' } ) }}
                    {% endif %}
                </main>
            {% else %}
                {% set content = (region_projects|first|first).content %}
                <main class="geb-page-main column small-12 large-9">
                    {% if validation.has_content(content, 'image_promo') %}
                        {{ ez_render_field(content, 'image_promo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xlarge', 'class': 'u-mb-4' } ) }}
                    {% endif %}
                    {% if content.fields['description'] is defined and not ez_field_is_empty(content, 'description')%}
                        {{ ez_render_field( content, 'description' ) }}
                    {% endif %}

                    {% if validation.has_content(content, 'map') %}
                        <section class="u-mt-8 row collapse geb-media-card{% if ez_field_is_empty(content, 'description_map') %} u-mb-10{% endif %}">
                            <div class="column small-12 medium-6 large-12 geb-media-card__figure">
                                <figure>
                                    {{ ez_render_field(content, 'map', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'mapa' } ) }}
                                </figure>
                            </div>
                        </section>
                    {% endif %}

                    {% if content.fields['description_map'] is defined and not ez_field_is_empty(content, 'description_map')%}
                        <section class="row collapse geb-media-card u-mb-10 u-bg-terciary">
                            <div class="column small-12 medium-6 large-12">
                                <div class="u-p-6">
                                    {{ ez_render_field( content, 'description_map' ) }}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    {% set locationId =content.versionInfo.contentInfo.mainLocationId %}
                    {# {{ render( controller("TransmisionBundle:Parts:getDocumentsProject", { 'locationId': location.id, 'type':'documents' })) #}
                    {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getDocumentsProjectAction", { 'locationId': locationId, 'type':'documents' })) }}
                    {% if content.fields['impact_study'] is defined and not ez_field_is_empty(content, 'impact_study')%}
                        {{ ez_render_field(content,'impact_study') }}
                    {% endif %}
                </main>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
