{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "bg-geb-green-secondary" : axp_get_key_value('background_color', background_color) %}
        <section class="relative {{ background_color }} {{ apply_gradient ? 'has-gradient' }} flex flex-col px-3.5 py-8 md:px-12 xl:px-30.75 lg:pt-14.5 lg:pb-11.5 md:mt-6.5 md:mb-7.5 rounded-lg md:rounded-xl">
            <div class="flex flex-col md:flex-row flex-grow md:gap-7 z-10">
                {% if title is not empty %}
                <div class="flex justify-center mb-4 md:mt-1 md:flex-grow">
                    <h2 class="w-full font-semibold text-2xl leading-tighter md:text-4xl-2alt md:leading-4xl-2alt text-center lg:text-right text-white">
                        {{ title }}
                    </h2>
                </div>
                {% endif %}
                <news-letter url="{{ path('gebweb_newsletter_subscription') }}">
                    <template v-slot:form="{ onSubmit, isSending }">
                        <form @submit.prevent="onSubmit" class="flex flex-col lg:flex-row md:gap-3 mb-3.5 md:mb-3.75">
                        <div class="flex items-center md:mb-0 flex-grow">
                            <input required :disabled="isSending" name="email" type="email" placeholder="{{ 'Enter your email'|trans({}, "gebweb") }}" class="w-full bg-white border border-white text-gray-500 text-2sm leading-normal px-5 py-3.5 md:pt-3.75 mb-3.5 md:mb-0 outline-none rounded-md disabled:bg-gray-50" />
                            <input type="hidden" name="form_id" value="05b8731e-2d60-452a-80eb-662bfc478975">
                            <input type="hidden" name="input_name" value="ma-form-element-yui_3_18_1_1_1639491601922_2700">
                        </div>
                        <div class="flex flex-col">
                            <button :disabled="isSending" type="submit" class="flex items-center justify-center font-semibold text-2xs leading-7 text-center text-white tracking-2widest uppercase px-3 py-3 lg:px-5.75 bg-geb-green-900 border hover:bg-opacity-80 border-geb-green-900 hover:border-opacity-80 disabled:opacity-70 disabled:pointer-events-none rounded">
                                <i class="animate-spin -ml-1 mr-3 h-5 w-5 text-white fill-none" v-icon:tw-spin v-if="isSending"></i>
                                {{ 'Subscribe'|trans({}, "gebweb") }}
                            </button>
                        </div>
                        </form>
                    </template>
                    <template v-slot:privacy-policy>
                        <div class="flex flex-col">
                            <div class="text-4xxs leading-4 text-white">
                                {{ description|string_xml_to_html5 }}
                            </div>
                        </div>
                    </template>
                </news-letter>
            </div>
        </section>
    {% endblock %}
{% endembed %}
