{% if isBlock %}
	{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
		{% block content %}
			{% set background_color = background_color == "default" ? "bg-geb-green-secondary" : axp_get_key_value('background_color', background_color) %}
			<v-events class="bg-geb-dark-800 pt-12.5 pb-16 md:pt-32 md:pb-31">
				<template v-slot:tabs="{ clicked }">
					<span @click="clicked($event)" data-events="recent-events">
						{{ 'Recent events'|trans({}, "gebweb") }}
					</span>
					<span @click="clicked($event)" data-events="upcoming-events">
						{{ 'Upcoming events'|trans({}, "gebweb") }}
					</span>
				</template>
				<template v-slot:events="{ audioClicked, webcastClicked, docClicked }">
					<div class="hidden flex-col mt-8 lg:mt-11.5 space-y-4 lg:space-y-9.25 divide-y divide-geb-gray-25 divide-opacity-20 lg:-ml-0.75" id="recent-events">
						{% if recentEvents is defined and recentEvents is not empty %}
							{% for event in recentEvents %}
								<div class="flex flex-col md:flex-row pt-5 lg:pt-10.75 text-white">
									<div class="date w-full md:w-auto text-4xxs md:text-1.5xl leading-loose md:leading-normal mb-1.5 md:mr-21.5">
										<span class="opacity-40 whitespace-nowrap">
											{% if axp_has_content(event.content, "date") %}
												{{ ez_field_value(event.content, "date")|date("d / ")~ez_field_value(event.content, "date")|date("M")|trans({}, "gebweb")~ez_field_value(event.content, "date")|date(" / Y") }}
											{% endif %}
										</span>
									</div>
									<div class="description text-2sm md:text-xl leading-5 font-semibold w-full md:w-auto mb-3 md:mr-15 flex-grow">
										<span>
											{% if axp_has_content(event.content, "name") %}
												{{ ez_field_value(event.content, "name") }}
											{% endif %}
										</span>
									</div>
									<div class="flex flex-col lg:flex-row lg:flex-shrink-0 md:self-start md:gap-4 lg:w-89.5 lg:pt-2">
										{% if axp_has_content(event.content, "audio") %}
											{% set download_route = ez_route('ez_content_download', {
												'content': event.content,
												'fieldIdentifier': 'audio',
											}) %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 mb-0.5 cursor-pointer group" @click="audioClicked($event, &quot;{{ absolute_url(ez_path(download_route)) }}&quot;)">
												<span class="opacity-40 group-hover:opacity-75 uppercase">audio</span>
												<i class="w-5 h-4 lg:w-5.5 lg:h-4.5 text-geb-green-secondary group-hover:text-geb-link flex" v-icon:volume-up></i>
											</div>
										{% endif %}
										{% if axp_has_content(event.content, "video_url") %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 mb-0.5 cursor-pointer group" @click="webcastClicked($event, &quot;{{ ez_field_value(event.content, "video_url") }}&quot;, 640, 320)">
												<span class="opacity-40 group-hover:opacity-75 uppercase pointer-events-none">webcast</span>
												<i class="w-5 h-4 text-geb-green-secondary group-hover:text-geb-link flex pointer-events-none" v-icon:webcast></i>
											</div>
										{% endif %}
										{% if axp_has_content(event.content, "file") %}
											{% set download_route = ez_route('ez_content_download', {
												'content': event.content,
												'fieldIdentifier': 'file',
											}) %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 cursor-pointer group" @click="docClicked($event, &quot;{{ absolute_url(ez_path(download_route)) }}&quot;, 500, 500)">
												<span class="opacity-40 group-hover:opacity-75 uppercase">anexo transcripción</span>
												<i class="w-5 h-4 text-geb-green-secondary group-hover:text-geb-link flex" v-icon:doc></i>
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="hidden flex-col mt-8 lg:mt-11.5 space-y-4 lg:space-y-9.25 divide-y divide-geb-gray-25 divide-opacity-20 lg:-ml-0.75" id="upcoming-events">
						{% if upcomingEvents is defined and upcomingEvents is not empty %}
							{% for event in upcomingEvents %}
								<div class="flex flex-col md:flex-row pt-5 lg:pt-10.75 text-white">
									<div class="date w-full md:w-auto text-4xxs md:text-1.5xl leading-loose md:leading-normal mb-1.5 md:mr-21.5">
										<span class="opacity-40 whitespace-nowrap">
											{% if axp_has_content(event.content, "date") %}
												{{ ez_field_value(event.content, "date")|date("d / ")~ez_field_value(event.content, "date")|date("M")|trans({}, "gebweb")~ez_field_value(event.content, "date")|date(" / Y") }}
											{% endif %}
										</span>
									</div>
									<div class="description text-2sm md:text-xl leading-5 font-semibold w-full md:w-auto mb-3 md:mr-15 flex-grow">
										<span>
											{% if axp_has_content(event.content, "name") %}
												{{ ez_field_value(event.content, "name") }}
											{% endif %}
										</span>
									</div>
									<div class="flex flex-col lg:flex-row lg:flex-shrink-0 md:self-start md:gap-4 lg:w-89.5 lg:pt-2">
										{% if axp_has_content(event.content, "audio") %}
											{% set download_route = ez_route('ez_content_download', {
												'content': event.content,
												'fieldIdentifier': 'audio',
											}) %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 mb-0.5 cursor-pointer group" @click="audioClicked($event, &quot;{{ absolute_url(ez_path(download_route)) }}&quot;)">
												<span class="opacity-40 group-hover:opacity-75 uppercase">audio</span>
												<i class="w-5 h-4 lg:w-5.5 lg:h-4.5 text-geb-green-secondary group-hover:text-geb-link flex" v-icon:volume-up></i>
											</div>
										{% endif %}
										{% if axp_has_content(event.content, "video_url") %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 mb-0.5 cursor-pointer group" @click="webcastClicked($event, &quot;{{ ez_field_value(event.content, "video_url") }}&quot;, 640, 320)">
												<span class="opacity-40 group-hover:opacity-75 uppercase pointer-events-none">webcast</span>
												<i class="w-5 h-4 text-geb-green-secondary group-hover:text-geb-link flex pointer-events-none" v-icon:webcast></i>
											</div>
										{% endif %}
										{% if axp_has_content(event.content, "file") %}
											{% set download_route = ez_route('ez_content_download', {
												'content': event.content,
												'fieldIdentifier': 'file',
											}) %}
											<div class="text-2xxs md:text-3xxs leading-6 md:leading-none tracking-2widest font-semibold whitespace-nowrap w-full flex items-center lg:justify-end gap-3.5 lg:gap-2.5 cursor-pointer group" @click="docClicked($event, &quot;{{ absolute_url(ez_path(download_route)) }}&quot;, 500, 500)">
												<span class="opacity-40 group-hover:opacity-75 uppercase">anexo transcripción</span>
												<i class="w-5 h-4 text-geb-green-secondary group-hover:text-geb-link flex" v-icon:doc></i>
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</template>
			</v-events>
		{% endblock %}
	{% endembed %}
{% else %}
	 <li class="header-nav__item--link header-nav__item--link-primary text-geb-dark-800 inline-flex px-3 pt-2 text-sm font-semibold tracking-1.5wider group">
		<a href="{{ path( "ez_urlalias", {"contentId": mainItemContent.versionInfo.contentInfo.id} ) }}" class="uppercase border-b-5 border-transparent group-hover:border-geb-blue-secondary">
			{% if axp_has_content(mainItemContent, "promo_title") %}
				{{ ez_field_value(mainItemContent, "promo_title") }}
			{% elseif axp_has_content(mainItemContent, "name") %}
				{{ ez_field_value(mainItemContent, "name") }}
			{% endif %}
		</a>
		<mega-menu>
			<v-events class="bg-geb-blue-secondary" :is-medios="true">
				<template v-slot:tabs="{ clicked }">
					<span @click="clicked($event)" data-events="recent-events">
						{{ 'Recent events'|trans({}, "gebweb") }}
					</span>
					<span @click="clicked($event)" data-events="upcoming-events">
						{{ 'Upcoming events'|trans({}, "gebweb") }}
					</span>
				</template>
				<template v-slot:view-more>
					<div class="pt-4 hidden md:block">
						<a href="{{ path( "ez_urlalias", {"contentId": mainItemContent.versionInfo.contentInfo.id} ) }}" class="text-geb-green-secondary text-sm flex items-center gap-3">
							<span class="w-6" v-icon:arrow-right-link></span>
							{{ 'See more'|trans({}, "gebweb") }}
						</a>
					</div>
				</template>
				<template v-slot:events>
					<div class="hidden flex-col mt-8 space-y-4 divide-y divide-geb-gray-25 divide-opacity-20" id="recent-events">
						{% if recentEvents is defined and recentEvents is not empty %}
							{% for event in recentEvents %}
								<div class="flex pt-5 text-white">
									<div class="date w-3/12 lg:w-2/12 text-lg lg:text-xl">
										{% if axp_has_content(event.content, "date") %}
											<span>
												{{ ez_field_value(event.content, "date")|date("d / ")~ez_field_value(event.content, "date")|date("M")|trans({}, "gebweb")~ez_field_value(event.content, "date")|date(" / Y") }}
											</span>
										{% endif %}
									</div>
									<div class="description text-base lg:text-lg font-medium w-9/12 lg:w-10/12">
										{% if axp_has_content(event.content, "name") %}
											<span>
												{{ ez_field_value(event.content, "name") }}
											</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="hidden flex-col mt-8 space-y-4 divide-y divide-geb-gray-25 divide-opacity-20" id="upcoming-events">
						{% if upcomingEvents is defined and upcomingEvents is not empty %}
							{% for event in upcomingEvents %}
								<div class="flex pt-5 text-white">
									<div class="date w-3/12 lg:w-2/12 text-lg lg:text-xl">
										{% if axp_has_content(event.content, "date") %}
											<span>
												{{ ez_field_value(event.content, "date")|date("d / ")~ez_field_value(event.content, "date")|date("M")|trans({}, "gebweb")~ez_field_value(event.content, "date")|date(" / Y") }}
											</span>
										{% endif %}
									</div>
									<div class="description text-base lg:text-lg font-medium w-9/12 lg:w-10/12">
										{% if axp_has_content(event.content, "name") %}
											<span>
												{{ ez_field_value(event.content, "name") }}
											</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</template>
			</v-events>
		</mega-menu>
	</li>
{% endif %}