<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Grupo de Energía de Bogotá">
  <meta name="keywords" content="Grupo de Energía de Bogotá, GEB, Transmisión">
  <meta name="author" content="Grupo de Energía de Bogotá">
  <title>Página no encontrada</title>
  <link rel="stylesheet" href="{{ asset('css/bundle.min.css','transmision') }}">
</head>
<body>
  <header class="geb-header">
    <div class="row">
      <div class="column small-12 geb-header__logo text-center">
        <a class="geb-logo" href="{{ez_path(ezplatform.rootLocation)}}">
          <img src="{{ asset('images/geb-log.svg','transmision') }}" alt="Grupo Energía de Bogotá">
        </a>
      </div>
    </div>
  </header>
  <div class="geb-banner u-pt-10 u-pb-8">
    <div class="grid-container">
      <div class="cell center">
        <h1 class="u-semibold u-mb-0">El contenido que esta buscando no fue encontrado</h1>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="row u-my-10">
      <div class="column small-12">
        <h3>Algunos consejos para tener en cuenta</h3>
        <ul>
          <li>Debe estar seguro de escribir correctamente la barra de direcciones del navegador</li>
          <li><a href="#" target="_self">Contáctanos&nbsp;</a>si tiene alguna pregunta específica</li>
        </ul>
        <div class="text-center">
          <a href="{{ez_path(ezplatform.rootLocation)}}">
            <strong>&lAarr; Ir a inicio</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="geb-footer">
    <div class="row">
      <div class="columns small-12 medium-6 large-4 u-mb-3">
        <h6>Grupo de Energía de Bogotá - Transmisión</h6>
        <div class="u-pr-4">
          {# <div class="ezxmltext-field"> #}
            <p class="small silvertxt">Of. Principal Cra. 9 # 73-44 Piso 6 PBX: (571)3268000 - FAX: (571)3268010<br>Bogotá
              D.C., Colombia</p>
            <p><em>El Reconocimiento Emisores – IR otorgado por la Bolsa de Valores de Colombia S.A., no es una
                certificación sobre la bondad de los valores inscritos ni sobre la solvencia del emisor”.</em></p>
          {# </div> #}
        </div>
      </div>
      <nav class="columns small-6 medium-6 large-3">
      </nav>
      <nav class="columns small-6 medium-6 large-3">
      </nav>
      <div class="u-mt-10-below-tablet u-center-below-tablet">
        <img src="{{ asset('images/geb-logo-footer.png','transmision') }}">
      </div>
    </div>
  </footer>
</body>
</html>