{% import "@Transmision/Macros/validation.html.twig" as validation %}

<div class="column small-12 medium-6 u-mb-8">
    <h2>{{ez_content_name(content)}}</h2>
    <div class="geb-card-gallery" data-equalizer-watch="card-gallery">
        <div class="geb-card-gallery__cover">
            {% if validation.has_content(content, 'promo_image') %}
                <div class="geb-card-gallery__overlay">
                    <span data-icon='image-gallery'></span>
                </div>
                {{ ez_render_field( content, 'promo_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xmedium', 'parameters': { 'dataHTML': 'data-equalizer-watch="cover"' } } ) }}
            {% endif %}
            {% if validation.has_content(content, 'video_promo') %}
                {{ ez_render_field( content, 'video_promo', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'new_thumbnail' } ) }}
            {% endif %}
            {% if validation.has_content(content, 'video_promo_youtube') %}
                <iframe src={{ez_field_value(content,'video_promo_youtube').link}} data-equalizer-watch="cover" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
            <a class="geb-link is-button is-primary" href="{{ path( "ez_urlalias", {"contentId": content.versionInfo.contentInfo.id} ) }}">
                Ver galería
                <span data-icon='arrow-right' class="u-ml-1"></span>
            </a>
        </div>
        <div class="geb-card-gallery__desc">
            {% if validation.has_content(content, 'description') %}
                <p>{{ez_render_field(content, 'description')}}</p>
            {% endif %}
        </div>
    </div>
</div>
