{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set moreClasses = '' %}

{% if validation.has_content(content, 'position_promo') %}
    {% set promoPosition = 0 %}
    {% if ez_field_value(content, 'position_promo') == '1' %}
        {% set promoPosition = 1 %}
    {% endif %}
    {% set moreClasses = (promoPosition == 0) ? 'is-right' : '' %}
{% endif %}

<div class="column small-12">
    <article class="article u-mb-8  gallery__item">
        <h3>{{ez_content_name(content)}}</h3>
        {% if validation.has_content(content, 'video_promo_youtube') %}
        <iframe class="article__media {{ moreClasses }}"
            src={{ez_field_value(content,'video_promo_youtube').link}} frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <figure class="article__media {{ moreClasses }} gallery__item">
            {% if validation.has_content(content, 'promo_image') %}
            <button class="gallery__action" data-open-lightbox data-current-slide="1"><span data-icon="plus" class=""></span>
            </button>
            <figure data-gallery-item>
                {{ ez_render_field( content, 'promo_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'infopage_promo' } ) }}
            </figure>
            {% elseif validation.has_content(content, 'video_promo') %}
            {{ ez_render_field( content, 'video_promo', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'block_plomo' } ) }}
            {% endif %}
        </figure>
        {% endif %}
        {% if validation.has_content(content, 'description') %}
        <div>
            {{ez_render_field(content, 'description')}}
        </div>
        {% endif %}
    </article>
</div>
