{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% for image in images %}
    <div class="swiper-slide geb-slider-gallery__item">
        <figure class="slide-gallery-card">
            {% if validation.has_content(image, 'image') %}
                <div class="slide-gallery-card__img">
                    {{ ez_render_field(image, 'image', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'image_gallery' } ) }}
                </div>
            {% endif %}
            <figcaption class="geb-card-a geb-card-a--indicator-left is-promo is-primary">
                <h3 class="geb-card-a__title">{{ez_content_name(content)}}</h3>
                <h4 class="geb-card-a__subtitle">{{ez_content_name(image)}}</h4>
                {% if validation.has_content(image, 'caption')%}
                    <p>{{ ez_render_field(image, 'caption')}}</p>
                {% endif %}
            </figcaption>
        </figure>
    </div>
{% endfor %}

