{% set valid_items = location_list|split(',') %}

{% if valid_items|length %}
    {% if full_gallery == 'true' %}
        <div class="swiper-container geb-slider-gallery u-mb-10" data-swiper-full>
             <div class="swiper-wrapper">
                {% for blockItem in valid_items %}
                    {% if blockItem %}
                        {{ render( controller("App\\TransmisionBundle\\Controller\\BlockController::gallerySliderAction", { 'locationId': blockItem })) }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="geb-slider-gallery__controls">
                <button data-swiper-action-left class="geb-slider-gallery__action is-left">
                    <span data-icon="arrow-right" class=""></span>
                </button>
                <button data-swiper-action-right class="geb-slider-gallery__action">
                    <span data-icon="arrow-right" class=""></span>
                </button>
            </div>
        </div>
    {% else %}
        <div data-equalizer="card-gallery">
            <div data-equalizer="cover">
                <div class="grid-container u-mb-10">
                    <div class="row">
                        {% for blockItem in valid_items %}
                            {% if blockItem %}
                                {{ render( controller( "ez_content:viewAction", {"locationId": blockItem, "viewType": "block_general"} ) ) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
