{% set blockType = container_type %}
{% set variationType = variation_type %}
{% set valid_items = location_list|split(',') %}

{% if valid_items|length %}
  {% for item in valid_items %}
    {{ render( controller( "App\\TransmisionBundle\\Controller\\BlockController::promosItemAction", { 'locationId': item,  'blockType': blockType, 'variationType': variationType } ) ) }}
  {% endfor %}
{% endif %}