{% extends "@Transmision/layout.html.twig" %}

{% block content %}
    <div class="geb-banner u-pt-10 u-pb-8">
        <div class="grid-container">
            <div class="row align-center">
                <div class="column small-6">
                    <div class="geb-search">
                        <form action="{{path('transmision_search')}}" method="GET">
                            <div class="input-group">
                                <input class="input-group-field" type="text" name="SearchText" placeholder="{{searchText}}" aria-label="Buscar">
                                <button class="button input-group-button">
                                    <span class="icon is-medium">
                                        <span data-icon="search" class=""></span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-bg-neutral u-p-4">
        <div class="grid-container">
            <p class="u-semibold u-m-0">
                <b>
                    {% if numberResults == 0 %}
                        No se encontraron resultados para "{{ searchText }}"
                    {% elseif numberResults == 1 %}
                        Se encontró 1 resultado para "{{ searchText }}"
        			{% elseif numberResults > 1 %}		
                       Se encontraron {{ numberResults }} resultados para "{{ searchText }}"
                    {% endif %}
                </b>
            </p>
        </div>
    </div>
    <div class="row u-mb-10">
    {% for result in results %}
        {{ render( controller( "ez_content:viewAction", {"contentId": result.valueObject.contentInfo.id, "viewType": "search"} ) ) }}
    {% endfor %}
    </div>
    <div class="grid-container">
        <nav class="u-pb-4" aria-label="Pagination">
        {% if pager.haveToPaginate() %}
            {{ pagerfanta( pager, 'default', {
                'proximity': 3,
                'prev_message': '<span>Anterior</span>',
                'dots_message': 'Dots',
                'next_message': '<span>Siguiente</span>',
                'css_disabled_class': 'disabled',
                'container_template': '<ul class="pagination">%pages%</ul>',
                'span_template': '<li class="%class%"><a href="">%text%</a></li>',
                'page_template': '<li><a href="%href%">%text%</a></li>', 
                'css_dots_class': 'disabled',
                'css_active_class': 'disabled'
            } ) }}
        {% endif %}
        </nav>
    </div> 
{% endblock %}

