<div data-ez-zone-id="{{ zones[0].id }}">
    {% if zones[0].blocks %}
        {% for block in zones.0.blocks %}
            <div id="block_{{ block.type }}_{{ block.id }}" class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                {{ render(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                    'locationId': locationId,
                    'contentId': contentInfo.id,
                    'blockId': block.id,
                    'versionNo': versionInfo.versionNo,
                    'languageCode': field.languageCode,
                    'block': block,
                })) }}
            </div>
        {% endfor %}
    {% endif %}
</div>
