<article class="flex{{ bullet_type == 'false' ? ' flex-col md:gap-7' }} gap-5 text-geb-dark-900">
    {% if bullet_type == 'false' or bullet_type == 'image' %}
        {% if "image" in card_options and axp_has_content(content, 'promo_image') %}
            {% set imageId = ez_field_value(content, 'promo_image').destinationContentId%}
            {{ render( controller( "ez_content::viewAction", {
                'contentId': imageId, 
                'viewType': 'line',
                'params':{
                    'alias': 'promo_contacto',
                    'figureClass': 'flex-shrink-0',
                    'class': 'rounded-full w-15 h-15 md:w-20 md:h-20 object-cover object-center'
                }
            } )) }}
        {% endif %}
    {% elseif bullet_type == 'icon' %}   
        {% if axp_has_content(content, 'promo_icon') %}
        <div class="flex flex-shrink-0 w-13 md:w-22">
            <i class="flex items-start w-10 h-10 md:w-15 md:h-15 -mt-0.5 text-geb-blue-primary fill-none" v-icon:{{ ez_field_value(content, 'promo_icon') }}></i>
        </div>
        {% endif %}   
    {% elseif bullet_type == 'arrow' %}                 
        <div class="flex w-6 md:w-7.25 flex-shrink-0">
            <i class="w-3 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:arrow-right-link-alt></i>
        </div>
    {% elseif bullet_type == 'checkmark' %}                 
        <div class="flex w-6 md:w-7.25 flex-shrink-0">
            <i class="w-3 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:checkmark-link-alt></i>
        </div>                
    {% endif %}         
    <ul class="flex flex-col pl-0.5 md:pl-0.75 gap-2 md:gap-3">
        {% if "tags" in card_options and content.fields.tags is defined and not ez_field_is_empty(content, 'tags') %}
        <li>
            <label class="block text-2xxs md:text-xs leading-loose font-medium tracking-2wider uppercase mb-2.5 md:mb-5 md:pb-0.5">
                {{ez_field_value(content, 'tags')}}
            </label>
        </li>
        {% endif %}
        {% if "title" in card_options %}
        <li>
            <div class="font-semibold text-sm leading-2tighter md:text-2lg md:leading-4tighter md:font-semibold">
                <p>{{ ez_content_name(content) }}</p>
            </div>
        </li>
        {% endif %}
        {% if axp_has_content(content, 'position') %}
        <li>
            <div class="font-medium text-2xs leading-2tighter md:text-base md:leading-4tighter text-geb-green-secondary">
                <p>{{ez_field_value(content, 'position')}}</p>
            </div>
        </li>
        {% endif %}
        {% if axp_has_content(content, 'email') %}
        <li>
            <a href="mailto:{{ez_field_value(content, 'email')}}" class="flex items-center text-2xs leading-3tighter hover:text-geb-link break-all">
                <i v-icon:mail class="flex items-center w-3.5 h-3.5 md:w-4 md:h-4 fill-none mr-2 md:mr-3"></i>
                <span>{{ez_field_value(content, 'email')}}</span>
            </a>
        </li>
        {% endif %}
        {% if axp_has_content(content, 'phone') %}
        <li>
            <a href="tel:{{ez_field_value(content, 'phone')}}" class="flex items-center text-2xs leading-3tighter hover:text-geb-link">
                <i v-icon:phone class="flex items-center w-3.5 h-3.5 md:w-4 md:h-4 fill-none mr-2 md:mr-3"></i>
                <span>{{ez_field_value(content, 'phone')}}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</article>



