<article class="flex {{ bullet_type == 'false' or bullet_type == 'image' ? 'flex-col md:gap-7': 'md:gap-0'}}{{ bullet_type == 'image' and axp_has_content(content, 'promo_image') ? ' grid grid-cols-1 md:grid-cols-2' }} gap-5 text-geb-dark-900">
    {% if bullet_type == 'false' or bullet_type == 'image' %}
        {% if "image" in card_options and axp_has_content(content, 'promo_image') %}
            {% set imageId = ez_field_value(content, 'promo_image').destinationContentId%}
            {{ render( controller( "ez_content::viewAction", {
                'contentId': imageId,
                'viewType': 'line',
                'params':{
                    'alias': 'promo_sustainability',
                    'figureClass': 'w-full pb-0.5 md:pb-0',
                    'class': 'rounded-2lg md:rounded-xl w-full h-auto object-cover object-center'
                }
            } )) }}
        {% endif %}
    {% elseif bullet_type == 'icon' %}   
        {% if axp_has_content(content, 'promo_icon') %}
        <div class="flex flex-shrink-0 w-13 md:w-22">
            <i class="flex items-start w-10 h-10 md:w-15 md:h-15 -mt-0.5 text-geb-blue-primary fill-none" v-icon:{{ ez_field_value(content, 'promo_icon') }}></i>
        </div>
        {% endif %}   
    {% elseif bullet_type == 'arrow' %}                 
        <div class="flex w-6 md:w-7.25 flex-shrink-0">
            <i class="w-3 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:arrow-right-link-alt></i>
        </div>
    {% elseif bullet_type == 'checkmark' %}                 
        <div class="flex w-6 md:w-7.25 flex-shrink-0">
            <i class="w-3 md:w-3.5 mt-1 md:mt-2 pt-px text-geb-green-secondary" v-icon:checkmark-link-alt></i>
        </div>                
    {% endif %}        
    <div class="w-full">
        {% if "date" in card_options and axp_has_content(content, 'publication_date') %}
        <label class="text-xxs-alt md:text-xs md:leading-loose font-medium tracking-widest uppercase mb-3 md:mb-3.5 cursor-pointer">
            {{ ez_field_value(content, 'publication_date').date|date('M j, Y')|upper }}
        </label>
        {% endif %}
        {% if "tags" in card_options and content.fields.tags is defined and not ez_field_is_empty(content, 'tags') %}
        <label class="block text-2xxs md:text-xs leading-loose font-medium tracking-2wider uppercase mb-2.5 md:mb-5 md:pb-0.5 cursor-pointer">
            {{ez_field_value(content, 'tags')}}
        </label>
        {% endif %}
        {% if "title" in card_options %} 
        <h3 class="text-lg leading-2tighter md:text-xl md:leading-2tighter font-medium md:font-semibold mb-1 md:mb-6">
            {{ axp_has_content(content, 'promo_title') ? ez_render_field(content, 'promo_title') : ez_content_name(content) }}
        </h3>
        {% endif %}
        {% if "description" in card_options and axp_has_content(content, 'promo_description') %}
        <div class="text-xs md:text-2xs leading-5">
            {{ ez_field_value(content, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
        </div>
        {% endif %}
    </div>
</article>
