{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% if validation.has_content(content, 'description_metadata') %}
    {% set descriptionMetadata = ez_field_value( content, 'description_metadata' ) %}
{% else %}
    {% set descriptionMetadata = metadata.title %}
{% endif %}

<title>{% if metadata.title != "" %}{{ metadata.title }} - {% endif %}{{ metadata.title_suffix }}</title>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ descriptionMetadata }}" />
{# <meta name="keywords" content="{{ metadata.keywords }}" /> #}
{# <meta name="author" content="{{ metadata.author }}" /> #}
{# <meta name="dcterms.rightsHolder" content="{{ metadata.copyright }}" /> #}
<meta name="dcterms.dateCopyrighted" content="{{ 'now'|date('Y') }}">