{% set id = random() %}
    <div class="accordion-item">
        <h4 class="accordion-header " id="heading-{{id}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{id}}" 
                aria-controls="collapse-{{id}}">
                {{params.title}}
            </button>
        </h4>
        <div id="collapse-{{id}}"  class="accordion-collapse collapse " aria-labelledby="heading-{{id}}">
            <div class="accordion-body">
                    <div>
                        {{content|raw}}
                    </div>
            </div>
        </div>
    </div>