{% block ezimageasset_field %}
    {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'background_image' ) ) %}
    {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
        {% set src_image = imageAlias.uri ? asset(imageAlias.uri) : "" %}
        <picture class="block">
            <img src='{{ src_image }}' alt="Background Image" class="w-full h-full object-cover object-top" />
        </picture>
    {% endif %}
{% endblock %}