{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% set colorList = ["red", "blue", "yellow", "green", "darkblue", "lime"] %}
{% set color = colorList[colorId] %}

<a href="{{path( "ez_urlalias", {"contentId": content.versionInfo.contentInfo.id} )}}">
    <article class="inergia-item u-bg-category-{{color}}">
        {% if validation.has_content(content, 'image') %}
            <figure class="inergia-item__image">
                {{ ez_render_field( content, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':alias } ) }}
            </figure>
        {% endif %}
        <div class="inergia-item__content">
            <h3 class="inergia-item__title">{{ez_field_value(content, 'title_promo')}}</h3>
            <a href="{{path( "ez_urlalias", {"contentId": parentContent.versionInfo.contentInfo.id} )}}" class="inergia-item__category">{{ez_content_name(parentContent)}}</a>
            {% if validation.has_content(content, 'subtitle_promo') %}
                <p class="inergia-item__description">
                    {{ez_field_value(content, 'subtitle_promo')}}
                </p>
            {% endif %}
            <a class="u-move-right-on-hover u-iblock" href="{{path( "ez_urlalias", {"contentId": content.versionInfo.contentInfo.id} )}}">
                <strong>VER MÁS</strong>
                <span data-icon="arrow-right" class="u-ml-1"></span>
            </a>
        </div>
    </article>
</a>