{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% set url = '' %}
{% set isUrlExternal = false %}
{% if validation.has_content(content, 'internal_link') %}
	{% set url = path( "ez_urlalias", {"contentId": ez_field_value(content, 'internal_link').destinationContentId } ) %}
{% elseif validation.has_content(content, 'external_link') %}
    {% set url = ez_field_value(content, 'external_link') %}
    {% set isUrlExternal = true %}
{% endif %}

<div class="ms-slide">
	{% if validation.has_content(content, 'image') %}
        {{ ez_render_field( content, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
        'inergia_slider' } ) }}
	{% endif %}
	<div class="ms-layer ms-caption" data-effect="bottom(480)" data-duration="2000" data-ease="easeOutQuart">
		<div class="geb-slider__content">
			<div class="geb-slider__content-inner geb-slider__content-inner--padded">
				<img class="logo-inergia__slider" src="{{ asset('images/inergia-logo.png','transmision') }}" alt="inergia">
				{% if validation.has_content(content, 'description') %}
					<h1 class="geb-heading-slider">
						{{ez_render_field(content, "description")}}
					</h1>
				{% endif %}
			</div>
		</div>
	</div>
    {% if url %}
        <div class="ms-layer ms-caption" data-effect="bottom(600)" data-duration="3500" data-ease="easeOutQuart">
            <div class="geb-slider__footer">
                <div class="button btn-secondary">
                    <a class="u-iblock" href="{{url}}" {% if isUrlExternal %} target="_blank" {% endif %}>
                        <strong>VER MÁS</strong> 
                        <span data-icon="arrow-right" class="u-ml-1"></span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</div>
