{% set socialNetworkList = ["facebook", "instagram", "twitter", "linkedin", "youtube"] %}
{% set socialNetwork = socialNetworkList[ez_field_value(content, 'icon_type').selection[0]] %}

<a href="{{ez_field_value(content,'link')}}" target="_blank" class="button is-small">
	<span class="icon is-small">
		<span data-icon="{{socialNetwork}}" class=""></span>
	</span>
</a>
