{% block ezimage_field %}
    {% set imageAlias = ez_image_alias( field, versionInfo, alias ) %}
    {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
        {% set src_image = imageAlias.uri ? asset(imageAlias.uri) : "" %}
        <img src='{{ asset('images/blank.gif','transmision') }}' data-src='{{ src_image }}' 
          {% if imageAlias.width  is not empty %}width='{{ imageAlias.width }}'{% endif %}
          {% if imageAlias.height is not empty %}height='{{ imageAlias.height }}'{% endif %}
          {% if class is defined and class %} class='{{class}}'{% endif %}
          alt='{{ field.value.alternativeText }}' />
    {% endif %}
{% endblock %}