<div class="w-full mb-5 p-4 text-gray-800 bg-white rounded-lg shadow">
  <div class="mb-2">
    <div class="h-3 text-3xl text-left text-gray-600">“</div>
    <p class="px-4 text-sm text-center text-gray-600">
      {{ content|raw }}
    </p>
    <div class="h-3 text-3xl text-right text-gray-600">”</div>
    {% if params.author is defined and  params.author is not empty %}
        <cite>{{params.author}}</cite>
    {% endif %}
  </div>
</div>