.bg-light-blue{
    background-color: #bae1f3;
}
.logo-partner {
    width: 4rem;
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;
}
.bg-zone-one{
    background-color: #f0f3f6;
}
.bg-footer {
    background-color: #78a5b9;
}