<div class="grid grid-cols-1 gap-6 my-4">
     <div data-ez-zone-id="{{ zones[0].id }}" class="py-6 px-6" >
        {% if zones[0].blocks %}
            {% for block in zones.0.blocks %}
                <div id="block_{{ block.type }}_{{ block.id }}" class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                    {{ render(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                        'locationId': locationId,
                        'contentId': contentInfo.id,
                        'blockId': block.id,
                        'versionNo': versionInfo.versionNo,
                        'languageCode': field.languageCode
                    })) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 my-4">
    <div data-ez-zone-id="{{ zones[1].id }}" class="bg-zone-one py-6 px-6" >
        {% if zones[1].blocks %}
            {% for block in zones.1.blocks %}
                <div id="block_{{ block.type }}_{{ block.id }}" class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                    {{ render(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                        'locationId': locationId,
                        'contentId': contentInfo.id,
                        'blockId': block.id,
                        'versionNo': versionInfo.versionNo,
                        'languageCode': field.languageCode
                    })) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div data-ez-zone-id="{{ zones[2].id }}" class="col-span-2 px-2 py-6" >
        {% if zones[2].blocks %}
            {% for block in zones.2.blocks %}
                <div id="block_{{ block.type }}_{{ block.id }}" class="landing-page__block block_{{ block.type }}" data-ez-block-id="{{ block.id }}">
                    {{ render(controller('EzSystems\\EzPlatformPageFieldTypeBundle\\Controller\\BlockController::renderAction', {
                        'locationId': locationId,
                        'contentId': contentInfo.id,
                        'blockId': block.id,
                        'versionNo': versionInfo.versionNo,
                        'languageCode': field.languageCode
                    })) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>



