<div class="column geb-submenu" id="submenu-{{params.indexIdTag}}">
  <div class="row">
    {% set cont = 1 %}
    {% for regionProjects in develomentProjects %}
      <div class="large-3 column geb-submenu__section">
        <nav>
          <ul class="geb-flat-list u-medium">
            {% for project in regionProjects %}
              <li>
                <a href="{{ ez_path(project) }}">
                  {{ cont }}.
                  {{ project.contentInfo.name }}
                </a>
              </li>
              {% set cont = cont + 1 %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    {% endfor %}
  </div>
</div>