{% if (subEstaciones is defined and subEstaciones) or (transmissionLines is defined and transmissionLines) %}
  <div class="column geb-submenu" id="submenu-{{params.indexIdTag}}">
    {% if subEstaciones %}
      <div class="row">
        <div class="large-12 column">
          <h5 class="text-center u-mb-4">SUBESTACIONES</h5>
        </div>
        {% for region,subEstacionesRegion in subEstaciones %}
          {% if subEstacionesRegion %}
            <div class="large-3 column geb-submenu__section">
              <h6>{{region}}</h6>
              <nav>
                <ul class="geb-flat-list u-medium">
                  {% for subestacion in subEstacionesRegion %}
                    <li><a href="{{ ez_path(subestacion) }}">{{subestacion.contentInfo.name}}</a></li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if transmissionLines %}
      <div class="row u-mt-8">
        <div class="large-12 column">
          <h5 class="text-center u-mb-4">LÍNEAS DE TRANSMISIÓN</h5>
        </div>
        {% set count = 1 %}
        {% for transmissionColumn in transmissionLines %}
        <div class="large-3 column geb-submenu__section">
          <nav>
            <ul class="geb-flat-list u-medium">
              {% for lineItem in transmissionColumn %}
                <li><a href="{{ez_path(lineItem)}}">{{count}}. {{lineItem.contentInfo.name}}</a></li>
                {% set count = count + 1 %}
              {% endfor %}
              </ul>
            </nav>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
