{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% set featured = data.featured %}
{% set columns = data.columns %}

<div class="column geb-submenu" id="submenu-{{params.indexIdTag}}">
  <div class="row">
    {% if featured %}
      {% set idFeatured = featured.versionInfo.contentInfo.id %}
      <div class="large-5 column geb-submenu__section">
        <div class="row">
          {% set fieldImage = '' %}
          {% if validation.has_content(featured, 'promo_image') %}
            {% set fieldImage = 'promo_image' %}
            {% elseif validation.has_content(featured, 'image') %}
            {% set fieldImage = 'image' %}
          {% endif %}
          {% if fieldImage %}
            <div class="large-6 column">
              <figure>
                <a href="{{ path( "ez_urlalias", {"contentId": idFeatured} ) }}">
                  {{ ez_render_field( featured, fieldImage, {
                  'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                  'medium' } ) }}
                </a>
              </figure>
            </div>
          {% endif %}
          <div class="large-6 column">
            <h6><a href="{{ path( "ez_urlalias", {"contentId": idFeatured} ) }}">{{ ez_content_name(featured) }}</a></h6>
            {% if validation.has_content(featured, 'short_description') %}
              <p>{{ez_render_field(featured, 'short_description')}}</p>
            {% endif %}
            <p>
              <a href="{{ path( "ez_urlalias", {"contentId": idFeatured} ) }}">VER MÁS <span class="geb-icon geb-icon--arrow-right u-ml-1"></span></a>
            </p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if columns %}
      <div class="large-7 column geb-submenu__section">
        <div class="row">
          {% for column in columns %}
            <div class="large-4 column">
              <nav>
                <ul class="geb-flat-list u-medium">
                  {% for objRelated in column %}
                    <li>
                      <a href="{{ path( "ez_urlalias", {"contentId": objRelated.id } ) }}">
                        {{ez_content_name(objRelated)}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>