
{% set firstColumn = [] %}
{% set secondColumn = [] %}
{% set thirdColumn = [] %}

{% if data.columns|length > 0 %}

  {% set length = data.columns|length %}
  {% set size = 12 / length %}
  {% if data.columns.object_first_column is defined %}
    {% set firstColumn = data.columns.object_first_column  %}
  {% endif %}
  {% if data.columns.object_second_column is defined %}
    {% set secondColumn = data.columns.object_second_column  %}
  {% endif %}
  {% if data.columns.object_third_column is defined %}
    {% set thirdColumn = data.columns.object_third_column  %}
  {% endif %}

  <div class="column geb-submenu is-col-{{length}}" id="submenu-{{params.indexIdTag}}"  data-submenu-center>
    <div class="row">
      {% if firstColumn|length > 0 %}
      <div class="large-{{size}} column geb-submenu__section">
        <nav>
          <ul class="geb-flat-list u-bold">
            <li>
              <a href="{{ path( "ez_urlalias", {"contentId": firstColumn.objRelated.id} ) }}">
                {{firstColumn.objRelated.name}}
              </a>
              <ul class="geb-flat-list u-bold">
                {% for childLocation in firstColumn.children %}
                  <li><a href="{{ez_path(childLocation)}}">{{childLocation.contentInfo.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      {% endif %}
      {% if secondColumn|length > 0 %}
      <div class="large-{{size}} column geb-submenu__section">
        <nav>
          <ul class="geb-flat-list u-bold">
            <li>
              <a href="{{ path( "ez_urlalias", {"contentId": secondColumn.objRelated.id} ) }}">
                {{secondColumn.objRelated.name}}
              </a>
              <ul class="geb-flat-list u-bold">
                {% for childLocation in secondColumn.children %}
                  <li><a href="{{ez_path(childLocation)}}">{{childLocation.contentInfo.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      {% endif %}
      {% if thirdColumn|length > 0 %}
      <div class="large-{{size}} column geb-submenu__section">
        <nav>
          <ul class="geb-flat-list u-bold">
            <li>
              <a href="{{ path( "ez_urlalias", {"contentId": thirdColumn.objRelated.id} ) }}">
                {{thirdColumn.objRelated.name}}
              </a>
              <ul class="geb-flat-list u-bold">
                {% for childLocation in thirdColumn.children %}
                  <li><a href="{{ez_path(childLocation)}}">{{childLocation.contentInfo.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      {% endif %}
    </div>
  </div>
    
{% endif %}