{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% if columnsData is defined and columnsData %}
  <div class="column geb-submenu" id="submenu-{{params.indexIdTag}}">
    <div class="row">
      {% for columnData in columnsData %}
        {% if columnData %}
          <div class="large-6 column geb-submenu__section">
            <div class="row">
              {% set fieldImage = '' %}
              {% if validation.has_content(columnData.featured, 'promo_image') %}
                {% set fieldImage = 'promo_image' %}
              {% elseif validation.has_content(columnData.featured, 'image') %}
                {% set fieldImage = 'image' %}
              {% endif %}
              {% if fieldImage %}
                {% set contentId = columnData.featured.id %}
                <div class="large-5 column">
                  <a href="{{ path( "ez_urlalias", {"contentId": contentId} ) }}">
                    {{ ez_render_field( columnData.featured, fieldImage, {
                    'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                    'medium' } ) }}
                  </a>
                </div>
              {% endif %}
              {% if columnData.related %}
                <div class="large-7 column">
                  <nav>
                    <ul class="geb-flat-list u-medium">
                      {% for objRelated in columnData.related %}
                        <li><a href="{{path( "ez_urlalias", {"contentId": objRelated.id } )}}">{{ez_content_name(objRelated, 'name')}}</a></li>
                      {% endfor %}
                    </ul>
                  </nav>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}