{% import "@Transmision/Macros/validation.html.twig" as validation %}
<div class="column geb-submenu is-col-1" id="submenu-{{params.indexIdTag}}" data-submenu-right>
    <div class="row">
        <div class="large-12 column geb-submenu__section">
        <nav>
            <ul class="geb-flat-list u-bold">
                <li><a href={{path( "ez_urlalias", {"locationId": columnData.mainLocationId} )}}>{{columnData.name}}</a></li>
                    <ul class="geb-flat-list u-bold">
                        {% for item in items %}
                            <li><a href={{ez_path(item)}}>{{item.contentInfo.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</div>
