{% set background_image = background_image is defined ? background_image : false %}
{% set background_image_position = background_image_position ? axp_get_key_value('background_image_position', background_image_position) %}
<div id="{{ sticky_menu_title|default('')|slug }}" data-menu="{{ sticky_menu_title }}" class="flex flex-col {{ background_image ? background_image_position }} {{ background_image and block_overlap == '1' ? 'overlap-block' }}" {{ background_image ? 'v-full-width-image' }}>
    {% block content %}{% endblock %}

    {% if background_image %}
    <div class="force-full-width">
        <div class="full-container-image full-width-image">
            {{ render( controller( "ez_content::viewAction", {
                'contentId': background_image, 
                'viewType': 'line',
                'params':{
                    'alias': 'background_image',
                    'figureClass': '',
                    'styleCustom': 'height: 1000px;',
                    'class': 'object-center object-cover'
                }
            } )) }}
        </div>
    </div>
    {% endif %}
</div>
