{% if translationURLs is defined and translationURLs is not empty %}
    {% if isMobile is defined and isMobile%}
        <div class="mt-3 mb-2">
            <div class="flex items-center justify-center gap-1.5 text-geb-link text-xs tracking-widest leading-7">
                {% for key, translationURL in translationURLs %}
                    {% if key == 'tgiweb_en' or key == 'gebweb_en' %}
                        <a class="hover:opacity-50 font-bold opacity-30">
                            ES
                        </a>
                        <span class="opacity-30 font-bold">/</span>
                        <a href="{{ translationURL }}" class="hover:opacity-50 font-extrabold opacity-100">
                            EN
                        </a>
                    {% elseif key == 'tgiweb' or key == 'gebweb' %}
                        <a href="{{ translationURL }}" class="hover:opacity-50 font-extrabold opacity-100">
                            ES
                        </a>
                        <span class="opacity-30 font-bold">/</span>
                        <a class="hover:opacity-50 font-bold opacity-30">
                            EN
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <li class="flex items-center">
            {% for key, translationURL in translationURLs %}
                {% if key == 'tgiweb_en' or key == 'gebweb_en' %}
                    <a class="flex items-center text-trueGray-400 hover:text-geb-dark-600 text-sm leading-7 font-semibold tracking h-5 pl-5 border-l border-trueGray-350">
                        <span>ES</span>
                    </a>
                    <span class="text-geb-dark-800 text-4xxs leading-normal font-semibold tracking-2widest px-1.5 mx-px transform -skew-x-3">/</span>
                    <a href="{{ translationURL }}" class="flex items-center text-geb-dark-800 hover:text-geb-dark-600 text-sm leading-7 font-semibold tracking h-5 pr-4 border-r border-trueGray-350">
                        <span>EN</span>
                    </a>
                {% elseif key == 'tgiweb' or key == 'gebweb' %}
                    <a href="{{ translationURL }}" class="flex items-center text-geb-dark-800 hover:text-geb-dark-600 text-sm leading-7 font-semibold tracking h-5 pl-5 border-l border-trueGray-350">
                        <span>ES</span>
                    </a>
                    <span class="text-geb-dark-800 text-4xxs leading-normal font-semibold tracking-2widest px-1.5 mx-px transform -skew-x-3">/</span>
                    <a class="flex items-center text-trueGray-400 hover:text-geb-dark-600 text-sm leading-7 font-semibold tracking h-5 pr-4 border-r border-trueGray-350">
                        <span>EN</span>
                    </a>
                {% endif %}
            {% endfor %}
        </li>
    {% endif %}
{% endif %}