{% if isHeader is defined and isHeader %}
    {% if isMobile is defined and isMobile%}
        <ul class="flex items-center -ml-1 gap-7.25 md:gap-5.25 list-none h-7.25 md:h-5.25 text-geb-link md:text-geb-dark-800">
            {% if socialNetworks is defined and socialNetworks is not empty %}
                {% for social in socialNetworks %}
                    <li class="flex items-center hover:text-geb-dark-600">
                        {% if axp_has_content(social.content, "promo_icon") %}
                            {% if ez_field_value( social.content, 'promo_icon' ) == 'linkedin' or ez_field_value( social.content, 'promo_icon' ) == 'youtube'%}
                                <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-6.5 md:w-4.5" target="_blank">
                                    <i class="md:hidden flex items-center w-6.25 h-6.25" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}-black></i>
                                    <i class="hidden md:flex items-center md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}></i>
                            {% else %}
                                <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-7.25 md:w-5 md:ml-px" target="_blank">
                                    <i class="flex items-center w-6 h-6 md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}></i>
                            {% endif %}
                            </a>
                        {% endif %}    
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% elseif isMobile == false %}
        <ul class="flex items-center -ml-1 gap-7.25 md:gap-5.25 list-none h-7.25 md:h-5.25 text-geb-link md:text-geb-dark-800">
            {% if socialNetworks is defined and socialNetworks is not empty %}
                {% for social in socialNetworks %}
                    <li class="flex items-center hover:text-geb-dark-600">
                        {% if axp_has_content(social.content, "promo_icon") %}
                            {% if ez_field_value( social.content, 'promo_icon' ) == 'linkedin' or ez_field_value( social.content, 'promo_icon' ) == 'youtube'%}
                                <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-6.5 md:w-4.5" target="_blank">
                                    <span>
                                        <i class="md:hidden flex items-center w-6.25 h-6.25" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}-black></i>
                                        <i class="hidden md:flex items-center md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-7.25 md:w-5 md:ml-px" target="_blank">
                                    <i class="flex items-center w-6 h-6 md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <ul class="flex items-center -ml-1 gap-7.25 md:gap-5.25 list-none h-7.25 md:h-5.25 text-geb-link">
        {% if socialNetworks is defined and socialNetworks is not empty %}
            {% for social in socialNetworks %}
                <li class="flex items-center hover:text-geb-dark-600">
                    {% if axp_has_content(social.content, "promo_icon") %}
                        {% if ez_field_value( social.content, 'promo_icon' ) == 'linkedin' or ez_field_value( social.content, 'promo_icon' ) == 'youtube'%}
                            <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-6.5 md:w-4.5" target="_blank">
                                <i class="flex items-center w-6.25 h-6.25 md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}-black></i>
                        {% else %}
                            <a href="{{ axp_has_content(social.content, "url") ? ez_field_value( social.content, 'url' ) : '#' }}" class="flex justify-center w-7.25 md:w-5 md:ml-px" target="_blank">
                                <i class="flex items-center w-6 h-6 md:w-4.5 md:h-4.5" v-icon:{{ ez_field_value( social.content, 'promo_icon' ) }}></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}
