{# expected variable content #}
{% if content.contentType.identifier == 'gebweb_custom_link' %}
	{% if axp_has_content(content, 'linked_content') %}
		{% set url = path( "ez_urlalias", {"contentId": ez_field_value(content, 'linked_content').destinationContentId } ) %}
	{% elseif axp_has_content(content, 'url') %}
		{% set url = ez_field_value(content, 'url').link %}
	{% endif %}
{% endif %}
{% set url = (url ?? ez_url(content))|url_encode %}
{% set title = axp_has_content(content, 'promo_title') ? ez_field_value(content, 'promo_title').text : ez_content_name(content) %}
{% set description = axp_has_content(content, 'promo_description') ? ez_field_value(content, 'promo_description') %}
{% set text = ("#{title}" ~ (description ? ' - ' ~ description|striptags[:200]) ~ '...')|url_encode %}
{% set twitterUrl = "https://twitter.com/intent/tweet?text=#{text}&url=#{url}" %}
{% set facebookUrl = "https://www.facebook.com/sharer/sharer.php?u=#{url}&quote=#{text}" %}
{% set linkedinUrl = "https://www.linkedin.com/sharing/share-offsite/?url=#{url}" %}

<div class="flex gap-5.25 text-geb-gray-350 text-xl mt-5.25">
	<a href="{{ twitterUrl }}"><i class="fab fa-twitter hover:text-geb-dark-600"></i></a>
	<a href="{{ facebookUrl }}"><i class="fab fa-facebook hover:text-geb-dark-600"></i></a>
	<a href="{{ linkedinUrl }}"><i class="fab fa-linkedin hover:text-geb-dark-600"></i></a>
</div>

