<nav class="geb-banner-nav" role="navigation">
  <ul class="breadcrumbs geb-banner-breadcrumb u-pb-5">
    {% for breadcrumb in breadcrumbs %}
      <li class="{% if loop.last %} active{% endif %}">
        <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
