{% if sidebar.parent is defined %}
	<a href="{{ ez_path( sidebar.parent ) }}" title="{{ ez_content_name( sidebar.parent.contentInfo ) }}">
		<span class="u-small">
			{{ ez_content_name( sidebar.parent.contentInfo )|upper}}
		</span>
	</a>
{% endif %}
{% if sidebar.siblings is defined %}
    <nav class="geb-navmenu-b" data-navmenu-b>
		<ul>
            {% for sibling in sidebar.siblings %}
				<li class="{% if sidebar[sibling.id] is defined and sidebar[sibling.id] %} has-submenu{% endif %}">
                    {% if sidebar[sibling.id] is defined and sidebar[sibling.id] %}
						<span class="geb-navmenu-b__toggle-icon" data-navmenu-b-toggle=""></span> 
					{% endif %}
                    <a href="{{ ez_path( sibling ) }}" class="" title="{{ sibling.contentInfo.name }}">
                        {{ sibling.contentInfo.name }}
                    </a>
                    {% if sidebar[sibling.id] is defined and sidebar[sibling.id] %}
                        <ul>
                            {% for child in sidebar[sibling.id] %}
                                <li>
                                    <a href="{{ ez_path( child ) }}" title="{{child.contentInfo.name }}">
                                        {{ child.contentInfo.name  }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
