{% if documents is defined and documents|length > 0 %}
     <section class="u-mb-8">
          <h3 class="u-mb-3">Documentos</h3>
          <ul class="geb-list-archive">
               {% for document in documents %}
                    <li>
                         {{ ez_render_field( document.content, 'file', { 'template': '@ezdesign/Fields/ez_file.html.twig'} ) }}
                    </li>
               {% endfor %}
          </ul>
     </section>
{% endif %}
