{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% if gallery is defined and gallery|length > 0 %}
     <div class="u-mb-14">
          <h2>
               Galería  
          </h2>
          {# Revisar dimensiones #}
          <div class="geb-slider-b master-slider ms-skin-default" data-masterslider='{"width": 863, "height": 475}'>
               {% for itemGallery in gallery %}
                    {% if validation.has_content(itemGallery, 'image') %}
                         <div class="ms-slide">
                              {{ ez_render_field(itemGallery, 'image', {'template':'@ezdesign/Fields/gallery/ezimage_alias.html.twig', 'alias':'xlarge' } ) }}
                              <div class="ms-thumb">{{ ez_render_field(itemGallery, 'image', {'template':'@ezdesign/Fields/gallery/ezimageThumb_alias.html.twig', 'alias':'xlarge' } ) }}</div>
                              {% if validation.has_content(itemGallery, 'caption') %}
                                   <div class="geb-slider-b__caption">
                                        {{ez_render_field(itemGallery, 'caption')}} 
                                   </div>
                              {% endif %}
                         </div>
                    {% endif %}
               {% endfor %}
          </div>
     </div>
{% endif %}
