{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% if gallery is defined and gallery|length > 0 %}
     <div class="u-mb-14">
          <h2>
               Videos  
          </h2>
          <div class="geb-slider-b master-slider ms-skin-default" data-masterslider='{"width": 863, "height": 475}'>
               {% for itemGallery in gallery %}
                    {% if validation.has_content(itemGallery, 'file') %}
                         <div class="ms-slide">
                               {{ ez_render_field(itemGallery, 'file', { "template": "@ezdesign/Fields/ez_media.html.twig"} ) }} 
                         </div>
                    {% elseif validation.has_content(itemGallery, 'url_video') %}
                         <div class="ms-slide">
                              <iframe width="863" height="475" src={{ez_field_value(itemGallery, 'url_video').link}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                    {% endif %}
               {% endfor %}
          </div>
     </div>
 {% endif %}
