
{% if highlightedItems is defined and highlightedItems|length > 0 %}
	<a class="u-mt-7" style="display: block;" href="#" title="{{ 'Highlighted post'|trans({}, "transmision")|upper }}">
		<span class="u-small">
			{{ 'Highlighted post'|trans({}, "transmision")|upper }}
		</span>
	</a>
{% endif %}

{% if highlightedItems is defined and highlightedItems|length > 0 %}
	<nav class="geb-navmenu-b" data-navmenu-b>
		<ul>
			{% for highlightedItem in highlightedItems %}
				<li>
					<a href="{{ ez_path( highlightedItem.location ) }}" title="{{ ez_content_name( highlightedItem.content ) }}">
						{{ ez_content_name( highlightedItem.content ) }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
