{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% set colorList = ["red", "blue", "yellow", "green", "darkblue", "lime"] %}
{% set category_color = colorId != null ? colorList[colorId] : '' %}

{% if inergiaLocationId is defined and inergiaLocationId is not empty %}
	<a href="{{ path( "ez_urlalias", {"locationId": inergiaLocationId} ) }}">
		<img src="{{ asset('images/inergia-logo-azul.png','transmision') }}" alt="">
	</a>
{% endif %}
{% if data_nav.sidebar.left_navigation.parent is defined %}
	<a {% if category_color is defined %}class="category-inergia {{ category_color }}"{% endif %} href="{{ ez_path( data_nav.sidebar.left_navigation.parent ) }}" title="{{ ez_content_name( data_nav.sidebar.left_navigation.parent.contentInfo ) }}">
		<span class="u-small">
			{{ ez_content_name( data_nav.sidebar.left_navigation.parent.contentInfo )|upper}}
		</span>
	</a>
{% endif %}
{% if data_nav.sidebar.left_navigation.siblings is defined %}
	<nav class="geb-navmenu-b" data-navmenu-b="">
		<ul>
			{% for sibling in data_nav.sidebar.left_navigation.siblings %}
				<li class="{% if sibling.children is defined %} has-submenu{% endif %}{% if sibling.location.id == data_nav.location.id %} is-current is-active{% endif %}">
					{% if sibling.children is defined %}
						<span class="geb-navmenu-b__toggle-icon" data-navmenu-b-toggle=""></span> 
					{% endif %}
					<a href="{{ ez_path( sibling.location ) }}" class="" title="{% if ( sibling.content.fields['title_promo'] is defined and not ez_field_is_empty( sibling.content, 'title_promo' )) %}{{ ez_field_value( sibling.content, 'title_promo' ) }}{% else %}{{ ez_content_name( sibling.content ) }}{% endif %}">
						{{ (ez_content_name( sibling.location.contentInfo )|length <=50) ? ez_content_name( sibling.location.contentInfo ):
						ez_content_name( sibling.location.contentInfo ) | slice(0,50) ~ "..." }}
					</a>
					{% if sibling.children is defined %}
						<ul>
							{% for child in sibling.children %}
								<li>
									<a href="{{ ez_path( child.location ) }}" title="{% if ( child.content.fields['title_promo'] is defined and not ez_field_is_empty( child.content, 'title_promo' )) %}{{ ez_field_value( child.content, 'title_promo' ) }}{% else %}{{ ez_content_name( child.content ) }}{% endif %}">
										{{ (ez_content_name( child.location.contentInfo)|length <=50) ? ez_content_name( child.location.contentInfo):
										ez_content_name( child.location.contentInfo ) | slice(0,50) ~ "..." }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}