
{% if sidebar.left_navigation.parent is defined %}
	<a href="{{ ez_path( sidebar.left_navigation.parent ) }}" title="{{ ez_content_name( sidebar.left_navigation.parent.contentInfo ) }}">
		{% if inergiaLogo %}
			<img src="{{ asset('images/inergia-logo-azul.png','transmision') }}" alt="">
		{% else %}
			<span class="u-small">
				{{ ez_content_name( sidebar.left_navigation.parent.contentInfo )|upper}}
			</span>
		{% endif %}
	</a>
{% endif %}
{% if sidebar.left_navigation.siblings is defined %}
	<nav class="geb-navmenu-b" data-navmenu-b>
		<ul>
			{% for sibling in sidebar.left_navigation.siblings %}
				<li class="{% if sibling.children is defined %} has-submenu{% endif %}
					{# TODO: Thhis validation is not working #}
					{# if sibling.location.id == data_nav.location.id %} is-current is-active{% endif #}"
				>
					{% if sibling.children is defined %}
						<span class="geb-navmenu-b__toggle-icon" data-navmenu-b-toggle=""></span> 
					{% endif %}
					
					{% if sibling.location.contentInfo.contentTypeId == 162 %}
						{{ render( controller( "ez_content:viewAction", {"contentId": sibling.location.contentInfo.id, "viewType": "line"} ) ) }}
					{% else %}
						<a href="{{ ez_path( sibling.location ) }}" class="" title="{% if ( sibling.content.fields['title_promo'] is defined and not ez_field_is_empty( sibling.content, 'title_promo' )) %}{{ ez_field_value( sibling.content, 'title_promo' ) }}{% else %}{{ ez_content_name( sibling.content ) }}{% endif %}">
						{{ ez_content_name( sibling.location.contentInfo ) }}
						</a>
					{% endif %}

					{% if sibling.children is defined %}
						<ul>
							{% for child in sibling.children %}
								<li>
									{% if sibling.location.contentInfo.contentTypeId == 162 %}
										{{ render( controller( "ez_content:viewAction", {"contentId": sibling.location.contentInfo.id, "viewType": "line"} ) ) }}
									{% else %}
										<a href="{{ ez_path( child.location ) }}" title="{% if ( child.content.fields['title_promo'] is defined and not ez_field_is_empty( child.content, 'title_promo' )) %}{{ ez_field_value( child.content, 'title_promo' ) }}{% else %}{{ ez_content_name( child.content ) }}{% endif %}">
											{{ ez_content_name( child.location.contentInfo ) }}
										</a>
									{% endif %}
									{# <a href="{{ path( child.location ) }}" title="{% if ( child.content.fields['title_promo'] is defined and not ez_field_is_empty( child.content, 'title_promo' )) %}{{ ez_field_value( child.content, 'title_promo' ) }}{% else %}{{ ez_content_name( child.content ) }}{% endif %}">
											{{ ez_content_name( child.location.contentInfo ) }}
										</a> #}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}