{% import "@Transmision/Macros/validation.html.twig" as validation %}
<div class="u-mb-20">
     {% if timelines.parent_content is defined %}
          <h2 class="text-center u-mb-6">
               {% if timelines.parent_content.fields['subtitle_promo'] is defined and not ez_field_is_empty(timelines.parent_content, 'subtitle_promo')%}
                    {{ ez_field_value(timelines.parent_content,'subtitle_promo') }}
               {% elseif timelines.parent_content.fields['title_promo'] is defined and not ez_field_is_empty(timelines.parent_content, 'title_promo') %}
                    {{ ez_field_value(timelines.parent_content,'title_promo') }}
               {% else %}
                    {{ timelines.parent_content.contentInfo.name }}
               {% endif %}
          </h2>
     {% endif %}
     {% if timelines.item_timeline is defined %}
          <ul class="geb-timeline">
               {% for timeline in timelines.item_timeline %}
                    <li>
                         <span class="geb-timeline__identity">{{ ez_render_field(timeline ,'year')}}</span>
                         <section class="geb-timeline__content">
                              <div>
                                   <h3>{{ ez_content_name( timeline ) }}</h3>
                                   {% if validation.has_content(timeline, 'image') %}
                                        <div class="geb-timeline__image">
                                                  {{ ez_render_field(timeline, 'image', {'template':'@ezdesign/Fields/ezimage_alias.html.twig', 'alias':'large' } ) }}
                                        </div>
                                   {% endif %}
                                   {% if timeline.fields['description'] is defined and not ez_field_is_empty(timeline, 'description')%}
                                      <p class='u-small'>       
                                        {{ ez_render_field(timeline,'description') }}
                                      </p>
                                   {% endif %}
                              <div>
                         </section>
                         
                    </li>
               {% endfor %}
          </ul>
     {% endif %}
</div>