{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
  <div class="geb-layout-home">
    <div class="geb-banner">
      <div class="geb-banner-bg">
               
        {% if validation.has_content(content,'header_image') %}
         {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'transmision_header' } ) }}
        {% endif %}
      </div>
      <div class="geb-banner-content u-pt-10 u-pb-8">
        <div class="grid-container">
          <div class="cell">
            <div class="geb-banner-content-inner">
              {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
              <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="geb-layout-home__main u-m-0">
      {{ ez_render_field( content, "page", { 'locationId': location.id }) }}
    </div>
  </div>
{% endblock %}
