{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set size = 3 %}

<div class="row collapse" data-equalizer>
  <div class="columns large-{{size}} small-6">
    <div class="geb-card-a geb-card-a--indicator-right text-right" data-equalizer-watch>
      <h1 class="geb-heading">{{ ez_content_name( content ) }}</h1>
      {% if content.fields['title'] is defined and not ez_field_is_empty(content, 'title')%}
        <p>{{ ez_field_value(content, 'title')}}</p>
      {% endif %}
      {% if relationsContent.featured_link is defined and relationsContent.featured_link|length > 0 %}
        <a href="{{ ez_path(relationsContent.featured_link.location) }}" class="u-move-right-on-hover u-iblock">
          <strong>VER MÁS</strong>
          <span data-icon="arrow-right" class="u-ml-1"></span>
        </a>
      {% endif %}
    </div>
  </div>
  {% if relationsContent.featured is defined and relationsContent.featured|length > 0 %}
    {% for highlight in relationsContent.featured %}
      {% set destinationContentId = null %}

      {% if validation.has_content(highlight.content, 'featured_link') %}
        {% set destinationContentId = ez_field_value(highlight.content,'featured_link') %}
      {% endif %}

      <div class="columns large-{{size}} small-6">
        <figure class="geb-card-c {% if loop.index0 == 1 %} geb-card-c--darken{% endif %}" data-equalizer-watch>
          <div class="geb-card-c__wrap-img">
            {% if validation.has_content(highlight.content, 'promo_image') %}
                {{ ez_render_field(highlight.content, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
                'alias':'promo_thumbnail' } ) }}
            {% endif %}
          </div>
          <figcaption>
          {% if destinationContentId != null %}
            <a href="{{ path( "ez_urlalias", {"contentId": destinationContentId.destinationContentId } ) }}">
              {{ ez_content_name( highlight.content ) }}
            </a>
          {% else %}
            <a href="{{ ez_path(highlight.location) }}">
              {{ ez_content_name( highlight.content ) }}
            </a>
          {% endif %}
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  {% endif %}
</div>
