{% import "@Transmision/Macros/validation.html.twig" as validation %}

<div class="row collapse" data-equalizer>
    {% if variationType == 'left' or variationType == 'none' %}
        {% if children|length > 0 %}
            <div class="columns large-9 small-6">
                <div data-equalizer-watch>
                    <div class="geb-swiper swiper-container" data-swiper>
                        <div class="swiper-wrapper">
                            {% for people in children %}
                            {% if validation.has_content(people, 'photo') %}
                            <div class="swiper-slide">
                                <div class="swiper-slide__hover">
                                    <a href="{{ path( "ez_urlalias", {"contentId": people.versionInfo.contentInfo.id} ) }}"
                                        class="button">Ver más</a>
                                </div>
                                {{ ez_render_field(people, 'photo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'promo_thumbnail' } ) }}
                                <figcaption>
                                    <span>{{ez_content_name(people)}}</span><br>
                                    {% if validation.has_content(people, 'position') %}
                                    <span> {{ez_field_value(people, 'position')}} </span>
                                    {% endif %}
                                </figcaption>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="columns large-3 small-6 u-flex">
            <div class="geb-card-a geb-card-a--indicator text-left geb-layout-home__main-block-a" data-equalizer-watch>
                <h1 class="geb-heading">{{ez_content_name(content)}}</h1>
                {% if validation.has_content(content, 'short_description') %}
                <p>{{ez_field_value(content, 'short_description')}}</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="columns large-3 small-6 u-flex">
            <div class="geb-card-a geb-card-a--indicator-{{variationType}} text-{{variationType}} geb-layout-home__main-block-a" data-equalizer-watch>
                <h1 class="geb-heading">{{ez_content_name(content)}}</h1>
                {% if validation.has_content(content, 'short_description') %}
                <p>{{ez_field_value(content, 'short_description')}}</p>
                {% endif %}
            </div>
        </div>
        {% if children|length > 0 %}
            <div class="columns large-9 small-6">
                <div data-equalizer-watch>
                    <div class="geb-swiper swiper-container" data-swiper>
                        <div class="swiper-wrapper">
                            {% for people in children %}
                            {% if validation.has_content(people, 'photo') %}
                            <div class="swiper-slide">
                                <div class="swiper-slide__hover">
                                    <a href="{{ path( "ez_urlalias", {"contentId": people.versionInfo.contentInfo.id} ) }}"
                                        class="button">Ver más</a>
                                </div>
                                {{ ez_render_field(people, 'photo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'promo_thumbnail' } ) }}
                                <figcaption>
                                    <span>{{ez_content_name(people)}}</span><br>
                                    {% if validation.has_content(people, 'position') %}
                                    <span> {{ez_field_value(people, 'position')}} </span>
                                    {% endif %}
                                </figcaption>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>