{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set size = 3 %}

{% set variationType = '' %}

{% if variationType == 'left'%}
  {% set variationType = 'left' %}
{% else if variationType == 'right' %}
  {% set variationType = 'right' %}
{% endif %}

<div class="row collapse" data-equalizer >
  <div class="columns large-3 small-6 u-flex">
    <div class="geb-card-a geb-card-a--indicator-right text-right geb-layout-home__main-block-a" data-equalizer-watch>
      <h1 class="geb-heading">{{ ez_content_name( content ) }}</h1>
      {% if content.fields['short_description'] is defined and not ez_field_is_empty(content, 'short_description')%}
        <p>{{ ez_render_field(content, 'short_description')}}</p>
      {% endif %}
    </div>
  </div>
    <div class="columns large-9 small-6">
      <div data-equalizer-watch>
        <div class="geb-swiper swiper-container" data-swiper>
          <div class="swiper-wrapper">
            {% for gallery in children %}
              {% if validation.has_content(gallery, 'image') %}
                <div class="swiper-slide">
                  {{ ez_render_field(gallery, 'image', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'promo_thumbnail' } ) }}
                </div>
              {% endif %}
            {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
        </div>
      </div>            
    </div>
</div>