{% import "@Transmision/Macros/validation.html.twig" as validation %}


<div class="row collapse" data-equalizer>
    {% if relationsContent.media is defined and relationsContent.media|length > 0 %}
        {% for highlight in relationsContent.media %}
            {% set size = (loop.first)? 6 : 3 %}
            <div class="columns large-{{size}} small-6">
                {% if  validation.has_content(highlight.content, 'plugin_code') %}
                    {{ ez_render_field(highlight.content, 'plugin_code')}}
                {% elseif validation.has_content(highlight.content, 'url_video')   %}
                    {% set url =ez_field_value(highlight.content,'url_video') %}
                    <figure class="geb-card-c" data-equalizer-watch>
                        <div class="video-responsive">
                            <iframe src="{{url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </figure>
                {% else %}
                    <figure class="geb-card-c" data-equalizer-watch>
                        <div class="geb-card-c__icon">
                            <span data-icon="image-gallery"></span>
                        </div>
                        <div class="geb-card-c__wrap-img">
                            {% if validation.has_content(highlight.content, 'promo_image')  %}
                                {{ ez_render_field(highlight.content, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
                                'alias':'promo_medium_landscape' } ) }}
                            {% endif %}
                        </div>
                        <figcaption>
                            <a href="{{ez_path(highlight.location)}}">
                                {{ ez_content_name( highlight.content ) }}
                            </a>
                        </figcaption>
                    </figure>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
