{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set size = 3 %}

<div class="row collapse" data-equalizer>
  <div class="columns large-{{size}} small-6 u-flex">
    <div class="geb-card-a geb-card-a--indicator-right text-right" data-equalizer-watch>
      <h3 class="geb-heading">{{ ez_content_name( content ) }}</h3>
      {% if content.fields['title'] is defined and not ez_field_is_empty(content, 'title') %}
        <p>{{ ez_field_value(content, 'title')}}</p>
      {% endif %}
    </div>
  </div>
  <div class="columns large-9 small-6">
    <div class="row">
      {% if relationsContent.featured is defined and relationsContent.featured|length > 0 %}
        {% for highlight in relationsContent.featured %}
          <div class="medium-4">
            <div class="geb-card-a is-promo{% if loop.first %} is-primary {% elseif loop.last %} is-terciary {% else %} is-secondary{% endif %}" data-equalizer-watch>
              <h3 class="geb-card-a__title">
               {% if highlight.content.fields['title_promo'] is defined and not ez_field_is_empty(highlight.content, 'title_promo') %}
                  {{ez_render_field(highlight.content, 'title_promo')}}
              {% elseif  highlight.content.fields['subtitle_promo'] is defined and not ez_field_is_empty(highlight.content, 'subtitle_promo') %}
                {{ez_render_field(highlight.content, 'subtitle_promo')}}
              {% else %}
                {{ez_content_name(highlight.content)}}
              {% endif %}
              </h3>
              <p>
                {% if highlight.content.fields['short_description'] is defined and not ez_field_is_empty(highlight.content, 'short_description') %}
                  {{ ez_render_field(highlight.content, 'short_description')}}
                {% elseif highlight.content.fields['description_promo'] is defined and not ez_field_is_empty(highlight.content,'description_promo')%}
                  {{ ez_render_field(highlight.content, 'description_promo')}}
                {% endif %}
              </p>
              {% if highlight.content.fields['link'] is defined and not ez_field_is_empty(highlight.content, 'link') %}
                {% set url = ez_field_value(highlight.content, "link") %}
              {% else %}
                {% set url = ez_path(highlight.location) %}
              {% endif %}
              <a class="geb-card-a__link" href="{{url}}" title="{{ ez_content_name( highlight.content ) }}">
                  VER MÁS<span data-icon="arrow-right" class="u-ml-1"></span>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
