{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set size = 3 %}

<div class="row collapse" data-equalizer>
  {% if relationsContent is defined and relationsContent|length > 0 %}
    {% for new in relationsContent.news %}
    <div class="columns large-{{size}} small-6">
      <figure class="geb-card-c {% if loop.index0 == 1 %} geb-card-c--darken{% endif %}" data-equalizer-watch>
        <div class="geb-card-c__wrap-img">
          {% if validation.has_content(new.content, 'promo_image') %}
              {{ ez_render_field(new.content, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
              'alias':'promo_thumbnail' } ) }}
          {% endif %}
         </div>
        <figcaption>
          <a href="{{ez_path(new.location)}}">
            {{ ez_content_name( new.content ) }}
          </a>
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  {% endif %}
  <div class="columns large-{{size}} small-6 ">
    <div class="geb-card-a geb-card-a--indicator-left text-left" data-equalizer-watch>
      <h1 class="geb-heading">{{ ez_content_name( content ) }}</h1>
      {% if content.fields['title'] is defined and not ez_field_is_empty(content, 'title')%}
        <p>{{ ez_field_value(content, 'title')}}</p>
      {% endif %}
      {% if relationsContent.link is defined %}
        <a href="{{ez_path(relationsContent.link.location)}}" class="u-move-right-on-hover u-iblock u-mb-6">
          <strong>VER MÁS</strong>
          <span data-icon="arrow-right" class="u-ml-1"></span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
