{% import "@Transmision/Macros/validation.html.twig" as validation %}

<div class="row collapse" data-equalizer>
    {% if relationsContent.featured_contents is defined and relationsContent.featured_contents|length > 0 %}
        {% for highlight in relationsContent.featured_contents %}
            <div class="small-12 large-3">
                <div class="geb-card-a is-promo{% if loop.first %} is-primary {% else %} is-secondary{% endif %}" data-equalizer-watch>
                    <h3 class="geb-card-a__title">
                        {{ ez_content_name( highlight.content ) }}
                    </h3>
                    <p>
                    {% if highlight.content.fields['short_description'] is defined and not ez_field_is_empty(highlight.content, 'short_description') %}
                        {{ ez_render_field(highlight.content, 'short_description')}}
                    {% elseif highlight.content.fields['description_promo'] is defined and not ez_field_is_empty(highlight.content,'description_promo')%}
                        {{ ez_render_field(highlight.content, 'description_promo')}}
                    {% endif %}
                    </p>
                    <a class="geb-card-a__link" href="{{ez_path(highlight.location)}}" title="{{ ez_content_name( highlight.content ) }}">
                        VER MÁS<span data-icon="arrow-right" class="u-ml-1"></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if relationsContent.featured_multimedia is defined %}
        <div class="small-12 large-6">
            {% if  validation.has_content(relationsContent.featured_multimedia.content, 'plugin_code') %}
                {{ ez_render_field(relationsContent.featured_multimedia.content, 'plugin_code')}}
            {% elseif validation.has_content(relationsContent.featured_multimedia.content, 'url_video')   %}
                {% set url =ez_field_value(relationsContent.featured_multimedia.content,'url_video') %}
                <div class="geb-banner-b" data-equalizer-watch>
                    <iframe src="{{url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
