{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% if variationType == 'left'%}
    {% set arrowDir = 'is-left' %}
{% elseif variationType == 'right' %}
    {% set arrowDir = 'is-right' %}
{% else %}
    {% set arrowDir = null  %}
{% endif %}

<div class="row collapse block-3-columns-one-salient{% if arrowDir %} {{arrowDir}}{% endif %}">
    <div class="block-3-columns-one-salient__item{% if arrowDir is not null %} is-left{% endif %}">
        <div class="geb-card-a" data-equalizer-watch>
            <h3 class="geb-heading">
                {% if validation.has_content(content, 'title_promo') %}
                    {{ez_field_value(content, 'title_promo')}}
                {% else %}
                    {{ ez_content_name( content ) }}
                {% endif %}
            </h3>
            <p>
            {% if validation.has_content(content, 'subtitle_promo') %}
                {{ez_field_value(content, 'subtitle_promo')}}
            {% elseif validation.has_content(content, 'short_description') %}
                {{ez_render_field(content, 'short_description')}}
            {% endif %}
            </p>
            <a href="{{ path( "ez_urlalias", {"contentId": contentId} ) }}" class="u-move-right-on-hover u-iblock">
                <strong>VER MÁS</strong>
                <span data-icon="arrow-right" class="u-ml-1"></span>
            </a>
        </div>
    </div>
    <div class="block-3-columns-one-salient__item is-right">
        {% if children|length > 0 %}
            {% for item in children %}
                {% if validation.has_content(item, 'promo_image') %}
                    <figure class="geb-banner-b">
                        {{ ez_render_field(item, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
                                'alias':'promo_large' } ) }}
                        <figcaption class="geb-banner-b__caption">
                            {# <h4>{{ ez_content_name( content ) }}</h4> #}
                            <a class="geb-link" href="{{ path( "ez_urlalias", {"contentId": item.id} ) }}">
                                VER MÁS<span data-icon="arrow-right" class="u-ml-1"></span>
                            </a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        {% else %}
            <figure class="geb-banner-b">
                {{ ez_render_field(content, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
                                        'alias':'promo_large' } ) }}
                <figcaption class="geb-banner-b__caption">
                    <a class="geb-link" href="{{ path( "ez_urlalias", {"contentId": contentId} ) }}">
                        VER MÁS<span data-icon="arrow-right" class="u-ml-1"></span>
                    </a>
                </figcaption>
            </figure>
        {% endif %}
    </div>
</div>