{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set size = 3 %}

<div class="row collapse" data-equalizer>
    {% if children|length > 0 %}
        {% for new in children %}
        <div class="columns large-{{size}} small-6">
            <figure class="geb-card-c {% if loop.index0 == 1 %} geb-card-c--darken{% endif %}" data-equalizer-watch>
                    <div class="geb-card-c__wrap-img">
                        {% if validation.has_content(new, 'promo_image') %}
                            {{ ez_render_field(new, 'promo_image', {'template':'@ezdesign/Fields/ezimage.html.twig',
                            'alias':'promo_thumbnail' } ) }}
                        {% endif %}
                    </div>
                <figcaption>
                    {% set name = (ez_content_name( new )|length >45)? ez_content_name( new )|slice(0, 45) ~ "..." : ez_content_name( new ) %}
                    <a title="{{ez_content_name( new )}}" href="{{ path( "ez_urlalias", {"contentId": new.versionInfo.contentInfo.id} ) }}">
                        {{ name }}
                    </a>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    {% endif %}
    <div class="columns large-{{size}} small-6 ">
        <div class="geb-card-a geb-card-a--indicator-left text-left" data-equalizer-watch>
            <h1 class="geb-heading">{{ ez_content_name( content ) }}</h1>
            {% if validation.has_content(content, 'short_description')%}
                <p>{{ ez_field_value(content, 'short_description')}}</p>
            {% endif %}
            <a href="{{ path( "ez_urlalias", {"contentId": contentId} ) }}" class="u-move-right-on-hover u-iblock u-mb-6">
                <strong>VER MÁS</strong>
                <span data-icon="arrow-right" class="u-ml-1"></span>
            </a>
        </div>
    </div>
</div>