{% set size = 3 %}

<div class="row collapse" data-equalizer>
  {% for quantity in children %}
    {% set color = '' %}
    {% if ez_field_value(quantity, 'color') == "0" %}
      {% set color = 'terciary' %}
    {% elseif ez_field_value( quantity, 'color' ) == "1" %}
      {% set color = 'primary' %}
    {% elseif ez_field_value( quantity, 'color' ) == "2" %}
      {% set color = 'terciary-light' %}
    {% endif %}

    {% set icon = '' %}
    {% if ez_field_value(quantity, 'icon') == "0" %}
      {% set icon = 'town' %}
    {% elseif ez_field_value( quantity, 'icon' ) == "1" %}
      {% set icon = 'electric-tower-wire' %}
    {% elseif ez_field_value( quantity, 'icon' ) == "2" %}
      {% set icon = 'electric-tower' %}
    {% endif %}

    <div class="columns large-{{size}} small-6{% if loop.first %} geb-layout-home__block-b{% endif %}">
      <div class="geb-card-b geb-flip-card" data-equalizer-watch>
        <div class="geb-flip-card__content">
          <div class="geb-flip-card__front u-bg-{{color}}">
            <span data-icon="{{icon}}"></span>
            <div class="geb-card-b__info u-mt-1">
              {% if quantity.fields['quantity_value'] is defined and not ez_field_is_empty(quantity, 'quantity_value')%}
              <span class="geb-card-b__indicator" data-animate-number>{{ ez_field_value(quantity, 'quantity_value')}}</span>
              {% endif %}
              {% if quantity.fields['title'] is defined and not ez_field_is_empty(quantity, 'title')%}
              <span>{{ ez_field_value(quantity, 'title')}}</span>
              {% endif %}
            </div>
          </div>
          <div class="geb-flip-card__back">
            {% if quantity.fields['short_description'] is defined and not ez_field_is_empty(quantity, 'short_description')%}
              <p>{{ ez_field_value(quantity, 'short_description')}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="columns large-{{size}} small-6 geb-layout-home__block-a">
    <div class="geb-card-a geb-card-a--indicator-left" data-equalizer-watch>
      <h1 class="geb-heading u-mt-3">{{ ez_content_name( content ) }}</h1>
      {% if content.fields['short_description'] is defined and not ez_field_is_empty(content, 'short_description')%}
        <p>{{ ez_field_value(content, 'short_description')}}</p>
      {% endif %}
    </div>
  </div>
</div>