<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css" integrity="sha256-5l8WteQfd84Jq51ydHtcndbGRvgCVE3D0+s97yV4oms=" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ asset('components/masterslider/style/masterslider.min.css','transmision') }}">
<link rel="stylesheet" href="{{ asset('components/masterslider/skins/default/style.min.css','transmision') }}">
<link rel="stylesheet" href="{{ asset('css/bundle.min.css','transmision') }}">
