{{ render( controller( "App\\TransmisionBundle\\Controller\\HeadController::metadataAction", { 'location': location, 'rootLocation': ezplatform.rootLocation } ) ) }}
{{ include('@Transmision/Head/favicons.html.twig') }}