{% if not location is defined %}
  {% set location = ezplatform.rootLocation %}
{% endif %}

<!doctype html>
<html class="no-js" lang="es">
  <head>
    {% block head %}
      {{ include('@Transmision/head.html.twig') }}
    {% endblock %}
    {% block head_style %}
      {{ include('@Transmision/head_style.html.twig') }}
    {% endblock %}
    {% block analytics %}
      {{ include('@Transmision/analytics.html.twig') }}
    {% endblock %}
  </head>
  <body class="body">
    {% block header %}
      {{ render_esi( controller("App\\TransmisionBundle\\Controller\\HeaderController::showAction")) }} 
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
      {{ render_esi( controller("App\\TransmisionBundle\\Controller\\FooterController::showAction")) }}
    {% endblock %}
    {% block footer_script %}
      {{ include('@Transmision/footer_script.html.twig') }}
    {% endblock %}
  </body>
</html>
