{# @todo: handle the unit of the fileSize (si operator in legacy template engine) #}
{% block ezbinaryfile_field %}
{% apply spaceless %}
    {% if not ez_field_is_empty( content, field ) %}
        {% set download_route = ez_route('ez_content_download', {
            'content': content,
            'fieldIdentifier': field.fieldDefIdentifier,
            'version': contentInfo.currentVersionNo
        }) %}
        {% set fileClass = ""  %}
        {% if attr.class is defined %}
    	    {% set fileClass = attr.class %}
        {% endif %} 
        
        {% if download_route.params.filename %}
            <a href="{{ ez_path(download_route) }}" class="{{ fileClass }}" title="{{ field.value.fileName }}">
                <span class="geb-list-archive__item-icon u-mt-0" data-icon="arrow-down-circle"></span> 
                <span class="geb-list-archive__item-content">
                    {{ field.value.fileName }}
                </span>
            </a>
        {% endif %}
    {% endif %}
{% endapply %}
{% endblock %}