
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -m-4">
        {% for column in columnList %}
             <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center bg-gray-100 p-6 rounded-lg">
                {{dump(column)}}
                 {{ render( controller( "App\\CoreBundle\\Controller\\BlockController:showColumnistAction", { 'contentId': ez_field_value(column.content, 'columnist').destinationContentId } ) ) }}
                <p class="leading-relaxed">{{ez_render_field(column.content,'short_decription')}}</p>
                
                </div>
            </div>
        {% endfor %}
    </div>
  </div>


