
{{ ez_render_field(content, 'photo', {
    'parameters': {
        'alias': 'image_perfil',
        'class': 'w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100'
    }
}) }}

<h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">{{ez_render_field(content,'title')}}</h2>
<span class="inline-block h-1 w-10 rounded bg-blue-300 mt-1 mb-1"></span>

