  {% apply spaceless %}
    {% if content.fields['file'] is defined and not ez_field_is_empty (content, 'file')%}  
        {% set svgField = ez_field(content, 'file') %}
       <img width="37" height="37" src={{ ibexa_svg_link(content.versionInfo.contentInfo.id, 'file', svgField.value.fileName) }}  alt="">  
      {% endif %} 
  {% endapply %}