{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% extends "@Transmision/layout.html.twig" %}

{% set colorList = ["red", "blue", "yellow", "green", "darkblue", "lime"] %}
{% set color = colorList[ez_field_value(content, "color").selection|first] %}


{% block content %}
	<div class="geb-banner">
		{% if validation.has_content(content,'header_image') %}
			<div class="geb-banner-bg">
				{{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                    'transmision_header' } ) }}
			</div>
		{% endif %}
		<div class="geb-banner-content u-pt-10 u-pb-8">
			<div class="grid-container">
				<div class="cell">
					{{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
					<h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="row u-my-10">
			<aside class="geb-page-aside column small-12 large-3 u-mb-14">
				{{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id, 'publishOrdered': true, 'inergiaLogo':true })) }}
				{% if press_releases_inergia %}
					{{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::highlightedItemsSidebarAction", { 'locationId': location.parentLocationId })) }}
				{% endif %}
			</aside>
			<main class="geb-page-main column small-12 large-9">
				<div class="row">
					{% for year, months in press_releases_filtered %}
						{% for month, press_releases in months %}
							<div class="column small-12">
								<h2>{{month ~ ' ' ~ year}}</h2>
								<hr/>
							</div>
							{% for press_release in press_releases %}
								<div class="column small-12 medium-6 large-4 u-pb-5">
									<a href="{{ path( "ez_urlalias", {"contentId": press_release.versionInfo.contentInfo.id} ) }}">
										<article class="project-item u-bg-category-{{color}}">
											{% if validation.has_content(press_release,'image')%}
												{{ ez_render_field( press_release, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias': 'inergia_category_promo' } ) }}
											{% endif %}
											<div class="project-item__content">
												<h3 class="project-item__title">{{ez_field_value(press_release, 'title_promo')}}</h3>
												<p>{{ validation.format_date_es(ez_field_value( press_release, "date" )|capitalize) }}</p>
												{% if validation.has_content(press_release,'subtitle_promo')%}
													{{ez_field_value(press_release, 'subtitle_promo')}}
												{% endif %}
											</div>
										</article>
									</a>
								</div>
							{% endfor %}
						{% endfor %}
					{% endfor %}
				</div>
			</main>
		</div>
	</div>
{% endblock %}
