{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-layout-home">
        <div class="geb-banner is-type-b">
            <div class="geb-banner-bg">
                {% if validation.has_content(content,'header_image')%}
                    {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                'transmision_header' } ) }}
                {% endif %}
            </div>
            <div class="geb-banner-content">
                <div class="grid-container">
                    <div class="cell">
                        <div class="geb-banner-content-inner">
                            <div class="cell">
                                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                                <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="row u-my-2">
                <aside class="geb-page-aside column small-12 large-3 u-mb-14">
                    {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::customSidebarAction", { 'locationId': location.id })) }}
                </aside>
                <div class="geb-page-main column small-12 large-9">
                    <main>
                        <div class="tile is-overexposed is-bg-light">
                            <div class="tile__header">
                                <h2 class="tile__title">{{ ez_render_field( content, 'subtitle' )}}</h2>
                            </div>
                            <div class="tile__content" data-gallery>
                                {% if validation.has_content(content, 'video_promo') %}
                                    {{ ez_render_field( content, 'video_promo', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'large' } ) }}
                                {% elseif validation.has_content(content, 'video_promo_youtube') %}
                                    <iframe src={{ez_field_value(content,'video_promo_youtube').link}} frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="tile__cover"
                                        allowfullscreen></iframe>
                                {% elseif validation.has_content(content, 'promo_image') %}
                                    {{ ez_render_field( content, 'promo_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xlarge' } ) }}
                                {% endif %}

                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="row">
                <div class="small-12 u-two-columns-above-laptop">
                    <p>
                        {% if validation.has_content(content, 'description') %}
                            {{ ez_render_field( content, 'description' ) }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {{ ez_render_field( content, "page", { 'locationId': location.id }) }}
    </div>
    <div id="lightbox-gallery" data-lightbox-gallery class="lightbox-gallery">
    <div class="lightbox-gallery__inner">
        <div class="lightbox-gallery__content is-full" data-content>
            <span class="lightbox-gallery__close cursor" data-light-box-close>&times;</span>
        </div>
    </div>
</div>

{% endblock %}
