{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% block content %}
  <div class="geb-banner">
    <div class="geb-banner-content u-pt-10 u-pb-8">
      <div class="grid-container">
        <div class="cell">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
          <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="row u-my-10">
      <aside class="geb-page-aside column small-12 large-3 u-mb-14">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id, 'contentTypeNav':'sidenav_infopage' })) }}
      </aside>
      <main class="geb-page-main column small-12 large-9">
              {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getGalleryProjectAction", { 'locationId': location.id, 'type':'gallery_video' })) }}
        
        {{ ez_render_field( content, 'description' ) }}
      </main>
    </div>
  </div>
{% endblock %}
