{% extends '@Transmision/layout.html.twig' %}

{% block content %}
  <div class="geb-layout-home">
      {{ include('@Transmision/slider.html.twig') }}
      <div class="geb-layout-home__main">
        {{ ez_render_field( content, "page", { 'locationId': location.id }) }}
      </div>
  </div>
{% endblock %}
