{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-banner u-pt-10 u-pb-8">
        <div class="grid-container">
            <div class="cell">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="row u-my-10">
            <div class="geb-page-main column small-12">
                {% if validation.has_content(content, 'description') %}
                    {{ez_render_field(content, 'description')}}
                {% endif %}
                <h2>Galería</h2>
                {% if images|length  > 0 %}
                    <div class="geb-slider-b master-slider ms-skin-default" data-masterslider='{"width": 863, "height": 475}'>
                        {% for image in images %}
                            <div class="ms-slide">
                                {% if validation.has_content(image, 'image') %}
                                    {{ ez_render_field( image, 'image', {
                                        'template':'@ezdesign/Fields/gallery/ezimage_alias.html.twig', 'alias':
                                        'image_gallery' } ) }}
                                    <div class="ms-thumb">{{ ez_render_field( image, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'large' } ) }}</div>
                                {% endif %}
                                {% if validation.has_content(image, 'caption') %}
                                    <div class="geb-slider-b__caption">
                                        {{ez_render_field(image, 'caption')}} 
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}