{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% block content %}
  <div class="geb-banner">
    <div class="geb-banner-bg">
      {% if validation.has_content(content,'header_image')%}
           {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'transmision_header' } ) }}
      {% endif %}
    </div>
    <div class="geb-banner-content u-pt-10 u-pb-8">
      <div class="grid-container">
        <div class="cell">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
          <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="row u-my-10">
      <aside class="geb-page-aside column small-12 large-3 u-mb-14">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id, 'contentTypeNav':'sidenav_infopage' })) }}
      </aside>
      <main class="geb-page-main column small-12 large-9">
        {% if validation.has_content(content, 'image') %}
          <div class="text-center u-mb-4">
            {{ ez_render_field( content, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'xlarge' } ) }}
          </div>
        {% endif %}
        {% if validation.has_content(content, 'description') %}
          {{ ez_render_field( content, 'description' ) }}
        {% endif %}
        {% if ez_field_value(content, 'children_view') != "3" %}
          {% for childContent in childrens %}
              <section class="u-bg-neutral u-mt-8 u-p-8">
                  <h3>{{ez_content_name(childContent)}}</h3>
                  <div class="media-object">
                      {% if validation.has_content(childContent, 'image') %}
                          <div class="media-object-section">
                              <div class="thumbnail">
                                  {{ ez_render_field(childContent, 'image', {'template':'@ezdesign/Fields/ezimage_alias.html.twig', 'alias':'children_promo' } ) }}
                              </div>
                          </div>
                      {% endif %}
                      <div class="media-object-section u-pt-5">
                          {% if validation.has_content(childContent, 'short_description') and ez_field_value(content, 'children_view') == "1" %}
                              {{ez_render_field(childContent, 'short_description')}}
                          {% endif %}
                          <p>
                              {% set url = validation.has_content(childContent, 'link')?  ez_field_value(childContent, 'link').link : path( "ez_urlalias", {"contentId": childContent.versionInfo.contentInfo.id} ) %}
                              <a class="u-move-right-on-hover u-iblock " href="{{url}}">
                                  <strong>VER MÁS</strong>
                                  <span class="u-ml-1" data-icon="arrow-right"></span>
                              </a>
                          </p>
                      </div>
                  </div>
              </section>
          {% endfor %}
        {% endif %}
        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getGalleryProjectAction", { 'locationId': location.id, 'type':'gallery' })) }}
        {% if ez_field_value(content, 'children_view') == "3" %}
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getGalleryProjectAction", { 'locationId': location.id, 'type':'gallery_video' })) }}
        {% endif %}
        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getTimelineProjectAction", { 'locationId': location.id, 'type':'timeline' })) }}
      </main>
    </div>
  </div>
{% endblock %}
