{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="inergia-home">
        <div class="geb-layout-home__slider-wrapper">
            <div class="geb-slider master-slider ms-skin-default" data-masterslider='{"width": 2000, "height": 613, "layout": "autofill"}'>
                {% for slide in ez_field_value(content, 'banner').destinationContentIds %}
                    {{ render( controller( "ez_content:viewAction", {"contentId": slide, "viewType": "inergia"} ) ) }}
                {% endfor %}
            </div>
        </div>
        <div class="inergia__cards">
            <div class="row collapse align-top" data-equalizer>
                <div class="columns medium-3 small-12 u-flex">
                    <div class="geb-card-a geb-card-a--indicator-right text-right geb-layout-home__main-block-a" data-equalizer-watch>
                        {% if validation.has_content(content, 'short_description') %} 
                            <h1 class="geb-heading">{{ez_render_field(content, 'short_description')}}</h1>
                        {% endif %}
                        {% if validation.has_content(content, 'content') %}
                            {{ez_render_field(content, 'content')}}
                        {% endif %}
                        <div class="inergia-social">
                            {% for item in ez_field_value(content, 'social_network').destinationContentIds %}
                                 {{ render( controller( "ez_content:viewAction", {"contentId": item, "viewType": "inergia"} ) ) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="columns medium-9 small-12">
                    <div class="row">
                        {% for index, press_release in ez_field_value(content, 'highlighted_items').destinationContentIds %}
                            {% set cardSize = 4 %}
                            {% set alias = 'inergia_promo' %}
                            {% if index == 0 %}
                                {% set cardSize = 8 %}
                                {% set alias = 'inergia_promo_large' %}
                            {% endif %}
                            {% if index == 2 %}
                                {% set cardSize = 12 %}
                                {% set alias = 'inergia_promo_extralarge' %}
                            {% endif %}
                            <div class="column small-12 medium-{{cardSize}}">
                                {{ render( controller( "App\\TransmisionBundle\\Controller\\ViewController::pressReleaseInergiaLandingpageAction", {'contentId': press_release, 'alias':alias} ) ) }}
                            </div>
                        {% endfor %}

                        {% if validation.has_content(inergia_map, 'image') %}
                            <div class="map-image">
                                {{ ez_render_field( inergia_map, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                                'xlarge' } ) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}