{% extends "@Transmision/layout.html.twig" %}

{% block content %}
  <div class="geb-banner u-pt-10 u-pb-8">
    <div class="grid-container">
      <div class="cell">
        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
        <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="row u-my-10">
      <aside class="geb-page-aside column small-12 large-2 u-mb-14">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id })) }}
      </aside>
      <main class="geb-page-main column small-12 large-10">
        {{ ez_render_field( content, 'content' ) }}
      </main>
    </div>
  </div>
{% endblock %}
