{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-banner u-pt-10 u-pb-8">
        <div class="grid-container">
            <div class="cell">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="row u-my-10">
            <aside class="geb-page-aside column small-12 large-3 u-mb-14">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id })) }}
            </aside>
            <main class="geb-page-main column small-12 large-9">
                <div class="row">
                    <div class="column small-4">
                        {% if validation.has_content(content, 'photo') %}
                            {{ ez_render_field( content, 'photo', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                                                'xlarge' } ) }}
                        {% endif %}
                    </div>
                    <div class="column small-8">
                        <h3>{{ ez_content_name( content ) }}</h3>
                        {% if validation.has_content(content, 'position') %}
                            <h6>{{ez_field_value(content, 'position')}}</h6>
                        {% endif %}
                    </div>
                    <div class="column small-12 u-mt-4">
                        {% if validation.has_content(content, 'description') %}
                            {{ez_render_field(content, 'description')}}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}