{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}

<div class="geb-banner">
  <div class="geb-banner-bg">
    {% if validation.has_content(content,'header_image') %}
      {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'transmision_header' } ) }}
    {% endif %}
  </div>
  <div class="geb-banner-content u-pt-10 u-pb-8">

      <div class="grid-container">
        <div class="cell">
            {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
          <h1 class="u-semibold">{{ez_content_name(content, 'name')}}</h1>
          {% if validation.has_content(content, 'short_description') %}
            {{ ez_render_field( content, 'short_description' ) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
    <div class="row u-my-10">
      <aside class="geb-page-aside column small-12 large-3 u-mb-14">
          {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarPressAction", { 'locationId': location.id })) }}
      </aside>
      <main class="geb-page-main column small-12 large-9">
        {% if data %}
          <section>
            {% for pressYear in data %}
              {% if pressYear.press_releases is defined and pressYear.press_releases %}
                <h3>
                  {{ pressYear.year.contentInfo.name }}
                </h3>
                <ul>
                  {% for release in pressYear.press_releases %}
                    {% set contentId = release.contentInfo.id %}
                    <li class="u-mb-6">
                      <h5 class="u-mb-0">
                        <a href="{{path( "ez_urlalias", {"contentId": contentId} )}}">
                          {{ez_content_name(release, 'name')}}
                        </a>
                      </h5>
                      {% if validation.has_content(release, 'date') %}
                        <div class="u-mb-1">
                          {{ validation.format_date_es(ez_field_value( release, "date" )|capitalize) }}
                        </div>
                      {% endif %}
                      {% if validation.has_content(release, 'file') %}
                        <div>
                          {{ ez_render_field( release, 'file', { 'template': '@ezdesign/Fields/press_release_files/ez_file.html.twig'}) }}
                        </div>
                      {% endif %}
                      {% if validation.has_content(release, 'file_word') %}
                        <div>
                          {{ ez_render_field( release, 'file_word', { 'template': '@ezdesign/Fields/press_release_files/ez_file.html.twig'} ) }}
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </section>
        {% endif %}
      </main>
    </div>
</div>

{% endblock %}
