{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% set publishOrdered = false %}
{% set inergiaLogo = false %}

{% if colorId is defined and colorId is not empty %}
	{% set inergiaLogo = true %}
	{% set publishOrdered = true  %}
	{% set colorList = ["red", "blue", "yellow", "green", "darkblue", "lime"] %}
	{% set color = colorList[colorId] %}
{% endif %}
{% block content %}
	<div class="geb-banner">
		<div class="geb-banner-bg">
			{% if validation.has_content(content,'header_image') %}
				{{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
            'transmision_header' } ) }}
			{% endif %}
		</div>
		<div class="geb-banner-content u-pt-10 u-pb-8">
			<div class="grid-container">
				<div class="cell">
					{{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
					<h1 class="u-semibold u-mb-0">{{ez_content_name(content)}}</h1>
					{% if validation.has_content(content, 'date') %}
						<p class="u-mb-4">{{ validation.format_date_es(ez_field_value( content, "date" )|capitalize) }}</p>
					{% endif %}
					{% if validation.has_content(content, 'short_description') %}
						{{ ez_render_field( content, 'short_description' ) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="row u-my-10 {% if colorId is defined and colorId is not empty %}geb-inergia-content{% endif %}">
			<aside class="geb-page-aside column small-12 large-3 u-mb-14">
				{{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarPressAction", { 'locationId': location.id, 'publishOrdered': publishOrdered, 'inergiaLogo': inergiaLogo })) }}
			</aside>
			<main class="geb-page-main column small-12 large-9 ">
				<section {% if colorId is defined and colorId is not empty %} class="category-{{color}}" {% endif %}>
					{% if validation.has_content(content, 'image') %}
						<div class="text-center u-mb-4">
							{{ ez_render_field( content, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
              'xlarge' } ) }}
						</div>
					{% endif %}
					{{ ez_render_field( content, 'content' ) }}
					{% if validation.has_content(content, 'file_word') %}
						{{ ez_render_field( content, "file_word", { 'template': '@ezdesign/Fields/press_release_files/ez_file.html.twig'} ) }}
					{% endif %}
					{% if validation.has_content(content, 'file') %}
							{{ ez_render_field( content, "file", { 'template': '@ezdesign/Fields/press_release_files/ez_file.html.twig'} ) }}
					{% endif %}
					{% if validation.has_content(content, 'location') %}
						<p class="u-mt-4">{{ ez_field_value( content, "location" ) }}</p>
					{% endif %}
				</section>
			</main>
		</div>
	</div>
{% endblock %}
