{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}
{% block content %}
    <div class="geb-banner">
        <div class="geb-banner-bg">
            {% if ez_render_field(content,'image_banner') is not null %}
                {{ez_render_field(content,'image_banner')}}
            {% endif %}
        </div>
        <div class="geb-banner-content u-pt-10">
            <div class="grid-container">
                <div class="cell">
                    <div class="u-pb-5">
                        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                    </div>
                    {% if regions is defined and regions | length > 0 %}
                        <ul class="menu expanded geb-banner-menu">
                            {% for region in regions %}
                                <li class="{% if id_region == region.id %} is-active geb-banner-menu--active{% endif %}">
                                    <a href="{% if parent_location %}{{ ez_path(parent_location) }}?region={{region.id}}{% else %}?region={{region.id }}{% endif %}">
                                        {{ ez_content_name( region ) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        {% for region in regions %}
                            {% if region.id == id_region %}
                                <h3 class="u-mt-4 u-medium">
                                    {% if region.fields['subtitle'] is defined and not ez_field_is_empty(region, 'subtitle')%}
                                        {{ ez_field_value( region, 'subtitle' ) }}
                                    {% elseif region.fields['title'] is defined and not ez_field_is_empty(region, 'title')%}
                                        {{ ez_field_value( region, 'title' ) }}
                                    {% endif %}
                                </h3>
                                {% if region.fields['description'] is defined and not ez_field_is_empty(region, 'description')%}
                                    {{ ez_render_field(region,'description')}}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if projects_landingpages is defined and projects_landingpages | length > 0 %}
                        <ul class="menu align-center geb-banner-link">
                            {% for itemLocation in projects_landingpages %}
                                <li class="{% if itemLocation.id == location.id or (parent_location and itemLocation.id == parent_location.id) %} is-active{% endif %}">
                                    <a href="{{ez_path(itemLocation)}}">
                                        {{ itemLocation.contentInfo.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row u-my-23">
        <aside class="geb-page-aside column small-12 large-3 u-mb-14">
            <section class="u-mb-5">
                <h3>
                    {% apply spaceless %}
                        {{ ez_render_field(content, "project_type" , { "template": '@ezdesign/Fields/ez_selection.html.twig' } ) }}
                    {% endapply %}
                </h3>
                <nav class="geb-list u-fs-14">
                    {% if validation.has_content(content, 'title') and validation.has_content(content, 'subtitle') %}
                        <strong>
                                {{ ez_field_value(content, 'title')~'-' }}
                                <span class="u-color-primary">{{ ez_field_value(content, 'subtitle') }}</span>
                        </strong>
                    {% elseif validation.has_content(content, 'title') and ez_field_is_empty(content, 'subtitle') %}
                        <strong>
                            <span class="color_title">
                                {{ez_field_value(content,'title')}}
                            </span>
                        </strong>
                    {% else %}
                        <strong>
                            {{location.contentInfo.name}}
                        </strong>
                    {% endif %}
                </nav>
            </section>
        </aside>

        <main class="geb-page-main column small-12 large-9">
            {% if validation.has_content(content, 'title') and validation.has_content(content, 'subtitle') %}
                <h3>{{ez_field_value(content, 'title') ~' - '}}
                    <span class="u-color-primary">{{ez_field_value(content,'subtitle')}}</span>
                </h3>
            {% else %}
              <h3>{{ez_field_value(content, 'name')}}</h3>
            {% endif %}

            {% if validation.has_content(content, 'image_promo') %}
                {{ ez_render_field(content, 'image_promo', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xlarge', 'class': 'u-mb-4' } ) }}
            {% endif %}
            {% if content.fields['description'] is defined and not ez_field_is_empty(content, 'description')%}
                {{ ez_render_field( content, 'description' ) }}
            {% endif %}

            {% if validation.has_content(content, 'map') %}
                <section class="u-mt-8 row collapse geb-media-card{% if ez_field_is_empty(content, 'description_map') %} u-mb-10{% endif %}">
                    <div class="column small-12 medium-6 large-12 geb-media-card__figure">
                        <figure>
                            {{ ez_render_field(content, 'map', {'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'mapa' } ) }}
                        </figure>
                    </div>
                </section>
            {% endif %}

            {% if content.fields['description_map'] is defined and not ez_field_is_empty(content, 'description_map')%}
                <section class="row collapse geb-media-card u-mb-10 u-bg-terciary">
                    <div class="column small-12 medium-6 large-12">
                        <div class="u-p-6">
                            {{ ez_render_field( content, 'description_map' ) }}
                        </div>
                    </div>
                </section>
            {% endif %}

            {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getDocumentsProjectAction", { 'locationId': location.id, 'type':'documents' })) }}
            {% if content.fields['impact_study'] is defined and not ez_field_is_empty(content, 'impact_study')%}
                {{ ez_render_field(content,'impact_study') }}
            {% endif %}
            {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getGalleryProjectAction", { 'locationId': location.id, 'type':'gallery' })) }}
            {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getGalleryProjectAction", { 'locationId': location.id, 'type':'gallery_video' })) }}
            {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::getTimelineProjectAction", { 'locationId': location.id, 'type':'timeline' })) }}
        </main>
    </div>
{% endblock %}
