{% for  section in  sections %}
<section class="text-gray-600 body-font">
  <div class="container px-2 py-2 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-full md:w-full">
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
          <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
             {{ render( controller( "App\\CoreBundle\\Controller\\BlockController:showIconAction", { 'contentId': ez_field_value(section, 'file').destinationContentId } ) ) }}
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Sección: {{ ez_render_field(section, 'title') }}</h2>
            <p class="leading-relaxed text-base">{{ ez_render_field(section, 'description') }}</p>
            {% for new in news_list[section.versionInfo.contentInfo.id]%}
                <div class="text-gray-600 body-font mt-2">
                    <div class="container mx-auto flex items-center justify-center flex-col">
                        <div class=" w-full">
                        <h3 class="title-font mb-4 font-medium text-gray-900">{{ ez_render_field(new, 'title') }}</h3>
                         {{ ez_render_field(new, 'imagePromo', {
                            'parameters': {
                                'alias': 'head_line',
                                'class': 'lg:w-2/6 md:w-3/6 w-5/6  object-cover object-center rounded'
                            }
                        }) }}
                        <p class="leading-relaxed"> {{ ez_field_value(new, 'short_description')}}</p>
                        {% set routeReference = ez_route("ez_urlalias", { 'locationId':new.versionInfo.contentInfo.mainLocationId }) %}  
                        <a href="{{ ez_path(routeReference) }}" target="_blank" class="mt-3 text-indigo-500 inline-flex items-center">Leer más
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
