<section class="text-gray-600 body-font">
    <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-blue-300"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">{{title}}</h1>
      </div>
    </div>
    {% set valid_items = folder|split(',') %}
    {% for item in valid_items|reverse %}
            {{ render( controller( "App\\CoreBundle\\Controller\\BlockController::newsItemAction", { 'locationId': item } ) ) }}
    {% endfor %}
</section>


    