{{ ez_render_field(notice[0], 'imagenPrimeraPlana', {
    'parameters': {
        'alias': 'front_image'
    }
}) }}
<div class="py-6 my-2">
    {% set routeReference = ez_route("ez_urlalias", { 'locationId':notice[0].versionInfo.contentInfo.mainLocationId }) %}
    <a  href="{{ ez_path(routeReference) }}" target="_blank">   
        <p class="text-7xl bold text-center mx-2">
            {{ ez_field_value(notice[0], 'title')}}
        </p>
    </a>
    <p class="text-sm text-center"> 
        {{ ez_field_value(notice[0], 'short_description')}}
        
    </p>
</div>
<div class="py-2 my-2">
    <p class="text-xl bold text-justify mx-2">
        {{ ez_field_value(notice[0], 'description')}}
    </p>
</div>