
<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 my-4 px-6  border-4 {% if border_color is defined %} {{border_color}} {% endif %} rounded-md hover:bg-cyan-50 hover:ring-cyan-50 hover:shadow-lg hover:scale-105">
    <div class="px-20 py-2" >
    {% set routeReference = ez_route("ez_urlalias", { 'locationId':notice[0].versionInfo.contentInfo.mainLocationId }) %}  
        {{ ez_render_field(notice[0], 'imagePromo', {
            'parameters': {
                'alias': 'head_line',
                'class': 'rounded-tl-lg'
            }
        }) }}
    </div>
    <div class="flex items-center col-span-2 px-2 py-6">
         <a  href="{{ ez_path(routeReference) }}" target="_blank">   
            <p class="text-6xl bold font-mono text-center mx-2">
                {{title}}
            </p>
            <p class="text-xl text-center mx-2">
                {{ ez_field_value(notice[0], 'short_description')}}
            </p>
        </a>
    </div>
</div>
