{% block ezimage_field %}
	{% apply spaceless %}
	<figure 
        {% if parameters.figureClass is defined and parameters.figureClass %} 
            class="{{parameters.figureClass}}" 
        {% endif %} 
        {% if parameters.figureData is defined and parameters.figureData %} 
            {{ parameters.figureData|raw }} 
        {% endif %}
    >
		{% if not ez_field_is_empty(content, field ) %}
			{% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% if imageAlias is defined and imageAlias is not null and imageAlias.uri is defined and imageAlias.uri is not null %}
			{% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
                <img 
                    {% if parameters.dataSrc is defined and parameters.dataSrc %} 
                        data-src="{{ src }}"
                    {% else %} 
                        src="{{ src }}" 
                    {% endif %} 
                    alt="{{ parameters.alternativeText|default(field.value.alternativeText) }}" 
                    {% if imageAlias.width is defined and imageAlias.width %} 
                        width='{{ imageAlias.width }}' 
                    {% endif %} 
                    {% if imageAlias.height is defined and imageAlias.height %} 
                        height='{{ imageAlias.height }}' 
                    {% endif %} 
                    {% if parameters.class is defined and parameters.class %} 
                        class="{{parameters.class}}" 
                    {% endif %} 
                    {% if parameters.styleCustom is defined and parameters.styleCustom %} 
                        style="{{parameters.styleCustom}}" 
                    {% endif %} 
                    {% if parameters.dataHtml is defined and parameters.dataHtml %} 
                        {{ parameters.dataHtml|raw }} 
                    {% endif %}
                />
            {% endif %}
		{% endif %}
	</figure>
	{% endapply %}
{% endblock %}