{% embed "@ezdesign/components/block.html.twig" with { sticky_menu_title: sticky_menu_title|default('') } %}
    {% block content %}
        {% set background_color = background_color == "default" ? "pale_blue" : background_color %}
        <section class="flex pt-8 pb-10 md:pt-27.5 md:pb-28.5 force-full-width md:{{ axp_get_key_value('background_color', background_color) }} {{ apply_gradient ? 'has-gradient' }}">
            <div class="flex flex-col gap-0 md:gap-5.5 full-container text-geb-dark-900">
                <div class="flex w-full mb-0.5 md:mb-0">
                    <div class="w-full pr-2">
                        {% if title %}
                            <h1 class="font-semibold text-2xl-3alt leading-tighter md:text-4xl-2alt md:leading-4xl-2alt mb-1.5">
                                {{ title|striptags('<b>')|replace({'<b>':'<span class="text-geb-bahia">', '</b>':'</span>'})|raw }}
                            </h1>
                        {% endif %}
                        {% if description and description|string_xml_to_html5 %}
                            <div class="text-geb-dark-900 font-medium text-2base md:text-xl">{{description|string_xml_to_html5}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-6.75 md:gap-14.5">
                    {% for item_content in automatic_contents %}
                        <div class="flex flex-col gap-3.75 md:gap-4.5">
                            <div class="mb-1 pl-0.75 md:mb-5">
                                {% set title = axp_has_content(item_content.container, 'promo_title') ? ez_field_value(item_content.container, 'promo_title').text : ez_content_name(item_content.container) %}
                                <h3 class="text-sm leading-6 tracking-tight md:text-xl font-semibold">{{ title }}</h3>
                            </div>

                            {% if item_content.subs is not empty %}
                                <ul class="flex flex-col gap-6.5 md:gap-8.75">
                                    {% for sub in item_content.subs %}
                                        {% set sub_title = axp_has_content(sub, 'promo_title') ? ez_field_value(sub, 'promo_title').text : ez_content_name(sub) %}
                                        {% set sub_cta = sub|get_link %}
                                        {% set sub_date = sub.versionInfo.contentInfo.publishedDate is defined ? sub.versionInfo.contentInfo.publishedDate : sub.versionInfo.creationDate %}
                                        <li>
                                            <a href="{{ sub_cta.url }}" {{ sub_cta.isExternal ? 'target="_blank"' }} class="flex">
                                                <div class="flex w-6 md:w-7.25 flex-shrink-0">
                                                    <i class="w-3 md:w-3.5 mt-1 pt-px text-geb-green-secondary" v-icon:arrow-right-link-alt></i>
                                                </div>
                                                <div class="flex flex-col gap-3 md:gap-1.75">
                                                    <label class="text-xxs-2alt md:text-xs md:leading-loose font-medium tracking-widest uppercase cursor-pointer">{{ sub_date|date("M")|trans({}, "gebweb") ~ ' ' ~ sub_date|date("d") ~ ', ' ~ sub_date|date("Y") }}</label>
                                                    <h4 class="text-sm md:text-2lg md:leading-4tighter font-medium hover:text-geb-dark-600">{{ sub_title }}</h4>
                                                        {% if axp_has_content(sub, 'promo_description') %}
                                                            <div class="text-4xxs leading-relaxed-alt md:text-2xs md:leading-5tighter font-normal md:mt-1.75">
                                                                {{ ez_field_value(sub, 'promo_description')|string_xml_to_html5|striptags('<p><strong><em><u><sub><sup><s>')|raw }}
                                                            </div>
                                                        {% endif %}
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
{% endembed %}