{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-banner is-type-b">
        <div class="geb-banner-bg">
            {% if validation.has_content(content,'header_image')%}
                {{ ez_render_field( content, 'header_image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':
                'transmision_header' } ) }}
            {% endif %}
        </div>
        <div class="geb-banner-content">
            <div class="grid-container">
                <div class="cell">
                    <div class="geb-banner-content-inner">
                        {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': locationId })) }}
                        <h1 class="u-semibold">{{ parentLocation.contentInfo.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="row u-my-10">
            <aside class="geb-page-aside column small-12 large-3 u-mb-14">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': locationId })) }}
            </aside>
            <div class="geb-page-main column small-12 large-9">
                <div class="tile is-overexposed is-bg-light">
                    <div class="tile__header">
                        <h2 class="tile__title">{{ ez_content_name( content ) }}</h2>
                        <form>
                            <select name="year_filter" onchange="this.form.submit()">
                                <option value="" selected="true" >Filtrar por año</option>
                                {% for year in years %}
                                    <option value="{{year.id}}"
                                    {% if yearLocationId == year.id %}
                                        selected="true"
                                    {% endif %}
                                    >{{year.contentInfo.name}}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    {% if items|length > 0 %}
                        <div class="tile__content gallery is-images">
                            <div class="grid" data-gallery-masonry data-gallery="images">
                                <div class="gutter-sizer"></div>
                                <div class="grid-sizer"></div>
                                {% for key, item in items %}
                                    <div class="grid-item gallery__item">
                                        <button class="gallery__action" data-open-lightbox data-current-slide="{{key + 1}}"><span data-icon="plus" class=""></span>
                                        </button>
                                        {{ render( controller( "ez_content:viewAction", {"contentId": item.contentInfo.id, "viewType": "line"} ) ) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="lightbox-gallery" data-lightbox-gallery class="lightbox-gallery">
        <div class="lightbox-gallery__inner">
            <div class="lightbox-gallery__content" data-content>
                <span class="lightbox-gallery__close cursor" data-light-box-close>&times;</span>
                <a class="lightbox-gallery__action is-prev" data-light-box-prev>&#10094;</a>
                <a class="lightbox-gallery__action is-next" data-light-box-next>&#10095;</a>
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}