{{ ez_render_field(content, 'image', {
    template: '@ezdesign/fields/ez_image.html.twig',
    parameters: {
        alias: alias,
        figureClass: figureClass,
        styleCustom: styleCustom|default(''),
        class: class
}}) }}