{% extends "@Transmision/layout.html.twig" %}
{% import "@Transmision/Macros/validation.html.twig" as validation %}

{% block content %}
    <div class="geb-banner u-pt-10 u-pb-8">
        <div class="grid-container">
            <div class="cell">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::breadcrumbsAction", { 'locationId': location.id })) }}
                <h1 class="u-semibold">{{ ez_content_name( content ) }}</h1>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="row u-my-10">
            <aside class="geb-page-aside column small-12 large-3 u-mb-14">
                {{ render( controller("App\\TransmisionBundle\\Controller\\PartsController::sidebarAction", { 'locationId': location.id })) }}
            </aside>
            <main class="geb-page-main column small-12 large-9">
                {% if validation.has_content(content, 'image') %}
                    <div class="text-center u-mb-4">
                        {{ ez_render_field( content, 'image', { 'template':'@ezdesign/Fields/ezimage.html.twig', 'alias':'xlarge' } ) }}
                    </div>
                {% endif %}
                {% if validation.has_content(content, 'description') %}
                    {{ez_render_field(content, 'description')}}
                {% endif %}
                {% for child in children %}
                    <section class="u-bg-neutral u-mt-8 u-p-8">
                        <h3>{{ez_content_name(child)}}</h3>
                        <div class="media-object">
                            {% if validation.has_content(child, 'photo') %}
                                <div class="media-object-section">
                                    <div class="thumbnail">
                                        {{ ez_render_field(child, 'photo', {'template':'@ezdesign/Fields/ezimage_alias.html.twig', 'alias':'children_promo' } ) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="media-object-section u-pt-5">
                                {% if validation.has_content(child, 'position') %}
                                    <h6>{{ez_field_value(child, 'position')}}</h6>
                                {% endif %}
                                {% if validation.has_content(child, 'description') %}
                                    {{ez_render_field(child, 'description')}}
                                {% endif %}
                                <p>
                                    <a class="u-move-right-on-hover u-iblock " href="{{ path( "ez_urlalias", {"contentId": child.versionInfo.contentInfo.id} )}}">
                                        <strong>VER MÁS</strong>
                                        <span class="u-ml-1" data-icon="arrow-right"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </main>
        </div>
    </div>
{% endblock %}
