{# check if a field is not defined or empty #}
{% macro has_content(content, field_name) %}
{% apply spaceless %}
    {{ content.fields[field_name] is defined and not ez_field_is_empty(content, field_name) }}
{% endapply %}
{% endmacro %}

{% macro format_date_es(content) %}
    {% if content %}
        {{ 
            content|date('l, d \\d\\e F \\d\\e Y', "America/Bogota")|replace({
                'January'   : 'Enero',
                'February'  : 'Febrero',
                'March'     : 'Marzo',
                'April'     : 'Abril',
                'May'       : 'Mayo',
                'June'      : 'Junio',
                'July'      : 'Julio',
                'August'    : 'Agosto',
                'September' : 'Septiembre',
                'October'   : 'Octubre',
                'November'  : 'Noviembre',
                'December'  : 'Diciembre',
                'Monday'    : 'Lunes',
                'Tuesday'   : 'Martes',
                'Wednesday' : 'Miercoles',
                'Thursday'  : 'Jueves',
                'Friday'    : 'Viernes',
                'Saturday'  : 'Sabado',
                'Sunday'    : 'Domingo',
            }) 
        }}
    {% endif %}
{% endmacro %}
