{% set location = ezplatform.rootLocation %}
{% extends '@ezdesign/layout/layout.html.twig' %}

{% block content %}
	<div class="container mx-auto">
		<div class="py-15 px-4 md:px-0 md:pt-36 md:pb-96 md:mb-10">
			<h2 class="text-2xl md:text-4xl-2alt md:leading-tighter text-center font-semibold">
				{{ "Sorry, we can't find the page you are looking for"|trans({}, "gebweb") }}
			</h2>
			<div class="flex flex-col items-center justify-center md:flex-row md:items-start md:mt-8 md:-ml-1">
				<div class="flex mt-5 md:mt-0 md:pt-px md:mr-1.5">
					<i class="h-48 w-48 md:h-74 md:w-74 md:pl-px text-gray-150" v-icon:search></i>
				</div>
				<div class="flex flex-col flex-wrap gap-5.5 md:mt-18.5 md:pt-px md:pl-px">
					<p class="text-xl text-gray-500 text-center md:text-left md:text-lg md:pb-px md:leading-relaxed font-medium w-full">
						{{ 'Here is a link that can help you'|trans({}, "gebweb") }}:
					</p>
					<a href="{{ ez_path(location) }}" class="flex justify-center items-center md:w-99.75 min-h-13.75 px-6 md:px-2 py-2 md:-ml-px border border-transparent uppercase text-center text-2xs leading-tighter font-semibold rounded-3sm shadow-2md text-white tracking-2widest bg-geb-green-secondary hover:bg-geb-green-800 focus:outline-none">
					{{ 'Back to the home page'|trans({}, "gebweb") }}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}